/* calendar */
#calendarContainer {
  background-image: url(../img/default/loading.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

div#calendar {
  margin : 0 auto;
  padding : 10px 0;
  text-align : center;
  color: #8F1A44;
  font-size: 1.1em !important;
  background-color: #FFF;
}

/* calendar heading color */
div#calendar img {
	border: 0 none;
}


#calendarPrev, #calendarNext, #container #calendarPrev, #container #calendarNext {
	float: left;
	margin-top: 5px;
	border: 1px solid #DD3333;
	background-color: #DD3333;
	color: #FFF;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	margin-left: 0;
	color:#FFF;
}

div#calendar h2 {
  color : #DD3333;
  font-weight : normal;
  font-family: Futura, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  float: left;
  width: 180px;
}

div#calendar .content {
	clear: left;
	padding-top: 5px;
}

/* list info - monospace font must be used */
ul#days, ul.weeks {
  font-family : 'courier new', monospace;
  list-style-type : none;
  margin : 13px 0;
  clear: left;
}

ul#days {
	position: relative;
	margin-left: 3px;
}

ul.weeks {
	position: relative;
	top: 3px;
}

/* day-box span styles - adjust with padding */ 
ul#days li span {
  background-color : #DD3333;
  border : 1px solid #DD3333;
  cursor : help;
  font-weight : bold;
  color : #fff;
  padding : 6px 6px 6px 7px;
  float: left;
}

/* active links boxes default state - adjust with padding */
ul.weeks li a.al, ul.weeks li a.na  { 
  color : #7F4C5D;
  text-decoration : none !important;
  border : 1px solid #DD3333;
  padding : 6px 6px 6px 7px;
}

/* all states of not-used links */
ul.weeks li a.na, ul.weeks li a.na:hover, ul.weeks li a.na:focus, ul.weeks li a.na:active   { 
  background : transparent;
  color : #7F4C5D;
  cursor : default;
  text-decoration: none !important;
}

/* not used link boxes - color and background should match - adjust with padding */
ul.weeks li a.nu { 
  color : #DD3333 !important;
  padding : 6px 6px 6px 7px;
  border : 1px solid #DD3333;
  background-color : #FFDDDD;
  cursor : default;
  text-decoration: none !important;
}

/* to hide link separators */
span.sep {
  display : none;
}

/* this needs to be in conditional comment for IE only */
div#calendar {
  font-size : 0.9em;
  letter-spacing : 0.001em;
}

/* End calendar */
