@charset "utf-8";
/* CSS Document */

.fan_box .full_widget .connect_top { background-color:#2b2b4b !important;background:#2b2b4b !important;}
/*.fan_box .full_widget .connect_top .clearfix { background-color:#2b2b4b !important;background:#2b2b4b !important; color:#FFFFFF !important;}*/
.fan_box a {color:#FFFFFF !important;}
.connect_widget_like_button .clearfix .like_button_no_like, .connect_widget_like_button .clearfix .like_button_no_like  {background-color:#C7C7C7 !important;}
.fan_box .full_widget .connect_top .clearfix connect_action name_block a {color:#FFFFFF !important;}
.fan_box .full_widget .connect_top .clearfix connect_action name_block a:link {color:#FFFFFF !important;}
.fan_box .full_widget .connect_top .clearfix connect_action name_block a:visited {color:#b8b6da !important;}
.fan_box .full_widget .connect_top .clearfix connect_action name_block a:hover {color:#b8b6da !important;}
.fan_box .full_widget .connect_top .clearfix connect_action name_block a:active {color:#b8b6da !important;}

.fan_box .connect_action .name_block {color:#FFFFFF !important;}
.fan_box .connect_action .name_block a {color:#FFFFFF !important;}
.fan_box .connect_action .name {color:#b8b6da !important;}
.connect_widget .like_button_like .liketext, .connect_widget .like_button_dark .like_button_like .liketext { color:#FFFFFF !important; }
.connect_widget .connect_widget_confirmation {}

fan_box .connections_grid .grid_item .name {color:#5a080f !important; }
.fan_box .full_widget .connections { background-color:#dfdfdf !important; background:#dfdfdf !important; color:#5a080f !important; height:200px; }

.fan_box .full_widget .connections a { background-color:#dfdfdf !important; background:#dfdfdf !important; color:#5a080f !important; }
.fan_box .full_widget .connections a:link {color:#5a080f !important; }
.fan_box .full_widget .connections a:visited {color:#321e2d !important; }
.fan_box .full_widget .connections a:hover {color:#321e2d !important; }
.fan_box .full_widget .connections a:active {color:#321e2d !important; }

.fan_box .full_widget .connections .total .total_plus .hidden_elem { color:#5a080f !important; }
.fan_box .connections .name {color:#5a080f !important;}
.fan_box .full_widget .connections .total .total_plus .hidden_elem .connections_grid .clearfix .grid_item { color:#5a080f !important; }
.fan_box .full_widget .connections .total .total_plus .hidden_elem .connections_grid .clearfix .grid_item:a { color:#5a080f !important; }
