@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'DINRegular';
    src: url('din-webfont.eot');
    src: url('din-webfont.eot?#iefix') format('embedded-opentype'),
         url('din-webfont.woff') format('woff'),
         url('din-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINBold';
    src: url('dinbold-webfont.eot');
    src: url('dinbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinbold-webfont.woff') format('woff'),
         url('dinbold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINBlackAlternate';
    src: url('dinblackalternate-webfont.eot');
    src: url('dinblackalternate-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinblackalternate-webfont.woff') format('woff'),
         url('dinblackalternate-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
	background-attachment:fixed;
	background-position:center top;
}

p {
	text-align:left;
}

a:link { color:#FFFFFF;}

#container-vidriera {
	background:none;
	padding:0 20px 10px;
	margin: 0 auto;
	width:720px;
}

#sidebar {
	float:left;
	width:186px;
	margin-top:-35px;
}
#seguinos {
	background-image:url(../images/seguinos_bg.jpg);
	background-repeat:no-repeat;
	width:186px;
	height:35px;
}
#seguinos-txt {
	float:left;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:95%;
	margin:5px 0 0 5px;
}
#seguinos li {
	float:left;
	margin:5px 0 5px 5px;
}
.seguinos-links {
	display:block;
	width:25px;
	height:25px;
}

.seguinos-links:hover {
	background-position:0;
}

#fb-box {background-color:#bebebe; border-bottom:solid 1px #bebebe;overflow:hidden; width:186px; height:240px; margin-top:-3px; color:#fff;}

#titular {
	font-family:'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:17px;
	color:#878687;
	text-align:left;
	margin-bottom:5px;
}

#tw-feed {
	margin-top:-35px;
	overflow:hidden;
	z-index:1;
	position:relative;
	margin-left:-42px;
}

#principal {
	float:left;
	width:509px;
}

#tabs {
	display: none;
	width:100%;
	float:left;
	border-bottom: 1px solid #FFF;
	padding-bottom:0px;
}

	#tabs li {
		display: block;
		padding: 0 10px;
		color: #777;
		border-right: 1px solid #FFF;
		border-bottom: 0 none;
		float: left;
		cursor: pointer;
		text-transform: uppercase;
		font-family: DINRegular;
		font-size: 15px;
	}
	
	#tabs li:first-child {
		padding-left: 0;
	}
	
	#tabs li:last-child {
		border-right: 0 none
	}
	
	#tabs li.active {
		background-image: none;
		float: left;
		width: auto;
		/*color:#FFF;*/
		color: #333;
		font-weight:normal;
		background-color: transparent;
		font-family: DINRegular;
	}
	
#principal h1,
#principal h2 {
	font-family: DINBold;
	font-size: 17px;
	color: #666;
	margin: 4px 0;
	text-transform: uppercase;
	font-weight: normal;
}

#producto {
	display:block;
	width:720px;
	height:180px;
	border:solid 1px #bebebe;
	margin:0;
	padding:0;
	margin-bottom:10px;
	cursor:pointer;
	z-index:100;
}

#container-vidriera .timing {

	width:720px;
	height:24px;
	bottom:0;
	font:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFFFFF;
	text-algin:center;
	background-color:#000;
	
        /* Theoretically for IE 8 & 9 (more valid) */
        /* ...but not required as filter works too */
        /* should come BEFORE filter */
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";

        /* This works in IE 8 & 9 too */
        /* ... but also 5, 6, 7 */
        filter: alpha(opacity=60);

        /* Older than Firefox 0.9 */
        -moz-opacity:0.6;

        /* Safari 1.x (pre WebKit!) */
        -khtml-opacity: 0.6;

        /* Modern!
        /* Firefox 0.9+, Safari 2?, Chrome any?
        /* Opera 9+, IE 9+ */
        opacity: 0.6;
}


#container-vidriera .timing-new {

	width:720px;
	height:24px;
	bottom:0;
	font:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFFFFF;
	text-algin:center;
	background-color:#000;
	
        /* Theoretically for IE 8 & 9 (more valid) */
        /* ...but not required as filter works too */
        /* should come BEFORE filter */
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

        /* This works in IE 8 & 9 too */
        /* ... but also 5, 6, 7 */
        filter: alpha(opacity=80);

        /* Older than Firefox 0.9 */
        -moz-opacity:0.8;

        /* Safari 1.x (pre WebKit!) */
        -khtml-opacity: 0.8;

        /* Modern!
        /* Firefox 0.9+, Safari 2?, Chrome any?
        /* Opera 9+, IE 9+ */
        opacity: 0.8;
}



#container-vidriera .timing-enviogratis {

	width:720px;
	height:24px;
	bottom:0;
	font:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFFFFF;
	text-algin:center;
	background-color:#ff3333;
	
        /* Theoretically for IE 8 & 9 (more valid) */
        /* ...but not required as filter works too */
        /* should come BEFORE filter */
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";

        /* This works in IE 8 & 9 too */
        /* ... but also 5, 6, 7 */
        filter: alpha(opacity=70);

        /* Older than Firefox 0.9 */
        -moz-opacity:0.7;

        /* Safari 1.x (pre WebKit!) */
        -khtml-opacity: 0.7;

        /* Modern!
        /* Firefox 0.9+, Safari 2?, Chrome any?
        /* Opera 9+, IE 9+ */
        opacity: 0.7;
}

#productoprox {
	display:block;
	width:720px;
	height:180px;
	border:solid 1px #515050;
	margin:0;
	padding:0;
	margin-bottom:10px;
	z-index:100;
	position:relative;
}
/*.calendar {
	width:136px;
	height:18px;
	float:left;
	position:absolute;
	margin:114px 0 0 190px;
	background-image:url(../images/cal_bot_sprite_op.png);
	background-repeat:no-repeat;
} */

#calendar_bg {
	width:178px;
	height:40px;
	float:left;
	position:absolute;
	background-image:url(../images/calendar_bg.png);
	background-repeat:no-repeat;
	bottom:0;
	right:5px;
	opacity: 0.8;
	z-index:10;
}

#calendar_links {
	position:absolute;
	z-index:100;
	bottom:0;
	right:15px;
}

.ical {
	display:block;
	width:34px;
	height:37px;
	background-image:url(../images/ical.png);
	background-repeat:no-repeat;
	float:left;
	margin:0 0 2px 0;
	border:none;
	text-decoration:none;
}

.fb_cal {
	display:block;
	width:31px;
	height:31px;
	background-image:url(../images/fb_cal.png);
	float:left;
	margin:5px 5px 0 0;
	border:none;
	text-decoration:none;
}

/* tooltips */

#calendar_links a.info {
    position:relative;
    z-index:2400;
    color:#bebebe;
    text-decoration:none;
} 
#calendar_links a.info:hover {
    z-index:2500;
} 
#calendar_links a.info span {  /* Esta es la que hace que el texto en el span no se despliegue en el estado normal de la URL */
    display: none;
} 
#calendar_links a.info:hover span {  /* Esta zona es la que hace que se despliegue cuando nos ubicamos sobre el texto de la URL o la imagen dentro de la URL */
    display:block;
    position:absolute;
    top:15px;
    left:15px;
    width:180px;
    border:1px solid #bebebe;
    background-color:#373764;
    color:#dfdfdf;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 5px;
} 


.categoriasGlobales {
	height: 50px;	
}

.categoriasGlobales > li {
	font-size: 14px;
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;
}

	.categoriasGlobales > li div {
		display: none
	}
	
	.categoriasGlobales > li span,
	.categoriasGlobales > li a {
		padding-bottom: 10px;
		border-bottom: 3px solid transparent;
		text-transform: uppercase;
		color: black;
	}
	
	.categoriasGlobales > li:hover span,
	.categoriasGlobales > li:hover a,
	.categoriasGlobales > li.selected span,
	.categoriasGlobales > li.selected a {
		border-bottom: 3px solid black;
	}
	
	.categoriasGlobales > li a:hover {
		text-decoration: none
	}

	.categoriasGlobales > li:hover div.sub {
		display: block;
		position: absolute;
		background-color: white;
		padding: 15px;
		margin-top: 11px;
		z-index: 1000;
		max-width: 540px
	}
	
	.categoriasGlobales > li:hover div.sub > ul > li {
		display: inline-block;
		font-size: 12px;
		margin-right: 10px;
		width: 170px;
		vertical-align: top
	}
	
		.categoriasGlobales > li:hover div.sub > ul > li > a {
			font-weight: bold;
			text-transform: uppercase
		}
		
		.categoriasGlobales > li:hover div.sub > ul ul {
			margin-left: 15px;
			margin-bottom: 10px;
		}
		
		.categoriasGlobales > li:hover div.sub a {
			color: black
		}