.cortinaError_titulo {
    font-family:  Calibri, Tahoma, Arial, Helvetica;
    font-size: 24px;
    color:#880000;
}
.cortinaError_mensaje {
    font-size: 16px;
    font-family: Calibri, Tahoma, Arial, Helvetica;
    color:#FF0000;
}
.cortinaError_boton{
}
.cortinaCargando_titulo{
  font-family:  Calibri, Tahoma, Arial, Helvetica;
  font-size: 24px;
  color:#880000;
}
.cortinaInformacion_titulo{
  font-family:  Calibri, Tahoma, Arial, Helvetica;
  font-size: 24px;
  color:#880000;
}
.cortinaInformacion_mensaje{
    font-size: 16px;
    font-family: Calibri, Tahoma, Arial, Helvetica;
    color:#FF0000;
}
.cortinaInformacion_boton{
}
.cortinaCustom_mensaje{
    font-size: 16px;
    font-family: Calibri, Tahoma, Arial, Helvetica;
    color:#FF0000;
}
.cortinaCustom_titulo{
    font-size: 24px;
    font-family: Calibri, Tahoma, Arial, Helvetica;
    color:#880000;
}
.cortinaCustom_boton{
}
td#tdCortina
{
    padding: 0px;
}
table#tableCortina
{
    z-index:3000;
    margin: auto;
	position:relative;
}
#objCortina > table#tableCortina,
#objCortina2 > table#tableCortina {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0
}
.frameCortina
{
    overflow: hidden;
}