@charset "utf-8";
/* CSS Document */

.main {
	padding: 10px;
}
.tit {
	font-size: 22px;
	font-weight: bold;
	color: #666666;
}
.tit_rojo {
	color: #990000;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #efefef;
	font-size: 12px;
}
