.grey { color:#999; }
#grabContactsHolder { clear:both; width:100%; }
#grabContactsHolder.findFriends { clear:both; width:654px; display:none; }
#grabContactsFormHolder { float:left; width:340px; margin-right:14px; padding:30px 0 10px 0;}
#grabContactsCountTop { padding:0; float:left; width:300px; font-size:13px; line-height:15px; }
#grabContactsManualFormLoading img {vertical-align: middle; margin-right: 10px}
#grabContactsCountTop h2 { padding:10px 0; }
#grabContactsCountTop h3 { padding:0; }
#grabContactsCountBottom { padding:4px 0 20px 0; display:none; }
#grabContactsCountBottom h3 { padding:10px 0 20px 0; }
#grabContactsList { clear:both; border:1px solid #ccc; height:150px; overflow:auto; display:none;}
#grabContactsValidateGodfather,
#grabContactsLoading, #grabContactsManualFormLoading { display:none; }
#grabContactsValidateGodfather a,
#grabContactsLoading a { color:#0066cc; }
#grabContactsValidateGodfather img,
#grabContactsLoading img { vertical-align:middle; padding:0 10px 0 0; }
.grabContactsTableHeader { color:#0066cc; }
.odd { background:#efefef; }
.selectedRow { background:#e7f3ff !important; }
.highlight { color:#d60105; font-weight:bold; }
.inviteSelect,
.inviteInput {
	background:url(../img/inviteInputBg2.jpg) no-repeat;
	width:213px;
	border-width:0;
	font-size:14px;
	height:20px;
	padding:0px 4px 0px 8px;
	color:#999;

}
.select_1_s{
	background:url(../img/inviteInputBg.jpg) no-repeat;
	height:27px;
	width:225px;
	padding:3px 5px;
	background-repeat:no-repeat;
	background-color:#f7f7f7;
	border-style:solid;
	border-width:0;
	font-size:14px;
	color:#999;
}

.inviteSelect { height:27px; background-color:#f7f7f7; }
.inviteInput { height:20px; }
.clear { clear:both !important; }
#grabContactsAdd,
#grabContactsSend,
#grabContactsFindSubmit,
#grabContactsSubmit { cursor:pointer; border:0 !important; background:none !important; outline:none; }
#grabContactsSent { text-align:center !important; font-size:18px; color:#0066cc; background:#e7f3ff; display:none; padding:20px; margin:20px 0 300px 0; }

#grabContactsFindActions { margin:10px 0 0 0; }
#grabContactsFindActions a,
#grabContactsActions p a { color:#aaa !important; }
#grabContactsFindActions img,
#grabContactsActions img { margin:0 0 10px 0; }
#grabContactsFindActions { display:none; }
#grabContactsFindSend { cursor:pointer; }

a.blue { color:#0066cc; }
a.blue img { vertical-align:middle; }

.providersRow img { margin:0 2px; }