@charset "utf-8";
/* CSS Document */

.col_izquierda {
	width:48%;
	padding:0 5px 5px 5px;
	float:left;
	overflow:auto;
}

.col_derecha {
	width:48%;
	padding:0 5px 5px 5px;
	float:right;
	overflow:auto;
}

#divisi {
	float:left;
	width:5px;
	background-image:url(../img/divisor_v.jpg);
	background-repeat:repeat-y;
	margin-top:5px;
	height:145px;
}

.unfloat {
	clear:both;
	text-align:center;
	padding-top:10px;
}

.legal {
	font-size:11px;
	color:#777;
}

#proc-reg {
	width:405px;
	height:50px;
	float:left;
	background-image:url(../img/timeline_bg.jpg);
	background-repeat:repeat-x;
	font-size:18px;
	font-weight:bold;
	color:#4b2a44;
	padding:20px 10px 0 10px;
}

div.timeline-on {
	width:85px;
	height:70px;
	float:left;
	background-image:url(../img/timeline_on.jpg);
	background-repeat:no-repeat;
}

div.timeline-on p {
	font-size:15px;
	line-height:80%;
	text-align:center;
	color:#4b2a44;
	padding:5px;
	font-weight:bold;
}

div.timeline-off {
	width:85px;
	height:70px;
	float:left;
	background-image:url(../img/timeline_off.jpg);
	background-repeat:no-repeat;
}

div.timeline-off p {
	font-size:12px;
	font-weight:bold;
	text-align:center;
	color:#81708f;
	padding:5px;
}
.step2 li {
	border:solid 1px #B8B6DA;
	overflow:auto;
	margin: 5px 5px 10px 5px;
	background-color:#eeeeee;
	width:45%;
	padding:10px;
	float:left;
	overflow:auto;
	height:112px;
}
#Padrino {
	overflow:auto;
	margin-top:10px;
}
#Huerfano {
	margin-top:10px;
}
.redes {
	float:left;
	margin:3px 10px 0 0;
}
