@import url("inc.reset.css");

html {overflow:-moz-scrollbars-vertical;}
body {font-family:Arial, Helvetica, sans-serif; font-size:11px; margin:0;}

a:hover {text-decoration:underline;}
.clearBoth {clear:both !important;}
.alignCenter {text-align:center !important;}
.noBorder {border:0 !important;}

ul#menu {width:100%; float:left; position:relative; top:0; font-family:"Calibri", Arial, Helvetica, sans-serif; background:url(../images/menu_bg.gif) repeat-x;}

ul#menu li {width:80px; float:left; display:inline; margin:0 0 0 1px; text-align:center; font-size:12px; background:#ddd;}

ul#menu li a {width:80px; display:block; color:#333; text-decoration:none; padding:5px 0;}
ul#menu li a:hover, ul#menu li.selected a {background:#999; color:#fff;}
ul#menu li.selected {border-bottom:5px solid #333;}

ul#menu li.title {width:120px; font-size:17px; background:#333 !important; color:#fff; font-weight:bold; padding:5px 0;}
ul#menu li.title:hover {border:0;}

ul#menu li.right {width:auto; float:right; border-left:1px solid #fff;}
ul#menu li.right a {width:auto; float:left; padding:0 5px; margin:5px 0;}
ul#menu li.right a:hover {background:none; text-decoration:underline; color:#333;}
ul#menu li.right a.selected {text-decoration:underline;}
ul#menu li.right span {width:auto; float:left; padding:0 5px; margin:5px 0; color:#888; border-right:1px solid #999;}

#wrap {width:960px; margin:0 auto 0;}

#wrap h1 {width:955px; float:left; margin:20px 0 0; border-bottom:1px dashed #ccc; padding:0 0 5px 5px; font-size:24px; letter-spacing:-2px; color:#333; font-family:"Calibri", Arial, Helvetica, sans-serif;}

#wrap .error, #wrap .warning {width:100%; height:100%; position:absolute; left:0; top:0; background:url(../images/blur_bg.png);}
#wrap .error div, #wrap .warning div {width:500px; text-align:center; float:left; position:relative; margin:-150px 0 0 -251px; left:50%; top:50%; line-height:14px; color:#333; padding:20px; background-position:529px 5px; background-repeat:no-repeat; border-width:1px; border-style:solid; cursor:pointer; font-size:18px; letter-spacing:0;}
#wrap .error div {background-color:#faa; background-image:url(../images/icons/close_error.gif); border-color:#f00;}

#wrap .warning div {background-color:#ff9; background-image:url(../images/icons/close_warning.gif); border-color:#f90;}

table {width:100%; float:left; margin:10px 0;}

table.login {width:300px; margin:10px auto;}
table.login td {padding:5px 2px;}
table.login td.label {width:50px; text-align:right;}

table.login .button, table.form .button {text-align:right !important;}

table.form input, table.form select, table.form textarea {width:300px;}
table.form textarea {height:120px; overflow:auto;}
table.form .label {width:150px; padding-right:20px; text-align:right; vertical-align:top; font-weight:bold; font-size:12px; line-height:20px;}
table.form .label small {font-weight:normal; font-size:10px; color:#666;}

th {border-left:1px solid #666; border-top:1px solid #666; font-size:12px; color:#fff; background:#333; padding:5px;}

tr.order th a {color:#fff; text-decoration:none; background:url(../images/icons/up_down.gif) no-repeat right; padding:0 10px 0 0;}
tr.order th a:hover {text-decoration:underline;}

th.action {text-align:right; background:#fff; border:0; padding:0 0 5px;}
th.action a {color:#333; text-decoration:none; font-size:11px; padding:5px; margin:0 0 0 5px;}
th.action a:hover {background:#333; color:#fff;}
th.action img {vertical-align:middle;}

tr:hover td {background:#FBF7E6 !important;}
tr.noHover:hover td, tr:hover td.noHover, table.form tr td {background:none !important;}
tr.row0 td {background:#eee;}
tr.row1 td {background:#ddd;}

td {padding:4px; border-bottom:1px solid #ccc;}
td a.name {color:#333;}
td.delete, td.edit {width:30px; text-align:center;}
td input, td select {width:98%; border:1px solid #999;}
input.checkbox {width:auto !important; height:auto !important; border:0 !important;}

td.button {text-align:center;}
td.button input, th.action input, #wrap h1 input {width:auto; border-width:2px; border-style:solid; border-color:#eee #ccc #ccc #eee; color:#333 !important; padding:2px; cursor:pointer; font-family:"Calibri", Arial, Helvetica, sans-serif; padding:2px 2px 2px 20px; background-position:3px 3px; background-repeat:no-repeat; background-color:#ddd;}
#wrap h1 input {display:inline; margin:0 0 0 5px !important; position:relative; top:-3px;}
td.button input {margin:0 5px;}
#wrap h1 select {margin:-1px 0 0 0; letter-spacing:normal; float:right;}

table.promo td.button {width:150px;}
table.promo td.button input {float:left;}

input.noIcon {padding-left:4px !important;}
input.noText {background-position:6px 3px !important;}
input.volver {background:#333 url(../images/icons/back.png) no-repeat; float:left;}
input.export {background:url(../images/icons/download.png);}
input.agregarUsuario {background:url(../images/icons/user_add.png);}
input.editarUsuario {background:url(../images/icons/user_edit.png);}
input.agregarPregunta {background:url(../images/icons/pregunta_add.png);}
input.editarPregunta {background:url(../images/icons/pregunta_edit.png);}
input.agregar {background:url(../images/icons/generic_add.png);}
input.editar {background:url(../images/icons/generic_edit.png);}
input.borrar {background:url(../images/icons/generic_delete.png);}
input.true {background:url(../images/icons/true.png);}
input.false {background:url(../images/icons/false.png);}

td.shadow {text-align:center; padding:0 !important; border-bottom:0;}
td.shadow img {vertical-align:top;}

#wrap h1 .totales {font-size:14px; float:right; text-align:right; letter-spacing:0; padding:5px; background:#ddd; -moz-border-radius:5px; -webkit-border-radius:5px;}
#wrap h1 .totales span {padding:0 5px; color:#333; float:left;}
#wrap h1 .totales strong {font-weight:bold; font-size:12px; color:#666;}

.paginacion {float:right; font-weight:normal; font-size:12px; letter-spacing:0; padding:5px; margin:0 5px 0 25px; background:#ddd; -moz-border-radius:5px; -webkit-border-radius:5px;}
td .paginacion {margin-right:1px !important;}
.paginacion a {font-weight:bold; color:#666; text-decoration:none; padding:0 5px;}
.paginacion a:hover {color:#333;}
.paginacion strong {font-weight:bold;}
.paginacion select {width:90px; font-size:11px;}
.paginacion select {margin:-1px 0 -4px;}
.labelExt {width:50px; background:#333; color:#fff; float:left; font-size:11px; left:-5px; margin:0 0 0 -20px; padding:3px 0; position:relative; text-align:center; -moz-border-radius-topleft:3px; -webkit-border-top-left-radius:3px;-moz-border-radius-bottomleft:3px; -webkit-border-bottom-left-radius:3px;}

.calendar .containerTable {margin:0 !important; width:auto !important;}
.calendar .containerTable .td {border:0 !important; padding:0 5px 0 0 !important;}
.calendar .labeltext {float:left; padding:0 5px 0 0; height:15px; line-height:15px; font-size:12px;}
.calendar .calendarDateInput {width:60px !important;}

.calendario table {float:none; margin:0; width:auto;}
.calendario td.calendarDateInput {width:auto; padding:2px;}

#output {
  width:400px;
  height:100px;
  margin:15px 0 15px -218px;
  float:left;
  position:relative;
  left:50%;
  padding:15px;
  border:5px solid #000;
  background:#ccc;
  overflow:auto;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -khtml-border-radius:5px;
  border-radius:5px;
  display:none;
  cursor:pointer;
}