@charset "utf-8";
body {
	background-image: url(img/bg_03.jpg);
	background-position: center;
	font-family: Arial, Helvetica, sans-serif;
	margin:0;
	padding-top:150px;
    }
.preload{
	width: 0px;
	height: 0px;
	display: none;
}

#container {
	margin-left:auto;
	margin-right:auto;
	width: 630px;
	height: 282px;
	background-image:url(img/bg_op.jpg);
}

#select {
	position:relative;
	top:148px;
	left:22px;
	background-color:#0033FF;
}

#argentina {
	float:left;
	padding-right:13px;
	width:186px;
	height:107px;
	position:relative;
	background-image:url(img/bot_ar.jpg);
	background-repeat: no-repeat;
}

#argentina:hover {
	background-position:0px -107px;
}

#mexico {
	float:left;
	padding-right:13px;
	width:186px;
	height:107px;
	position:relative;
	background-image:url(img/bot_mx.jpg);
	background-repeat: no-repeat;
}

#mexico:hover {
	background-position:0px -107px;
}

#colombia {
	float:left;
	padding-right:13px;
	width:186px;
	height:107px;
	position:relative;
	background-image:url(img/bot_co.jpg);
	background-repeat: no-repeat;
}

#colombia:hover {
	background-position:0px -107px;
}

/* codigo preexistente */

a#argentina {
	display:block;
	background:url(img/login_10.png) top left no-repeat;
	height: 119px;
	width: 196px;
	text-indent:-9999px;
}
a#argentina:hover {
	background:url(img/act_10.png) top left no-repeat;
}
a#mexico {
	display:block;
	background:url(img/login_11.png) top left no-repeat;
	height: 119px;
	width: 196px;
	text-indent:-9999px;
}
a#mexico:hover {
	background:url(img/act_11.png) top left no-repeat;
}
.pie {
	font-size: 9px;
	color: #FFFFFF;
}
