@charset "utf-8";
body {
	background-image: url(img/bg-nite-xmas_1920x1200px_op.jpg);
	background-position: center;
	background-attachment: fixed;
	font-family: Arial, Helvetica, sans-serif;
    }
.preload{
	width: 0px;
	height: 0px;
	display: none;
}
a#argentina {
	display:block;
	background:url(img/login_10.png) top left no-repeat;
	height: 119px;
	width: 196px;
	text-indent:-9999px;
}
a#argentina:hover {
	background:url(img/act_10.png) top left no-repeat;
}
a#mexico {
	display:block;
	background:url(img/login_11.png) top left no-repeat;
	height: 119px;
	width: 196px;
	text-indent:-9999px;
}
a#mexico:hover {
	background:url(img/act_11.png) top left no-repeat;
}
.pie {
	font-size: 9px;
	color: #FFFFFF;
}
