@charset "utf-8";
/* CSS Document */

.col_izquierda {
	width:48%;
	padding:0 5px 5px 5px;
	float:left;
}

.col_izquierda h1 {
	font-size:1.4em;
	text-align:left;
	color:#4B2A44;
}

.col_izquierda h2 {
	color:#4B2A44;
	font-weight:bold;
	font-size:0.9em;	
}

.col_izquierda p {
	font-size:0.9em;
}

.col_derecha {
	width:48%;
	padding:0 5px 5px 5px;
	float:right;
}

.unfloat {
	clear:both;
	text-align:center;
	padding-top:10px;
}

#titulo	{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#FFFFFF;
}

#proc-reg {
	width:435px;
	height:50px;
	float:left;
	background-image:url(images/procesoderegistracion.jpg);
	background-repeat:no-repeat;
	background-position:left;
	text-indent:-999px;
	font-size:18px;
	font-weight:bold;
	color:#4b2a44;
	padding:20px 10px 0 10px;
}

div.timeline-on {
	width:85px;
	height:70px;
	float:left;
	background-image:url(img/timeline_on.jpg);
	background-repeat:no-repeat;
}

div.timeline-on p {
	font-size:13px;
	line-height:80%;
	text-align:center;
	color:#4b2a44;
	padding:5px;
	font-weight:bold;
	line-height: 0.7;
}

div.timeline-off {
	width:85px;
	height:70px;
	float:left;
	background-image:url(img/timeline_off.jpg);
	background-repeat:no-repeat;
}

div.timeline-off p {
	font-size:12px;
	font-weight:bold;
	text-align:center;
	color:#81708f;
	padding:5px;
	line-height: 0.7;
}