@charset "iso-8859-1";

#info {
	float: left;
	width: 330px;
	padding:10px 10px 0 10px;
}

#video {
	float:left;
	width:300px;
	height:50px;
	padding:35px 10px 10px 10px;
}

#destacado {
	font-family:Georgia;
	font-size:14px;
	font-style:italic;
	font-weight:bold;
	color: #777777;
	padding:0 10px 0 10px;
}

.benefits {
	width:150px;
	float:left;
	padding:5px 10px 0 10px;
}
.boton {
	clear:both;
	width:450px;
	margin:auto;
	padding:5px 15px 15px 15px;
}