* {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%
}

.clear { clear: both; }

#container {
	margin: 10px auto;
	width: 860px;
	font-size: 1.3em;
}
	#container a {
		color: #DD3333;
		font-weight: bold;
	}
	
	#container a#calendarPrev, #container a#calendarNext {
		color: #FFFFFF;
	}

	#container.listadocontainer {
		width: auto;
		padding: 10px;
		margin: 0;
	}
	
	#container.blogstyle ul {
		padding-left:35px;
		margin-bottom:15px;
	}
	
	#container.blogstyle p {
		margin-bottom: 10px;
	}

#main {
	float: left;
	width: 570px;
	margin-right: 10px;	
}

#extra {
	float: right;
}

h1 {
	color: #DD3333;
	font-weight: normal;
	font-size: 1.5em;
	margin: 20px 0;
}

#mainStats {
	
}
		
	#mainStats th.left {
		width: 100px;
	}
	
	#mainStats td {
		width: 20%;
		vertical-align: middle;
		text-align: center;
	}

#calendarContainer {
	height: 270px;
}

#products {
	border: 1px solid #66C;
	background-color: #DFDFF4;
	color: #66C;
	padding: 20px 20px 0 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

#sales {
	border: 1px solid #019934;
	background-color: #D9FFE6;
	color: #019934;
	padding: 20px 20px 0 20px;
	font-weight: bold;
	font-size: 1.1em;
}

	dt {
		clear: both;
		float: left;
	}
	
	dd {
		text-align: right;
		overflow: hidden;
		width: 70px;
	}
		
		#sales dt, #products dt {
			width: 130px;
			padding-bottom: 20px;
		}
		
		.first {
			padding-bottom: 20px;
		}
		
		#sales dd {
			color: #999;
		}
		
	#charts {
		clear: both;
	}
	
		#charts h2 {
			margin-top: 20px;
		}
		
table {
	border-collapse: collapse;
	width: 100%;
}

	table td, table th {
		border: 1px solid #DD3333;
		padding: 5px 10px;
	}
	
	table th {
		color: #DD3333;
		text-align: left;
	}
	
	table tr.alt td, table tr.alt th {
		background-color: #FFEFEF;
	}
	
	table td.emptytable {
		text-align:center;
	}
	
	table td.disabled {
		color: gray;
	}
	
	table td input {
		width: 100px
	}
	
div.paginador {
	width:100%;
	text-align:center;
	margin-top:10px;
}

div.paginador a {
	color:#DD3333;
}

input.filtrar {
	float:right;
	margin-bottom:10px;
}

p.resultLegend {
	float:left;
	padding-top:5px;
}