@charset "utf-8";
/* CSS Document */
html,body {
	margin:0;
	padding:0;
	height:100%;
	overflow: hidden;
}
#container {
   min-height:100%;
   position:relative;
}
body { background-color:#262626;}
#cont_1{width:100%; height:143px; float:left; margin:0;}
#header_1{width:970px; height:143px; left:50%; margin-left:-485px; position:relative;}
#logo{width:226px; height:83px; float:left; margin:30px 0 0 10px;}
#registra{width:134px; height:42px; float:right; margin:48px 20px 0 20px;}
#cont_login{width:280px; height:115px; float:right; margin-top:13px; border-right:1px solid #FF0000;}
/*FORMULARIO*/
#form_box{width:240px; height:115px; float:left; margin:0 20px;}
#form_tit{width:240px; height:10px; float:left; margin:5px 0;}
#form_email1{width:98px; height:15px; float:left; text-align:left; padding-top:10px;}
#form_email2{width: 142px; height:17px; float:left; margin:5px 0 10px 0;}
#form_pass1{width:98px; height:15px; float:left; margin-bottom:2px; text-align:left; padding-top:10px;}
#form_pass2{width: 142px; height:17px; float:left; margin-bottom:5px;}
#form_pass3{width:240px; height:10px; text-align:right; margin:0 0 5px 0; float:left;}
#form_rem{width:158px; height:10px; margin:10px 20px 0 0; text-align:right; float:left;}
#form_rem input {margin-top:3px; position:relative; top:2px;}
#form_send{width:61px; height:19px; margin-top:5px; float:left;}
.form_tit{font-family:Verdana, Geneva, sans-serif; font-size:11px; font-weight:bold; color:#FFF;}
.form_txt, .form_txt a{font-family:Verdana, Geneva, sans-serif; font-size:10px; font-weight:lighter; color:#FFF; text-decoration:none;}
.form_txt a:hover{color:#F00;}
.form_txt2{font-family:Verdana, Geneva, sans-serif; font-size:10px; color:#333;width:140px; height:17px;}
#picture{width:100%; height:720px; background: url(../img/tramontina.jpg) center center fixed no-repeat; float:left; margin:10px 0 0 0;}
#picture.tramontina{background: url(../img/tramontina.jpg) center center fixed no-repeat;}
#picture.infinit{height:546px; background: url(../img/infinit.jpg) center center fixed no-repeat;}
#picture.nike{height:546px; background: url(../img/nike.jpg) center center fixed no-repeat;}
#picture.ermenegildo{height:546px; background: url(../img/ermenegildo.jpg) center center fixed no-repeat;}

#cont_3{
	position:absolute;
	bottom:0;
	width:100%;
	min-height:111px;
	background:#6cf;
	background:url(../img/fnd_bottom.jpg) repeat-x top;
	margin:0;
}
#bottom_3{width:970px; height:111px; float:left; left:50%; margin-left:-485px; position:relative;}
#cont_menu{width:100%; height:22px; float:left; margin:0;}
#menu{height:21px; width: auto; float:left; margin-left:10px; padding-top:2px;}
#acercade{height:19px; width: auto; float:right; margin-right:10px; padding-top:3px;}
#sponsors{width:489px; height:auto; float:right; margin:17px 10px 0 0; text-align:right;}
#sponsor_img{width:489px; height:36px; float:left; margin:0;} 
#copyright{width:479px; height:12px; float:left; margin:8px 5px;; text-align:right;}
#socials{width:450px; height:76px; float:left; margin:5px 0 0 10px;}
#twitter{width:450px; height:auto; margin: 10px 0;text-align:left; float:left;}
#facebook{width:450px; height:auto; margin:0; float:left;}

.menu, .menu a{font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#FFF; text-decoration:none;}
.menu a:hover{color:#F30;}
.acercade, .acercade a{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#CCC; text-decoration:none;}
.acercade a:hover{color:#FFF;}
.copyright, .copyright a{font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#CCC; text-decoration:none;}
.copyright a:hover{color:#F30;}





