/*
 * SimpleModal Basic Modal Dialog
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2009 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $Id: basic.css 185 2009-02-09 21:51:12Z emartin24 $
 *
 */


/* Overlay */
#simplemodal-overlay {background-color:#000; }

/* Container */
#simplemodal-container { width:656px; background-color:#fff; border:4px solid #e32200;overflow:hidden; padding:36px 30px 10px 30px; margin:0 0 0 -22px; }
#simplemodal-container a.modalCloseImg {background:url(../img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:0px; right:0px; cursor:pointer;  }
#simplemodal-container #basicModalContent {padding:8px;}

#terms { display:none; font-size:13px; height:400px;  overflow:auto; padding:16px; position:relative; }
#terms h1 { padding-top:0; }
#terms h4 { font-size:13px; }

#termsContainer { width:656px; background:#fff; border:4px solid #e32200; padding:36px 30px 30px 30px; margin:0 0 0 -22px;}
#termsContainer a.modalCloseImg {background:url(../img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:0px; right:0px; cursor:pointer;  }
#termsContainer #basicModalContent {padding:8px;}