@charset "utf-8";
/* CSS Document */

.calendar {
	width:136px;
	height:18px;
	float:left;
	position:absolute;
	margin-top:110px;
	background-image:url(images/cal_bot_sprite_op.jpg);
	background-repeat:no-repeat;
}
a:hover {
	background-position:0px -18px;
}