body{
	background-color: #240000;
	text-align: center;
	font: 62.5% Arial, Helvetica, sans-serif;
	padding:10px;
	text-decoration: none;
	margin:0;
}
#contenedor {
	width:700px;
	text-align: left;
	margin: auto;
	background-color: #fff;
	padding:0;
}
#header {
	width:700px;
}
#contenido {
	position:relative;
	font-size: 1.2em;
	font-weight: normal;
	height:450px;
}


#izq-1 {
	padding:10px;
	width:40%;
	float:left;
	padding: 10px 0 0 15px;
}

#der-1 {
	padding:10px;
	padding: 10px 10px 0 10px;
	float:right;
}

#form-1 {
	width:100%;
	background-color:#f1f4f6;
	padding: 5px 0px 0px 20px;
	font-weight:bold;
}
#marcas {
	padding:20px 10px 15px 10px;
}