table.btn {
	background-color:#c8281e;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif; 
	font-size:16px;
}

table.btn td{
	padding:0px;
}

table.btn.XXS {
	width:80px;
}

table.btn.XS{
	width:100px;
}

table.btn.S{
	width:120px;
}

table.btn.M {
	width:140px;
}

table.btn.L {
	width:160px;
}

table.btn.XL{
	width:180px;
}

table.btn.XXL{
	width:200px;
}

table.btn.XXXL{
	width:240px;
}


table.btn.derecha {
	margin:0.5em 0 0.5em auto; 
}

table.btn.centro{
	margin:0 auto 0 auto;
}

table.btn.izquierda {
	margin:0.5em auto 0.5em 0; 
}

table.chico.btnRed{
	height:18px;
	background-image:url(images/bot_bg_vidriera_small.jpg);
	background-repeat: repeat-x;
	font-size:13px;
}

table.chico.btnViolet{
	height:18px;
	background-image:url(images/bot_bg_micuenta_small.jpg);
	background-repeat: repeat-x;
	font-size:13px;
}

table.chico.btnDarkViolet{
	height:18px;
	background-image:url(images/bot_bg_pcompra_small.jpg);	
	background-repeat: repeat-x;
	font-size:13px
}


table.chico.btnGrey{
	height:18px;
	background-image:url(images/bot_bg_ssl_small.jpg);
	background-repeat: repeat-x;
	font-size:13px;
}

table.normal.btnRed{
	height:27px;
	background-image:url(images/bot_bg_vidriera_mediano.jpg);
	background-repeat: repeat-x;
}

table.normal.btnViolet{
	height:27px;
	background-image:url(images/bot_bg_micuenta_mediano.jpg);
	background-repeat: repeat-x;
}

table.normal.btnDarkViolet{
	height:27px;
	background-image:url(images/bot_bg_pcompra_mediano.jpg);	
	background-repeat: repeat-x;
}

table.normal.btnGrey{
	height:27px;
	background-image:url(images/bot_bg_ssl_mediano.jpg);
	background-repeat: repeat-x;
}

table.grande.btnRed{
	height:37px;
	background-image:url(images/bot_bg_vidriera.jpg);
	background-repeat: repeat-x;
}

table.grande.btnViolet{
	height:37px;
	background-image:url(images/bot_bg_micuenta.jpg);
	background-repeat: repeat-x;
}

table.grande.btnDarkViolet{
	height:37px;
	background-image:url(images/bot_bg_pcompra.jpg);	
	background-repeat: repeat-x;
}

table.btnRed  td a {
	color:#FFFFFF!important;
	border:none;
	text-decoration:none;
}

table.btnViolet td a{
	color: #FFFFFF!important;
	border: none;
	text-decoration:none;
}

table.btnDarkViolet td a{
	color: #c8c8c8!important;
	border: none;
	text-decoration:none;
}

table.btnGrey td a{
	color: #FFFFFF!important;
	border: none;
	text-decoration:none;
}















