@charset "iso-8859-1";

/*
* RESETEANDO EL HTML
*/

@font-face {
    font-family: 'DINRegular';
    src: url('vidriera/css/din-webfont.eot');
    src: url('vidriera/css/din-webfont.eot?#iefix') format('embedded-opentype'),
         url('vidriera/css/din-webfont.woff') format('woff'),
         url('vidriera/css/din-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html{
	overflow-x:hidden;
}

body {
	font-family: Arial, verdana, sans-serif;
	font-size: 12px;
	color: #333333;
	/*background-color: #262626;*/
	background-color: #EEE;
	height: 100%;
	margin: 0;
	padding: 0;
	/*position:relative;*/
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
	font-size: 1.6em;
	padding: 0;
	font-weight: bold;
	color: #D51113;
}

h2 {
  font-size: 1.2em;
  text-align: left; 
  font-weight: normal;
  color: #D51113;
}

h2 a:link {
  color: #D51113;
  text-decoration: none;
}

h2 a:hover {
  color: #333;
  text-decoration: underline;
}

h3 {
  font-size: 1em;
  text-align: justify; 
  font-weight: bold;
  color: #505050;
}

h4 {
  font-size: 0.8em;
  text-align: justify; 
  font-weight: normal;
  color: #505050;
}

h5 {
  font-size: 1em;
  text-align: left; 
  font-weight: normal;
}

p {
  font-size: 1em;
  text-align: justify;  
}

/* links */

a:link, a:visited {
  color: #FF0000;
  text-decoration: none;
}

a:hover {
  color: #666;
  text-decoration: underline;
}

a:active, a.active {
  color: black;
}

/* some more items */

img, a img {
  border: none;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

.grisado {
	background: #F0F0F0;
  	padding: 2px;
}
	
.icono {
	float: left;
	display:inline;
	padding-right: 2px;
}

/***********************
*   layout styling
***********************/

#container {
	_margin-top:-1px;
	background: #efefef;
	background-repeat:repeat-y;
	padding: 0 5px;
	width: 740px;
	margin: 0 auto;
	overflow: hidden;
}

#contenido-top {
  	background: url(images/contenido-top.gif) no-repeat;
  	padding: 8px 10px;
  	margin: 10px 18px 0 18px;
	width: 690px;
	float: left;
	/*clear:left;*/
	display:inline;
}

#contenido {
  	background: url(images/contenido-center.gif) repeat-y;  
  	padding: 0 15px;
  	margin: 0 18px;
	width: 680px;
	float: left;
	/*clear:left;*/
	display:inline; 
}

#contenido-bot {
	background: url(images/contenido-bot.gif) no-repeat top;
	padding: 10px;
	margin: -3px 16px;
	height: 10px;
	width: 690px;
	float: left;
	/*clear:left;*/
	display:inline;
}

#top {
	padding: 25px 0 0 5px;
}

#topleft {
	float:left;
	/*clear:left;*/
	display:inline;
	width: 150px;
	height: 80px;
	margin: -10px 0;
}

#topright {
	float:right;
	/*clear:right;*/
	display:inline;
	width: 515px;
	margin: -20px 0;
}	

#central {
	width: 515px;
	float: right;
	/*clear:right;*/
	display:inline;
	margin-right: 5px;
	_margin-right:1px;
}

.columna {
	width: 165px;
	float:right;
	/*clear:right;*/
	display:inline;
	margin-right: 2px;
}

#producto {
	background: url(images/bg-product.gif) no-repeat;
	padding: 8px 0 0 10px;
	width: 700px;
	height: 178px;
	float: left;
	/*clear:left;*/
	display:inline;
	margin:7px 18px 0 16px;
	_margin:7px 10px 0 16px;
	position:relative;
	margin-top:0px;
}

#productoprox {
	background: url(images/bg-product1.gif) no-repeat;
	padding: 6px 0 0 10px;
	width: 700px;
	height: 180px;
	float: left;
	/*clear:left;*/
	display:inline;
	margin:7px 18px 0 18px;
	position:relative;
}

.foto-prod {
	float:left;
	/*clear:left;*/
	display:inline;
	width: 270px;
	height: 165px;
	background-repeat: no-repeat;
	margin:3px 0 0 2px;
}

.info-prod {
	float:right;
	/*clear:right;*/
	display:inline;
	width: 410px;
}	

.logo-prod {
	float:right;
	/*clear:right;*/
	display:inline;
	margin: 20px 15px 0 0;
	*margin:15px 19px 0 0;
	_margin:0 19px 0 0;
}	

.catalogo {
	position:relative;
	width: 242px;
	float:left;
	/*clear:left;*/
	display:inline;
	background-image:url(images/bg-catalogo.gif);
	padding: 5px;
	height: 370px;
	background-repeat: no-repeat;
}

.catalogo table tr td h2{
	font-size:19px;
	font-weight:bold;
	padding-top:0px;
	line-height:19px;
	padding-left:28px;
	position:relative;
	top:-5px;
}

#catalogo_precio{
	background-image:url(images/bg-precio-det.gif);
	width:235px;
	background-repeat: no-repeat;
	background-position:right top;
	clear:left;
	float:right;
	display:inline;
	text-align:right;
}

.catalogodet {
	width: 242px;
	float:right;
	clear:left;
	display:inline;
	background-image:url(images/bg-catalogo-fotos.gif);
	padding: 5px;
	height: 350px;
	background-repeat: no-repeat;
}

.thumbnails {
	width: 100%;
	padding: 16px 18px;
}

.reloj
{
    color: #FF0000;
    font-weight: bold;
	font-size:17px;
}
.reloj_off
{
    color:#C00;
    font-weight: bold;
	font-size:17px;
}
.catalogoreng {
	float:left;
	/*clear:left;*/
	display:inline;
	height: 370px;
	margin-top:10px;
}

.catalogodescr {
	width: 500px;
	float:left;
	/*clear:left;*/
	display:inline;
	padding: 5px;
	height: 100%;
	/*background-image:url(images/bg-catalogo-descripcion.gif);*/
	/*background-repeat: no-repeat;*/
	background-color:#F5F5F5;
	color:#333333;
}

.carro {
	width: 670px;
	float:left;
	/*clear:left;*/
	display:inline;
	padding: 5px;
	background-image:url(images/carrito.gif);
	background-repeat:repeat-y;
}

.carro tr td h2{
	color:#333;
	margin-bottom:10px;
	font-weight:bold;
}


.left {
	float: left;
	/*clear:left;*/
	display:inline;
}

.right {
	float: right;
	/*clear:right;*/
	display:inline;
	color:#C00;
	font-size:17px;
	font-weight:bold;
	position:relative;
	top:-18px;
}

#reloj{
	margin-right:15px;
	display:inline;
}

/* header */

#header {
  height: 173px;
  background-color:#000;
  padding: 0;
  margin: 0 auto;
}

body.vitrina {
	padding-top: 100px
}

.vitrina #header {
	position: fixed;
	width: 100%;
	top: 0;
}

#headerInterior{
  background: url(images/bg-header-trans.png) no-repeat #000;
  width: 750px;
  margin: 0 auto;
}

#header span {
	color: #666 !important
}

#logo-title {
  float: left;
  display:inline;
  padding: 10px 0 0 3px;
}

/*logo*/
#logoppal{
	width:255px;
	height:95px;
	float:left;
	text-indent:-9999px;
	display:block;
	position:absolute;
}
/*********************/

#creditos {
	padding: 10px 10px 10px 5px;
	margin: 0 0 0 250px;
	background-repeat: no-repeat;
	height: 50px;
}
#nocreditos {
	padding: 10px 10px 10px 5px;
	margin: 0 0 0 250px;
	background-repeat: no-repeat;
	height: 120px;
}
#creditos strong.login{
	color:#ccc;
	font-size:11px;
	text-align:right;
	display:block;
	font-weight:normal;
	padding-right:5px;
}
#creditos strong.login a{
	color:#ccc;
	text-decoration:underline;
}
#creditos h4 a{
	text-decoration:underline;
	color:white;
}
#creditos h4{
	background-image: url(images/bgcredits.png);
	behavior: url("../images/iepngfix.htc");
	padding:12px 0;
	width:380px;
	text-align:center;
	color:white;
	font-size:12px;
	margin:52px 0 0 95px;
}
#creditos h4 strong{
	display:inherit;
	padding:0;
}
#display {
	margin: 0 0 0 10px;
}

#header #testing-name, #header #testing-slogan {
  position: relative;
  padding: 0;
  margin: 0;
  left: 100px;
  top: 43px;
  padding-left: 10px;
  border: 0;
}

#header #testing-slogan {
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  color: #A4BEDD;
  letter-spacing: 1px;
}

#header #logo {
  position: absolute;
  top: 0px;
}

/* menues */

#menu {
	_margin-top:-5px;
	/*background: url(images/bgmenubar-1.6.png) no-repeat;*/
	padding: 2px 0 0 0;
	height: 28px;
	width: 750px;
	margin: 0 auto;
	clear:left;
}

#primary ul {
  padding-right: 0px;
}

#primary ul li {
  padding: 12px 0px 5px 5px;
  float: right;
  display:inline;
  color: white
}

#primary ul li a, #primary ul li a:visited {
	margin: 0;
	padding: .3em .5em;
	color: #FFF;
	height: 15px;
	float: left;
	display:inline;
	font-size: 1.5em;
	font-weight: normal;
}

#primary ul li a:hover {
	text-decoration: none;
}

#primary.login ul li {
	padding-top: 40px;
	font-size: 15px;
	float: left;
}

#primary.login ul li a {
	font-size: 15px;
	float: none;
	padding: .3em .1em;
}

/* menu left */


ul {
	list-style: none;
    margin: 0;
    padding: 0;
    }	

#menuleft {
	/*margin-top:-15px;
	*margin-top:0;*/
	width: 150px;
	_width:145px;
	float: left;
	display:inline;
	/*clear:left;*/
	/*position:absolute;
	top:280px;
	*top:290px;
	_top:310px;
	left:40px;*/
}

#menuleft ul{
	width: 150px;
	_width:145px;
}
#menuleft li{
	padding-bottom:2px;
}
#menuleft li a {
	padding: 4px 0px 1px 8px;
	list-style: url((URL)) none;
	background-image:url(images/boton-left.jpg);
	background-position:top left;
	background-repeat: no-repeat;
	color: #fff;
	height: 20px;
	width:150px;
	position:relative;
	display:block;
	margin-top:17px;
	font-size:12px;
}

#menuleft li a:link, #menu li a:visited {
	color: #B8B6DA;
    }

#menuleft li a:hover {
	color: white;
	background-image:url('images/boton-left2.jpg');
	text-decoration: none;
	font-weight:bold;
	/*width: 100%;*/
    }

#menuleft li #active{
	color: #FFF;
	background-image:url(images/boton-left1.jpg);
	font-weight:bold;
	/*width: 100%;*/
    }
	
.item-list ul{
_margin-top:-10px;

}
.item-list ul li {
	margin: 0 0 16px 0;
	/*padding: 8px 0;*/
	list-style: url((URL)) none;
	color: #666666;
	/*background-image:url(images/boton-left.jpg);
	background-repeat: no-repeat;*/
	height: 4px;
	width: 150px;
	_width:145px;
	*height:28px;
	_height:0px!important;
	_float:left;
	_margin-bottom:-28px;
}

.item-list ul li  a img{
_margin:0px!important
_padding:0px!important;
_display:block;
}
	

#submenu {
	color: #FFF;
	background-color:#CCCCCC;
	height: 20px;
	width:144px;
	border-bottom: 1px solid #F0F0F0;
	padding: 5px 2px;
    }

#submenu a:link {
	color: #666;
    }
		
/*   styling
***********************/

/* tabs */

ul.primary {
  text-align: left;
  border-bottom: 1px solid #CCC;
  padding: 5px;  
}

ul.primary li a {
  border-color: #b0b0b0;
  padding: 8px 10px;
  background-image:url(images/menu-boton.gif);
}

ul.primary li a.active {
  border-color: #CCC;
  border-bottom: 1px solid white;
  background-image:url(images/menu-active.gif);  
}

/* tables */

table {
  margin: 0.5em 0 1em 0;
  width: 100%;
}

thead th {
  border-bottom: 2px solid #b0b0b0;
  color: #678;
  font-size: 90%;
  font-weight: bold;
  background: url(images/bg-thead.gif) repeat-x bottom left; 
  padding: 4px 5px 0 5px;
}

tr.even, tr.odd {
  border-color: #DADCE0;
}

tr.even {
  background-color: #fbfcfe;
}

tr.odd {
  background-color: #f5f5f5; }

td.active {
  background: #e9e9e9;
}

td {
  padding: 3px;
}

td.menu-disabled {
  background-color: #E5E5E5;
}

/* forms */

form {
  margin-bottom: .5em;
}

input, textarea, select, textfield {
  font: 1ems "Verdana", sans-serif;
  color: #333;
  padding: 1px;
  background-color: #CCCCCC;
  border: 1px solid #999;  
}

.radio {
  background-color: #F0F0F0;
  border: 0 solid #999;  
}

.scroll {
	background-color: #DFDFDF;
	border: 1px solid #999;
	height: 75px;
	width: 99%;
	padding: 2px;
	overflow: auto;
}
.active {
    color: #FFF;
    background-image:url(images/boton-left1.jpg);
    width: 100%;
    }

/*
fieldset {
  border: solid #DADCE0 1px;
}

fieldset.collapsed {
  background-color: transparent;
  padding: 0;
}

.form-item input.error, .form-item textarea.error {
  font: 11px/100% "Verdana", sans-serif;
  border: 1px dashed #E1471D;
  color: #555;
}

#node-form, #node-form .node-form {
  overflow:auto;
}

#search  {
  margin: 5px -8px 5px -8px;
  background: black;
  border-bottom: 2px solid #D1DBEC;
  padding: 3px 3px 0 26px;
  vertical-align: bottom;
  height: 22px;
}

#search .form-item {
  display: inline;
  padding: 0;
  margin: 0;
}

#search input.form-text, #user-login-form input.form-text  {
  height: 18px;
  width: 155px;
  padding: 2px 3px 0 3px;
  border: 2px solid #999999;
  border-bottom: 0;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  color: #7e7979;
  background-color: white;
  vertical-align: bottom;
}

#search input.form-submit, #user-login-form input.form-submit  {
  width: 100px;
  margin: 0;
  height: 22px;
  padding: 0 2px 0 2px;
  border: 2px solid #c3c3c3;
  border-bottom: none;
  vertical-align: bottom;
  background-color: #FBFCFE;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #7e7979;
}

.block-user{
  margin-top: .5em;

}

#user-login-form {
  text-align:left;
}

#user-login-form .form-item {
  margin: 0 0 .5em 0;
}


#user-login-form input.form-text {
  border: 1px solid #c3c3c3;
  text-align: left;
}

#user-login-form input.form-submit {
  border: 1px solid #c3c3c3;
}

#user-login-form label {
  font-size: 90%;
  font-weight: normal;
}

#user-login-form .form-required {
  display: none;
}


/* add icons to user listing blocks */

#block-user-2 ul li, #block-user-3 ul li {
  list-style-type:none;
  list-style-image: none;
  margin-left: -5px;
  padding-left: 18px;
  background-image: url(images/mini-user-light-blue.png);
  background-repeat: no-repeat;
  background-position: 0 3px;
}

/* progress bar */

.progress .bar {
  background: #fff url(images/progressbar.gif) repeat;
  border: 1px solid #00375a;
}

/* messages */

.messages {
  min-height: 32px;                 /* icon height */
  padding: 1.3em 1em .3em 52px;
  border: 2px solid #DADCE0;
  background: #fbfcfe;
  margin: 10px 0;
}

.messages ul {
  padding: 0 0 0 20px;
  margin: 0;
}

div.status {
  background: url(images/icon-info.png) .5em 50% no-repeat;
}

div.error {
  border: 2px solid #E1471D;
  background: #FCD295 url(images/icon-alert.png) .5em 50% no-repeat;
}

div.error ul li, div.status ul li {
  list-style-type: square;
  list-style-image: none;
}

/* mixed elements */

div.meta, .description, .breadcrumb, .submitted, .taxonomy {
  font-size: 1.1em;
  color: #494949;
  line-height: 1.6em;
}


pre {
  background: #fbfcfe;
  border: 1px solid #DADCE0;
  padding: 0.75em 1.5em;
}

blockquote {
  border: 1px #DADCE0 solid;
  margin: 0.5em 1em;
  padding: 0.3em;
  font-style: italic;
}

code {
  font-size: 1em;
  font-family: Profont, 'lucida console', 'Courier New', Monaco, monospace;
}

.blockinner {
  padding: 0;
  margin: 0;
}

.preview .node, .preview .comment {
  border: 1px solid #BABFC6;
  padding: 10px;
  margin: 5px 0 10px 0;
  background-color: black;
}

#mission {
  padding: 15px;
  margin: 0 0 10px 0;
  border: 2px solid #96ADC8;
  background: #BCD1EA url(images/bg-mission.gif) repeat-x bottom left;
}

.new {
  float: right;
	display:inline;
  color: red;
  vertical-align: super;
  font-size: 80%;
  font-weight: bold;
}

/* admin panel */

div.admin-panel {
  border: 1px solid #DADCE0;
  background-color: #fbfcfe;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  margin-top: 15px;
}

div.admin-panel h3 {
  padding: 5px 5px 5px 30px;
  margin: 0 0 5px 0;
  border-bottom: 2px solid #DADCE0;
  background: #E6EAF2 url(images/crystal-run.gif) no-repeat 2px 2px;
}

/* node links */

div.links {
    text-align: right;
}

ul.links {
  text-align: center;
}

ul.links li.first {
  padding-left:0px;
}

.node div.links {
  padding-top: 1px;
  padding-bottom: 2px;
  border-bottom: dashed #DADCE0 1px;
}

.sticky div.links {
  border-bottom: none;
}

.comment .links {
  font-size: 90%;
}

li.comment_add a, li.comment_comments a {
  background: url(images/mini-comment.png) no-repeat 0 1px;
  padding-left: 15px;
}

li.node_read_more a {
  background: url(images/mini-readmore.png) no-repeat 0 2px;
  padding-left: 15px;
}

li.upload_attachments a {
  background: url(images/mini-attachment.png) no-repeat 0 2px;
  padding-left: 15px;
}

li.comment_delete a {
  background: url(images/mini-trash.png) no-repeat 0 0;
  padding-left: 15px;
}

li.comment_edit a {
  background: url(images/mini-edit.png) no-repeat 0 0;
  padding-left: 15px;
}

li.comment_reply a {
  background: url(images/mini-comment.png) no-repeat 0 0;
  padding-left: 15px;
}

/* node, content styles

.node {
  margin-bottom:15px;
  padding-bottom:15px;
}

.node h2.title a {
  color: #333;
  font-weight:normal;
  margin-bottom: 0;
}

.node h2.title a:hover {
  text-decoration: underline;
  border-bottom: 0;
  color: #345;
}

.meta, .submitted, .taxonomy {
  color: #666;
}

.meta {
  padding-bottom: 1em;
}

.node .submitted {
  text-align: left;
  float: left;
  width: 99%;
}

.node .with-taxonomy .submitted {
  width: 48%;
}

.node .taxonomy {
  text-align: right;
  float: right;
  width: 48%;
}

.taxonomy .links a {
  text-decoration:none;
  border-bottom: dotted 1px #9cf;
}

.taxonomy .links a:hover {
  border-bottom: solid 1px #9cf;
}

.taxonomy li.first {
  background: url(images/mini-category.png) no-repeat 0 2px;
  padding-left: 15px !important;
}

.sticky {
  border: 1px solid #DADCE0;
  background-color: #F7FAFF;
  padding: 8px 5px 8px 5px;
}

/* book styles */

div.node div.content .book-navigation {
  background: #eee;
  margin:0;
  padding:0;
}

div.node div.content .book-navigation ul.menu {
  border:0;
  border-top:1px solid #2763A5;
  margin:0;
  padding-bottom:10px;
}

div.node div.content .book-navigation .page-links{
  background: #C1D4EA;
  border:1px solid #2763A5;
  border-width:1px 0 1px 0;
  padding:5px;
  margin:0;
}

/* forum styles */

#forum table {
  width: 100%;
}

/* aggregator styles */

.feed-item-meta {
  font-size: 90%;
  color: #666;
  text-align: right;
}

h3.feed-item-title  a {
  color: #333;
  font-weight:normal;
  margin-bottom: 0;
  font-size: 13pt;
}

h3.feed-item-title a:hover {
  text-decoration: underline;
  border-bottom: 0;
  color: #345;
}

/* poll styles */

.poll .bar {
  height: 16px;
  background-color: #D4E2F2;
}

.poll .bar .foreground {
  background: url(images/bg-poll.gif) repeat-x;
  height: 16px;
  clear: none;
  float: left;
	display:inline;
}

.poll .vote-form {
  text-align: center;
}

.poll .vote-form .choices {
  padding-left: 5%;
  text-align: left;
  display: block;
}

/* pager */

.pager {
  text-align: center;
  font-size: 90%;
}

.pager a, .pager a:visited  {
  padding: 2px 3px 2px 3px;
  margin-left: 5px;
  border: 1px solid #DADCE0;
  background-color: #FFFFFF;
  color: #5294C1;
}

.pager .pager-current {
  padding: 2px 3px 2px 3px;
  margin-left: 5px;
  border: 1px solid #DADCE0;
  background-color: #F7F8FA;
  color: #555;
}

.pager a:hover {
  border-color: #BABFC6;
  color: #555555;
}
/***********************
/* footer */

#footer {
	background: url(images/bg-footer-new-fill.jpg);
	background-repeat: repeat-x;
	color: #555;	
	position: relative;
	top: 20px;
	clear: both;
	font-size:11px;
	color:#FFFFFF;
	width:100%;
	border-top:solid 1px #515050;
}

#footerContainer {
	background: url(images/bg-footer-new.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	width: 740px;
	margin: 0 auto;
	height: 103px;
	padding: 22px 30px 0 30px;
}

#footerlink {
	padding:40px 0 10px 0; border:none;
	text-align: center;
}


#footerlink a, #footerlink a:visited {
	color: #fff;
}

#footerlink a:hover {
	color: #333;
	text-decoration: underline;
}

#bottom {
	height: 200px;
	background: url(images/bg-bottom.jpg);
	float: left;
	/*clear:left;*/
	display:inline;
	width: 750px;
}
.titular_big{
	font-size:20px;
	padding:7px 0 10px 48px;
	color:#900;
	position:relative;
	top:8px;
	background-image:url(images/icon_bags.jpg);
	background-repeat:no-repeat;
	background-position:10px 2px; 
}

.titular_med{
	font-size:19px;
	padding:10px 0 3px 38px;
	color:#900;
	clear:both;
	background-image:url(images/icon_clock.jpg);
	background-repeat:no-repeat;
	background-position:10px 4px;
}
.freeshipping{
	height:44px;
	width:131px;
	background-image:url(images/free-shipping.png);
	background-repeat:no-repeat;
	behavior: url("../images/iepngfix.htc");
	position:absolute;
	top:-5px;
	right:-5px;
}
.freeshipping_off{
	height:44px;
	width:131px;
	background-image:url(images/free-shipping.png);
	background-repeat:no-repeat;
	behavior: url("../images/iepngfix.htc");
	position:absolute;
	top:-5px;
	right:-5px;
}
.info-prod h2{
	padding-top:5px;
}
.info-prod h1{
	padding-top:8px;
	font-size:24px;
}
.vercampana{
	width:138px;
	height:32px;
	display:block;
	background-image:url(images/button_ver.png);
	background-repeat:no-repeat;
}
.vercampana:hover, #producto:hover .vercampana{
	background-position:-138px 0;	
}
#topright h3{
	font-size:16px;
	font-weight:bold;
	color:#333;
	padding:9px 0 0 0;
}
#topright h5{
	padding-bottom:8px;
}
.proddisp{
	color:#515151;
	font-size:12px;
	position:relative;
	top:4px;
	font-weight:bold;
}
.letsp{
	letter-spacing:-1px;
}
.agotado{
	width:180px;
	height:180px;
	background-image:url(images/agotado.png);
	background-repeat:no-repeat;
	position:absolute;
	top:20px;
	left:2px;
}
.scroll {
	background-color: #DFDFDF;
	border: 1px solid #999;
	height: 400px;
	width: 99%;
	padding: 2px;
	overflow: auto;
}
.campanafoto{
	position:relative;
	top:10px;
}
.vermas{
	width:91px;
	height:26px;
	background-image:url(images/vermas_b.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	display:block;
	float:right;
	margin:0 4px 0 0;
}
.vermas:hover{
	background-position:0 -26px;
}
.divPrecio{
	position:relative;
	left:-12px;
}

/** Ribete style **/
div.ribete {
	display:inline;
	float:right;
	background-image:url(images/ribete.png);
	background-repeat:no-repeat;
	background-position:0 0;
	width: 266px;
	height: 36px;
	position:relative;
	top:-32px;
	left:-5px;
}

div.ribete.off {
	background-image:url(images/ribete_off.png);
}

/** Cortina style **/
div#objCortina td#tdCortina table#tableCortina {
	position:fixed;
	left:28%;
	top:15%;
}

div#objCortina td#tdCortina table#tableCortina table#tableCortina {
	position:relative;
	left:auto;
	top:auto;
}

div.layer-xmas {
	position:absolute;
	left:4px;
	top:4px;
	z-index:20;
	background: transparent url(images/campania_xmas.png) no-repeat scroll 0 0;
	width:740px;
	height:180px;
}

div.layer-xmas.off {
	position:absolute;
	left:7px;
	top:2px;
	z-index:20;
	background: transparent url(images/campania_xmas_off.png) no-repeat scroll 0 0;
	width:740px;
	height:180px;
}

.ultprod{
	color: #c8281e;
    font-size: 13px;
    font-weight: bold;
    position: relative;
    top:4px;
}

/*commons*/
.ieInline{
_display:inline;
}

.tooltip {
	display:none;
	background:transparent url(images/black_arrow.png);
	font-size:10px;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;	
}


.tooltip.big {
	background:transparent url(images/black_arrow_big.png);
	height:165px;
	width:315px;
	font-size:12px;
}

.tooltip.middle {
	background:transparent url(images/black_arrow_middle.png);
	height:110px;
	width:230px;
}

/* LOGIN POPUP */
#header {
	position: relative;
	z-index: 2000	
}

#bg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.5);
	z-index: 1000;
	display: none
}

#loginPopup {
	position: absolute;
	/*width: 320px;
	width: 120px;*/
	padding: 10px;
	background-color: #f5f5f5;
	/*margin: 98px 0 0 396px;*/
	margin: 98px 0 0 445px;
	display: none
}

	#loginPopup:before {
		content: "";
		display: block;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 15.5px 30px 15.5px;
		border-color: transparent transparent #e9e9e9 transparent;
		position: absolute;
		top: -30px;
		/*left: 210px;*/
		left: 160px;

	}
	
	/*
	#loginPopup form {
		width: 270px;
		margin: 40px auto 0 auto;
	}
	
	#loginPopup input[type=text],
	#loginPopup input[type=password],
	.campania-login input[type=text],
	.campania-login input[type=password] {
		font-size: 18px;
		padding: 3px 5px;
		border: 1px solid #8a8a8a;
		background-color: white;
		width: 260px;
		height: 25px;
		margin: 0 auto 8px auto;
		font-style: italic;
	}
	
	#loginPopup ::-webkit-input-placeholder { font-style: italic; color: #909090 }
	#loginPopup ::-moz-placeholder { font-style: italic; color: #909090 } 
	#loginPopup :-ms-input-placeholder { font-style: italic; color: #909090 } 
	#loginPopup input:-moz-placeholder { font-style: italic; color: #909090 }
	
	#loginPopup form > a,
	.campania-login form > a {
		float: right;
		margin: 10px 0 20px 0;
		font-size: 18px;
		text-decoration: none;
		color: #686868;
		font-style: italic
	}
	
	#loginPopup form .buttons,
	.campania-login .buttons {
		clear: both;
		text-align: center;
		padding-bottom: 15px
	}
	
		#loginPopup form .buttons *,
		.campania-login .buttons * {
			border: 0 none;
			margin: 0;
			padding: 0;
		}
		
		#loginPopup form .buttons input {
			margin-left: 20px
		}
		*/
		
body.campania-login-body #footer {
	top: 0
}

body.campania-login-body #container-vidriera,
body.campania-login-body #headerInterior {
}
		
.campania-login {
	width: 760px;
	height: 434px;
	background-position: right center;	
	background-repeat: no-repeat;
	background-color: #FFF;
	margin: -21px auto 10px auto;
	padding: 0;
	border: 2px solid #b2b2b2;
	border-radius: 4px;
	position: relative;
}

.campania-login .off {
	text-align: right;
	font-family: DINRegular;
	font-size: 13px;
	margin: 12px 15px 0 0;
}

.campania-login .termina {
	text-align: right;
	font-size: 13px;
	color: #FFF;
	background: rgba(0,0,0,0.6);
	position: absolute;
	padding: 4px 5px 4px 0;
	width: 519px;
	top: 359px;
	right: 0
}

.campania-login .main {
	position: absolute;
	right: 15px;
	top: 38px;
	z-index: 1;
}

	.campania-login .main:before {
		display: block;
		content: "";
		position: absolute;
		background-color: white;
		height: 380px;
		width: 156px;
		left: 0;
		top: 0;
	}

.campania-login form {
	width: 190px;
	float: left;
	margin-left: 15px;
	position: relative;
	z-index: 2
}

.campania-login form .logo {
	padding-bottom: 10px;
	margin: 8px 0 26px 0;
	text-align: center;
}

	.campania-login form .logo img {
		height: 60px
	}

.campania-login form fieldset {
 	/*margin: 0 auto 35px auto;*/
 	margin: 0 auto 18px auto;
	border: 0 none;
	padding: 0;
	background-color: #e5e5e5;
	padding: 10px;
	width: 170px;
}

#loginPopup form fieldset {
	border: 0 none;
	padding: 0;
	padding: 10px;
	width: 170px;
}

	.campania-login form fieldset:before {
		width: 185px;
		height: 3px;
		display: block;
		content: "";
		background-image: url(images/login_dots.png);
		position: absolute;
		/*margin: -29px 0 0 -6px;*/
		margin: -20px 0 0 -6px;
	}

	.campania-login .ultimo:after {
		width: 185px;
		height: 3px;
		display: block;
		content: "";
		background-image: url(images/login_dots.png);
		position: absolute;
		margin: 20px 0 0 -6px;
	}

.campania-login form h2,
#loginPopup form h2 {
	font-weight: normal;
	font-size: 12px;
	margin-bottom: 15px;
	text-transform: uppercase;
	color: #000
}

.campania-login form input[type=text],
.campania-login form input[type=password],
#loginPopup form input[type=text],
#loginPopup form input[type=password]{
	width: 160px;
	margin-bottom: 10px;
	margin-top: 2px;
	font-size: 11px;
	padding: 0 5px;
	height: 17px;
	border: 1px solid #d5d5d5;
	border-radius: 2px;
	box-shadow: inset 0 0 0.2em #ccc;
}

.campania-login form .olvidaste,
#loginPopup form .olvidaste {
	text-align: right;
	font-size: 10px;
	margin-bottom: 20px;
}

	.campania-login form .olvidaste a,
	#loginPopup form .olvidaste a {
		color: #686868
	}

.campania-login .buttons {
	padding: 3px 0;
}

	.campania-login .buttons input[type=image] {
		border: 0 none;
		background-color: transparent
	}
	
.campania-login .buttons a:first-child,
.campania-login .buttons input:first-child,
#loginPopup .buttons a:first-child,
#loginPopup .buttons input:first-child{
	margin-right: 20px;
}

#loginPopup form .buttons input{
	border: 0px;
	padding: 0px;
	background-color: none;
}