body{
	font-size:12px;
	font-family:sans-serif,arial,tahoma;
}
h1{
	color:#0066CC;
	font-size:28px;
	font-weight:normal;
	padding:20px 0 8px 0;
	margin:0;
}

h2{
	font-size:18px;
	color:#A6A6A6;
	padding:0 0 15px 0;
	font-weight:normal;
	line-height:22px;
	margin:0;
}
.message{
	background-color:#D3F2CF;
	border-color:#4CDB70;
	border-style:solid;
	border-width:1px 0;
	padding:8px 0 8px 0;
	text-align:center;
	font-size:15px;
	color:#063;
}
h3{
	margin:0;
	font-weight:normal;
	color:#666;
	font-size:16px;
	padding-top:10px;
}
h6{
	margin:0;
	font-weight:normal;
	color:#666;
	font-size:14px;
	padding-top:5px;
}
.ht{
	font-size:12px;
	color:#999;
	line-height:14px;;
}
h4{
	color:#479191;
	font-size:17.5px;
	font-weight:normal;
	margin:0;
	padding:15px 0 3px 0;
}
h5{
	font-size:15px;
	color:#999;
	font-weight:normal;
	margin:0;
	line-height:19px;
}
.benefits{
	color:#666;
	font-size:13px;
}

#frmRegistro input, #frmLogin input{
	background-image:url(../img/input.jpg);
	background-repeat:no-repeat;
	width:318px;
	height:24px;
	padding:5px;
	border-style:solid;
	border-width:0;
	background-repeat:no-repeat;
	font-size:19px;
	color:#999;
}

.bigone{
	width:318px;
	height:37px;
	padding:5px;
	background-color:#CCC;
	background-image:url(../img/img/biginput.jpg);
	border-style:solid;
	border-width:0;
	background-repeat:no-repeat;
	font-size:23px;
	color:#999;
}
#frmRegistro input.smaller{
	font-size:14px;
	height:20px;
	padding:4px 4px 3px 6px;
	background-image:url(../img/input_smaller.jpg);
}
#frmRegistro .radio{
	display:in-line;
	background:none;
	width:17px;
	height:17px;
}
#frmRegistro .moving{
	color:#999;
	font-size:13px;
	position:relative;
	top:-2px;
}
.terms{
	padding-top:10px;
	display:block;
}
.terms span{
	position:relative;
	top:-3px;
	color:#666;
	font-size:13px;
}
.terms span a{
	color:#666;
	text-decoration:underline;
}
#frmRegistro select.select_1{
	background-image:url(../img/select_1.jpg);
	width:63px;
	height:34px;
	padding:5px 5px 5px 1px;
	background-repeat:no-repeat;
	background-color:#f7f7f7;
	margin:0 15px 0 1px;
	border-style:solid;
	border-width:0;
	font-size:17px;
	color:#999;
}
#frmRegistro select.select_2{
	background-image:url(../img/select_2.jpg);
	width:118px;
	height:34px;
	padding:5px;
	background-repeat:no-repeat;
	background-color:#f7f7f7;
	margin:0 15px 0 0;
	border-style:solid;
	border-width:0;
	font-size:17px;
	color:#999;
}
#frmRegistro select.select_1_s{
	background-image:url(../img/select_1_s.jpg);
	width:63px;
	height:27px;
	padding:3px 5px 3px 1px;
	background-repeat:no-repeat;
	background-color:#f7f7f7;
	margin:0 15px 0 1px;
	border-style:solid;
	border-width:0;
	font-size:14px;
	color:#999;
}
#frmRegistro select.select_2_s{
	background-image:url(../img/select_2_s.jpg);
	width:118px;
	height:27px;
	padding:3px 3px 3px 6px;
	background-repeat:no-repeat;
	background-color:#f7f7f7;
	margin:0 15px 0 0;
	border-style:solid;
	border-width:0;
	font-size:14px;
	color:#999;
}
.asterisc{
	font-size:11px;
	color:#999;
	text-align:left;
	padding-top:30px;
}
.step2 li{
	list-style:disc;
	padding-top:5px;
	margin-left:20px;
}
.step2 {
	padding-left:15px;
}
.invite_off{
	width:97%;display:block;background-color:#E1E1E1;border-color:#B5B5B5;border-style:solid;border-width:1px;padding:4px;margin-bottom:5px;
}
.invite_on{
	width:97%;display:block;background-color:#BDE1F4;border-color:#39C;border-style:solid;border-width:1px;padding:4px;margin-bottom:5px;
}
