@charset "utf-8";
/* CSS Document */

.line {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
}
.tit1 {
	font-size: 16px;
	font-weight: bolder;
	color: #900;
	margin-left: 25px;
	background-color: #FFF;
	margin-top: -10px;
	padding-left: 10px;
	width: 250px;
}
.bloque1 {
	height: 75px;
	background-image: url(images/carrito/fondo1.jpg);
	background-repeat: no-repeat;
	padding-top: 16px;
	padding-left: 20px;
	width: 650px;
}
.bloque2 {
	background-image: url(images/carrito/fondo10.jpg);
	height: 300px;
	width: 655px;
	background-repeat: no-repeat;
	padding-left: 15px;
}

.fleft {
	float: left;
}
.text1 {
	font-size: 10px;
	float: left;
}

.cuotas {
	background-image: url(images/carrito/fondo3.jpg);
	background-repeat: no-repeat;
	margin-top: 66px;
	padding-top: 30px;
	padding-left: 20px;
	height: 80px;
}
.igual {
	font-size: 24px;
	font-weight: bold;
	color: #900;
	width: 25px;
	float: left;
	padding-left: 10px;
}
.body {
	font-family: Arial, Helvetica, sans-serif;
}


#banamexLabel {
	background-image: none !important;
	width: auto;
	height: auto;
	padding-top: 0;
}


.bot {
	height: 60px;
	width: 132px;
	background-image: url(images/carrito/bot1.jpg);
	background-repeat: no-repeat;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	margin-top: -5px;
}
.bot2 {
	height: 60px;
	width: 132px;
	background-image: url(images/carrito/bot2.jpg);
	background-repeat: no-repeat;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	margin-top: -5px;
}
.bot3 {
	height: 210px;
	width: 192px;
	background-image: url(images/carrito/fondo8.jpg);
	background-repeat: no-repeat;
	float: left;
	padding-top: 18px;
	padding-left: 15px;
	margin-left: 2px;
	margin-top: 15px;
}
.text2 {
	font-size: 10px;
	float: left;
	color: #666;
	margin: 4px;
	line-height: 9px;
}
.imgproducto {
	float: right;
	border: 1px solid #666;
	margin-top: -40px;
}
.pasos {
	background-image: url(images/carrito/fondo7.jpg);
	background-repeat: no-repeat;
	height: 61px;
	margin-bottom: 10px;
}
.paso {
	width: 25%;
	margin-top: 35px;
	margin-left: 52px;
	float: left;
}
.bot-left {
	background-image: url(images/carrito/bot-left.jpg);
	background-repeat: no-repeat;
	height: 33px;
	width: 15px;
	float: left;
}
.bot-center a {
	background-image: url(images/carrito/bot-center.jpg);
	height: 28px;
	color: #FFF;
	padding-top: 6px;
	float: left;
}

.pasoact {
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #900;
	width: 26%;
	margin-top: 35px;
	float: left;
	font-weight: bold;
	margin-left: 50px;
}
.bot-der {
	background-image: url(images/carrito/bot-der.jpg);
	background-repeat: no-repeat;
	height: 33px;
	width: 15px;
	float: left;
}

/* saftpay */
#saftpayData {
	background-color: #F0F0F0;
	margin: 0 10px 10px 10px;
	padding: 15px;
	width: 250px;
}

	#saftpayData label {
		display: block;
	}
	
	#saftpayData input, #saftpayData select {
		display: block;
		margin-bottom: 10px;
		width: 100%
	}
	
	#saftpayData #safttotal {
		border: 0 none;
		background-color: #F0F0F0
	}
