body {
	font-family: sans-serif, arial, verdana;
	font-size: 9pt;
	color: #333333;
  	background: url(images/bgbody.jpg) repeat;
	margin:0;
}
ul {
	list-style: none;
    margin: 0;
    padding: 0;
}
.header{
	width:760px;
	margin:auto;
	background-image:url(images/header.png);
	background-repeat:no-repeat;
	height:122px;
}
.header_logged{
	width:760px;
	margin:auto;
	background-image:url(images/header_logged.png);
	background-repeat:no-repeat;
	height:156px;
}
.header .menu, .header_logged .menu{
	padding-top:60px;
	float:right;
	width:560px;
	padding-right:5px;
}
.menu .first, .menu .second, .menu .third, .menu .fourth, .menu .fiveth, .menu .sixth, .menu .seventh, .menu .eightth, .menu .nineth{
	display:block;
	background-image:url(images/signup_menu.png);
	background-repeat:no-repeat;
	height:28px;
	margin:0 10px;
}
.menu .first{
	width:40px;
	background-position:0 0;
}
.menu .first:hover{
	background-position:0px -28px;
}
.menu .second{
	width:115px;
	background-position:-75px 0px;
}
.menu .second:hover{
	background-position:-75px -28px;
}
.menu .third{
	width:36px;
	background-position:-220px 0px;
}
.menu .third:hover{
	background-position:-220px -28px;
}
.menu .fourth{
	width:78px;
	background-position:-284px 0px;
}
.menu .fourth:hover{
	background-position:-284px -28px;
}
.menu .fiveth{
	width:70px;
	background-position:-390px 0px;
}
.menu .fiveth:hover{
	background-position:-390px -28px;
}
.menu .sixth{
	width:70px;
	background-position:-480px 0px;
}
.menu .sixth:hover{
	background-position:-480px -28px;
}
.menu .seventh{
	width:74px;
	background-position:-571px 0px;
}
.menu .seventh:hover{
	background-position:-571px -28px;
}
.menu .eightth{
	width:55px;
	background-position:-665px 0px;
}
.menu .eightth:hover{
	background-position:-665px -28px;
}
.menu .nineth{
	width:65px;
	background-position:-730px 0px;
}
.menu .nineth:hover{
	background-position:-730px -28px;
}
.logo{
	width:180px;
	height:80px;
	display:block;
	float:left;
	margin:10px 0 0 10px;
}
.menu li{
	padding:4px 4px 0 4px;
	height:31px;
	float:right;
	display:inline;
}
.menu li.last{
	padding:4px 10px 0 5px;
	background:none;
}
.menu li a{
	color:#D69999;
	font-size:15px;
	font-family:sans-serif,arial,tahoma;
	display:block;
	text-decoration:none;
}
.menu li a:hover{
	color:white;
}.contenedor{
	background-image:url(images/container_top.jpg);
	background-repeat:no-repeat;
	background-position:top;
	width:726px;
	background-color:white;
	margin:auto;
	padding:0 13px;
}
.dirbar{
	font-size:12px;
	clear:both;
	width:100%;
	color:#686868;
	padding:10px 0 5px 0;
	margin-bottom:10px;
	border-style:solid;
	border-color:#ccc;
	border-width:0 0 1px 0;
}
.dirbar a{
	color:#686868;
}
.column_420{
	width:395px;
	float:left;
}
.clearboth{
	clear:both;
	font-size:1px;
	height:1px;
	display:block;
}
.contenedor h1{
	padding:25px 0 2px 0;
	font-size:29px;
}
.contenedor h2{
	font-size:17px;
	color:#666;
	padding-bottom:10px;
}
.contenedor h3{
	font-size:11px;
	font-family:sans-serif,arial,tahoma;
	margin:0;
	color:#666;
	padding:11px 0 0 20px;
}
.contenedor h6{
	font-size:12px;
	font-weight:bold;
	color:#333;
	padding:10px 0 2px 0;
	font-family:sans-serif,arial,tahoma;
}
#frmRegistro .simpletb, .simpletb{
	background-image:url(images/signup_dot_white.jpg);
	background-color:white;
	border-style:solid;
	border-width:1px;
	border-color:#c3c3c3;
	font-size:13px;
	height:21px;
	padding:4px 0 0 5px;
	color:#777;
	width:320px;
}
#frmRegistro .select_1_s_2, #frmRegistro .select_2_s_2{
	background-color:white;
	border-style:solid;
	border-width:1px;
	border-color:#c3c3c3;
	font-size:13px;
	height:25px;
	padding:3px 0 0 1px;
	background-image:url(images/signup_dot_white.jpg);
	margin-right:8px;
}
#frmRegistro .select_1_s_2{
	width:65px;
}
#frmRegistro .select_2_s_2{
	width:180px;
}
.ht{
	color:#6D6D6D;
	padding-top:2px;
	width:340px;
	display:block;
}
.column_330 {
	width:310px;
	padding-left:15px;
	float:left;
}
.compromisos{
	margin-top:30px;
	width:311px;
	background-image:url(images/signup_compromisos.jpg);
	background-repeat:no-repeat;
	height:467px;
}
.compromisos .title{
	color:#666666;
	font-size:14px;
	padding:15px 0 0 10px;
}
.compromisos .item1, .compromisos .item2, .compromisos .item3{
	background-repeat:no-repeat;
	background-position:10px 40px;
	color:#797979;
	font-size:13px;
	line-height:16px;
	padding:30px 10px 0 85px;
}
.compromisos a{
	color:#0066CC;
	text-decoration:underline;
}
.compromisos span{
	display:block;
	font-size:17px;
	color:black;
}
.compromisos .item1{
	background-image:url(images/signup_icon1.jpg);
	padding-top:25px;
}
.compromisos .item2{
	background-image:url(images/signup_icon2.jpg);
}
.compromisos .item3{
	background-image:url(images/signup_icon3.jpg);
}
.knowmore{
	margin:22px 0 0 21px;
}
#footer {
	background: url(images/footer_end.jpg) no-repeat;
	color: #ccc;
	width: 716px;
	padding:20px 18px 15px 18px;
	clear: both;
	font-size:11px;
	margin:auto;
}

#footerlink a, #footerlink a:visited {
	color: #ccc;
	text-decoration:underline;
}

#footerlink a:hover {
	text-decoration: none;
}
.column_full{
	padding:0 20px;
}
.invite_off{
	width:97%;display:block;background-color:#F2F2F2;border-color:#D6D6D6;font-size:13px;color:#555;border-style:solid;border-width:1px;padding:4px;margin-bottom:5px;
}
.invite_on{
	width:97%;display:block;background-color:#999;border-color:#999;font-size:14px;color:#fff;border-style:solid;border-width:1px;padding:4px;margin-bottom:5px;
}
.invites{
	padding:10px 0 20px 0;
}
.invites span{
	position:relative;top:-1px;
}
.donothave{
	margin:0;
}
.donothave .item{
	font-size:14px;
	color:#777;
}
.donothave li{
	padding-bottom:10px;
}