<style type="text/css">
		<!--
		A:link        {font-family: helvetica, arial, geneva, sans-serif; font-size: x-small; text-decoration: none; color: #0000ff}
		A:visited     {font-family: helvetica, arial, geneva, sans-serif; font-size: x-small; text-decoration: none; color: #0000ff}
		A:hover       {font-family: helvetica, arial, geneva, sans-serif; font-size: x-small; text-decoration: underline; color: #FF0000}
		th            {font-family: helvetica, arial; color : blue; font-size:85%; background : lightgrey; border-right:black solid 1pt; border-bottom:black solid 1pt;}
		//-->
		</style><hr><a name="_C_PROGRESS"><div style="background-color:yellow;font-family:courier new;"></a>CLASS <b>Progress</b></div>
<i>(Defined in: jpgraph_gantt.php : 3027)</i><table border=1><tr><td>&nbsp;<a href="Progress.html" style="font-family:arial;font-weight:bold;color:darkblue;">Progress</a>&nbsp;</td></tr><tr><td valign=top>&nbsp;<a href="Progress.html#_PROGRESS_SET">Set()</a>&nbsp;<br>
&nbsp;<a href="Progress.html#_PROGRESS_SETFILLCOLOR">SetFillColor()</a>&nbsp;<br>
&nbsp;<a href="Progress.html#_PROGRESS_SETPATTERN">SetPattern()</a>&nbsp;<br>
</td></tr></table>&nbsp;<p><div style="font-weight:bold;font-family:arial;font-size:100%;">Class usage and Overview</div>Represents the progress bar inside the activity bar in Gantt Charts <p> &nbsp;
<div style="font-weight:bold;font-family:arial;font-size:85%;">See also related classes:</div><a href="GanttGraph.html">GanttGraph</a> and <a href="GanttBar.html">GanttBar</a> <p> &nbsp;<hr><span style="font-family:arial;font-size:120%;font-weight:bold;">Class Methods</span><hr><p>
<p>&nbsp; <p> &nbsp; <span style='font-size:110%;'><a name="_PROGRESS_SET"><div style="border-top:solid black 2pt;background-color:lightblue;font-family:courier new;font-size:90%;font-weight:bold;"><b><font color="#000000">
function&nbsp;Set($aProg)</font>
</b></div></a></span>

<span style='font-family:arial;font-size:90%;'><i>Specify progress of activity in percent.</i></span><p>

<table cellspacing=0 style='border:black solid 1pt;' width=100%>
<tr><th width=25%>Argument</th><th width=15%>Default</th><th width=60%>Description</th></tr>
<tr><td style='border-right:black solid 1pt;font-family:courier;font-size:90%;font-weight:bold;'><font color="#000000">
$aProg</font>

</td><td style='border-right:black solid 1pt;font-family:courier;font-size:90%;font-weight:bold;'>&nbsp;</td><td>Progress in percent (0-1)</td></tr>
</table>

<div style="font-weight:bold;font-family:arial;font-size:85%;">Description</div>Specify progress of activity in percent. The shape of the progress bar can be specified with Progress::SetPattern()&nbsp;<br>
 &nbsp; <div style="font-weight:bold;font-family:arial;font-size:85%;">See also</div><a href="Progress.html#_PROGRESS_SETPATTERN">Progress::SetPattern</a>
<div style="font-weight:bold;font-family:arial;font-size:85%;"><p>Example</div><span style="font-family:courier;font-size:85%;"><font color="#000000">
$bar-&gt;progress-&gt;Set(0.8);</font>
</span><br>
<p>
<p>&nbsp; <p> &nbsp; <span style='font-size:110%;'><a name="_PROGRESS_SETFILLCOLOR"><div style="border-top:solid black 2pt;background-color:lightblue;font-family:courier new;font-size:90%;font-weight:bold;"><b><font color="#000000">
function&nbsp;SetFillColor($aColor)</font>
</b></div></a></span>

<span style='font-family:arial;font-size:90%;'><i>Set fill (background) color for progress bar</i></span><p>

<table cellspacing=0 style='border:black solid 1pt;' width=100%>
<tr><th width=25%>Argument</th><th width=15%>Default</th><th width=60%>Description</th></tr>
<tr><td style='border-right:black solid 1pt;font-family:courier;font-size:90%;font-weight:bold;'><font color="#000000">
$aColor</font>

</td><td style='border-right:black solid 1pt;font-family:courier;font-size:90%;font-weight:bold;'>&nbsp;</td><td>Color</td></tr>
</table>

<div style="font-weight:bold;font-family:arial;font-size:85%;">Description</div>Set fill (background) color for progress bar&nbsp;<br>

<div style="font-weight:bold;font-family:arial;font-size:85%;"><p>Example</div><span style="font-family:courier;font-size:85%;"><font color="#000000">
$bar-&gt;progress-&gt;SetFillColor('white');</font>
</span><br>
<p>
<p>&nbsp; <p> &nbsp; <span style='font-size:110%;'><a name="_PROGRESS_SETPATTERN"><div style="border-top:solid black 2pt;background-color:lightblue;font-family:courier new;font-size:90%;font-weight:bold;"><b><font color="#000000">
function&nbsp;SetPattern($aPattern,$aColor,$aDensity)</font>
</b></div></a></span>

<span style='font-family:arial;font-size:90%;'><i>Specify pattern class to use for progress bar</i></span><p>

<table cellspacing=0 style='border:black solid 1pt;' width=100%>
<tr><th width=25%>Argument</th><th width=15%>Default</th><th width=60%>Description</th></tr>
<tr><td style='border-right:black solid 1pt;font-family:courier;font-size:90%;font-weight:bold;'><font color="#000000">
$aPattern</font>

</td><td style='border-right:black solid 1pt;font-family:courier;font-size:90%;font-weight:bold;'>&nbsp;</td><td>Pattern</td></tr>

<tr><td style='border-right:black solid 1pt;font-family:courier;font-size:90%;font-weight:bold;'><font color="#000000">
$aColor</font>

</td><td style='border-right:black solid 1pt;font-family:courier;font-size:90%;font-weight:bold;'><font color="#000000">
"blue"</font>
</td><td>Color</td></tr>

<tr><td style='border-right:black solid 1pt;font-family:courier;font-size:90%;font-weight:bold;'><font color="#000000">
$aDensity</font>

</td><td style='border-right:black solid 1pt;font-family:courier;font-size:90%;font-weight:bold;'><font color="#000000">
98</font>
</td><td>Density</td></tr>
</table>

<div style="font-weight:bold;font-family:arial;font-size:85%;">Description</div>Specify pattern class to use for progress bar. Valid patterns for the first argument are:

<ul>
<li>BAND_RDIAG, Right diagonal lines
<li>BAND_LDIAG, Left diagonal lines
<li>BAND_SOLID, Solid one color
<li>BAND_LVERT, Vertical lines
<li>BAND_LHOR, Horizontal lines
<li>BAND_VLINE, Vertical lines
<li>BAND_HLINE, Horizontal lines
<li>BAND_3DPLANE, "3D" Plane
<lI>BAND_HVCROSS, Vertical/Hor crosses
<li>BAND_DIAGCROSS, Diagonal crosses
</ul>

&nbsp;<br>
 &nbsp; <div style="font-weight:bold;font-family:arial;font-size:85%;">See also</div><a href="GanttBar.html#_GANTTBAR_SETPATTERN">GanttBar::SetPattern</a>
<div style="font-weight:bold;font-family:arial;font-size:85%;"><p>Example</div><span style="font-family:courier;font-size:85%;"><font color="#000000">
$activity-&gt;Set(0.8);<br />$activity-&gt;progress-&gt;SetPattern(BAND_RDIAG,"blue");<br /></font>
</span><br>
<p> <hr> <p>