body{
	background-color: #FFF;
	background-image: url(../images/fdo_tile.jpg);
	text-align: center;
	font: 62.5% Arial, Helvetica, sans-serif;
	padding:0;
	text-decoration: none;
	margin:0;
}
#contenedor {
	width:700px;
	text-align: left;
	margin: auto;
	background-color: #fff;
	padding:0;
	border: thin none #CCC;
}
#header {
	width:700px;
}

#contenido {
	font-size: 1.2em;
	font-weight: normal;
	padding:0 10px;
}

#formulario {
	width:655px;
	background-color:#f1f4f6;
	padding: 10px;
	font-size:0.9em;
	margin:0 0 10px;
}
h1{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:2em;
	line-height:0.6em;
	color:#9f0226;
}
p {
	color:#666;
	font-size: 1.3em;
}
.legal {
	font-size:0.8em;
}
.beneficios {
	float:left;
	padding-left:20px;
}

.unfloat {
	clear:both;
}

.col_izquierda {
	width:49%;
/*	padding:0 5px 5px 5px;*/
	float:left;
	overflow:auto;
}

.col_derecha {
	width:49%;
/*	padding:0 5px 5px 5px;*/
	float:right;
	overflow:auto;
	text-align:left;
}
.form-campo {
	float:left;
	width:70px;
	display:block;
}

#cta {
	padding:10px 10px 0pt 25px;
	text-align:center;
	float:left;
}

#member {
	padding:13px 10px 0;
	text-align:center;
	float:left;
	color:#888888;
}