body{
	background-image:url(images/fondo.jpg);
	font-family: Perpetua, Verdana, Arial, Helvetica;
	font-size: 12px;
	color: #FFFFFF;
	margin-left:0;
	margin-left:0;
	

}
table#fondo_ini
{
	background-image:url(images/inicio.jpg);
	background-position:top center;
	background-repeat:no-repeat;

}

a:link {color: #ffffff; }
a:visited {color: #ffffff; }
a:active {color: #ffffff;}
a:hover {color: #ffffff;}
a {text-decoration: none}

input
{
	font-family: Perpetua, Verdana, Arial, Helvetica;
	font-size:12px;
	border:none;
}

.registro{
	font-family: Perpetua, Verdana, Arial, Helvetica;
	font-size: 10px;
	color: #FFFFFF;
	}
.cortinatitulo {
    font-family:  Calibri, Arial, Helvetica;
    font-size: 24px;
}
.cortinamensaje {
    font-size: 16px;
    font-family: Tahoma, Arial, Helvetica;
}