@charset "utf-8";
/* CSS Document */

#container {
	width:720px;
	background-color:#FFFFFF;
	padding:10px 15px;
	margin: 0 auto;
}

.bloques {
	background-color:#eeeeee;
	border:solid 1px #b8b6da;
}

.perfil {
	padding:5px 10px;
	height:120px;
}

#datospersonales {
	margin-top:10px;
}

#datospersonales img#personalimg{
	float:left;
	margin-right:15px
}

#datospersonales p#datoscontainer {
	float:left;
}

.edit-perfil {
	padding:10px;
	margin:5px 0 0;
}

.edit-perfil p {
	margin:6px 0 1px;
}

.edit-perfil input, select {
	background-color:#FFFFFF;
	font-size:11px;
	color:#515050;
	border:solid 1px #bebebe;
	margin-right:8px;
}

.sections{
	position:relative;
	width:330px;
	height:170px;
	margin:5px 0;
	padding:5px;
}

.sections p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#515050;
	text-align:left;
	margin-top:10px;
}

.sections a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#515050;
	display:block;
	position:absolute;
	bottom:5px;
	text-decoration:none;
}

.sections a:hover {
	color:#b40f19;
}

.sections img {
	vertical-align:middle;
	padding:0 0 0 5px;
}

h2 {
	font-family:'trebuchet MS';
	font-weight:bold;
	font-size:15px;
	color:#43437d;
}

.col_izquierda {
	width:49%;
/*	padding:0 5px 5px 5px;*/
	float:left;
	overflow:hidden;
}

.col_derecha {
	width:49%;
/*	padding:0 5px 5px 5px;*/
	float:right;
	overflow:hidden;
	text-align:left;
}

#divisi {
	float:left;
	width:5px;
	background-image:url(../img/divisor_v.jpg);
	background-repeat:repeat-y;
	margin-top:5px;
	height:185px;
}
.recuadro {
/*	display:none; */
	border:solid 1px #B8B6DA;
	overflow:auto;
	margin: 5px 0 10px 0;
	background-color:#eeeeee;
	text-align:center;
	padding-top:10px;
}
.unfloat {
	clear:both;
	margin:auto;
}

#error-msj {
	clear:both;
	border:solid 10px #ffffff;
	background-color:#eeeeee;
	text-align:center;
	font-size:12px;
	color:#e1121e;
}

#error-msj ul {
	margin-top:10px;
}

#error-msj ul li{
}