@charset "utf-8";
body {
	background-color: #FFF;
	background-position: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
    }
.disculpe {
	height: 390px;
	width: 600px;
	background-image: url(img/disculpenos_03.jpg);
	background-repeat: no-repeat;
	padding-top: 120px;
	padding-right: 0px;
	padding-bottom: 60px;
	padding-left: 0px;
	color: #6d6e71;
	text-align: right;
}
.disculpe p{
 	padding-right: 35px;
	}
.disculpe destacado {
	font-size: 21px;
 	padding: 35px;
	}