@charset "utf-8";
/* CSS Document */

body {
	font-family:Arial, Helvetica, sans-serif;
	scrollbar-base-color: #e1121e;
}

#container {
	min-height:465px;
	width:700px;
	border:solid 1px #bebebe;
	background:#FFFFFF;
	margin:10px auto 0px auto;
	padding:10px 15px 17px 15px;
}
#head-gc {
	margin:0 0 15px;
}
#titulo {
	clear:both;
	display:block;
	margin:0 0 20px 0;
}

.col_izquierda {
	width:43%;
	float:left;
	overflow:auto;
}

.col_derecha {
	width:43%;
	float:right;
	overflow:auto;
	text-align:left;
}

.segunda_fila {
	overflow:auto; 
	margin-top:17px; 
	height:100%;
}

.recuadro {
	border:1px solid #878687;
	color:#515050;
	background-color:#DFDFDF;
	padding:10px 20px 10px;
	min-height:153px;
	padding-top:10px;
	overflow:hidden;
}
.titulo {
	display:block;
	font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size:20px;
	padding:0;
	color:#515050;
	border-bottom:solid 2px #515050;
	font-variant:small-caps;
	font-weight:bold;
}
#resumen-uso {
	margin-top:10px;
	list-style:none;
	padding:0;
	background-color:#cecece;
}
#resumen-uso li {
	display:block;
	padding:5px 1px;
	height:13px;
	border-bottom:dotted #BEBEBE 1px;
	background-color:#dfdfdf;
}
.numerico {
	text-align:right;
}
#subtotal {
	display:block;
	background-color:#CECECE;
	font-family: Arial, Helvetica, sans-serif;
	color:#B40F19;
	font-size:14px;
	letter-spacing: -0.5px;
	padding:5px 3px 2px 3px;
	height:20px;
}
#pendientes-container {
	height:115px;
}
#pendientes-container.scrolling {
	overflow:auto;
}
#pendientes {
	padding:20px;
	margin-top:10px;
	font-size:12px;
	border-collapse:collapse;
}
#pendientes .centrado {
	text-align:center;
}
#pendientes thead, #pendientes th {
    background-image: -moz-linear-gradient(top, #eeeeee, #dfdfdf);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #dfdfdf));
    background-image: -webkit-linear-gradient(#eeeeee, #dfdfdf);
    background-image: linear-gradient(top, #eeeeee, #dfdfdf);
	text-align:center;
	background-color:#eeeeee;
	height:20px;
	padding:0 5px;
	border-right:1px dotted #AAA;
	color:#515050;
}
.ultima {
	border-right:none;
}
#pendientes td {
	border-bottom:1px dotted #878687;
	}
.item {
	font-size:14px;
}
.value {
	font-size:14px;
}
.creditamount {
	float:left;
	margin: 2px 10px;
	padding:0;
	vertical-align: middle;
}
.creditamount input {
	margin:25px 0 0;
}
.creditamount img {
	cursor:pointer;
}
#sel-amount {
	padding-top:20px;
	width:420px;
	margin:0 200px 0 0;
	font-size:12px;
}
#logos-pago {
	clear:both;
	padding:10px 35px 5px;
}
#pago-autorizados {
	margin-left:15px;
	font-size:11px;
	display:block;
}
#cta {
	display:block;
	margin:40px auto 10px;
	text-align:center;
}
#cta img {
	border:none;
}
#nextButton.disabled{
	filter:alpha(opacity=50);
	-moz-opacity: 0.50;
	opacity: 0.50;
}
.unfloat {
	clear:both;
	text-align:center;
	padding-top:0;
}
#gracias {
	min-height:350px;
	margin:0 auto;
	width:380px;
	overflow:visible;
	padding-top:20px;
}
#estado-pago {
	border:solid 1px #dfdfdf;
	padding:5px 10px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	background-color:#fff;
	font-size:11px;
	display:none;
}
#gracias p {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin:12px 0;
}
#gracias li {
	margin:5px 0;
	list-style:none;
}
#gracias img {
	vertical-align:middle;
	margin:0 10px 0 0;
}
.payment-method {
	display:block;
	float:left;
	height:30px;
	padding:5px 0;
}
.payment-state {
	display:block;
	float:left;
	max-width:240px;
	padding:5px 0;
	min-height:40px;
}
#continuar {
	display:block;
	margin:50px 90px;
}
p.error {
	margin-top:15px;
	font-weight:bold;
	font-size:13px;
	color:red;
}

div#geelbecash-header {
	overflow:auto;
}

div#geelbecash-header img#gb-logo {
	float:left;
}

div#geelbecash-header p#gb-description {
	float:left;
	font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;
	font-size:17px;
	margin-left:10px;
	width:490px;
	text-align:left;
}

br.separator {
	clear:both;
}

div#container .header-help-link {
	color:#000;
	font-size:11px;
	position:relative;
	top:-2px;
}