<table width="100%" align="center" bgcolor="#181818" border="0" cellpadding="0" cellspacing="15">
	<tr>
		<td align="center" valign="top" style="text-align: center; font-family: Arial, Helvetica, sans-serif; color: #bebebe; font-size: 10px;"><span>Agrega geelbe@geelbe.com a tu lista de contactos para asegurarte que recibes los emails de Geelbe</span></td>
	</tr>
    <tr>
		<td align="center" valign="top">

			<table width="600" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#515050">
				<tr>
					<td align="center" valign="top" bgcolor="#181818" height="90" width="600">
                    	<table border="0" cellpadding="0" cellspacing="0" width="600">
                        	<tr>
                            	<td align="left" valign="top" width="479" style="line">
                    <a href="[[[notrack]]]http://www.geelbe.com/co/logica/autologin/login.php?IdUsuario=[[[idco]]]&Hash=[[[hashco]]]&Type=CAMPAIGN&utm_source=mail_doppler&utm_medium=email&utm_content=header&utm_campaign=[[[Date]]]"><img src="head_logo.jpg" alt="Geelbe" width="479" height="79" border="0" title="Geelbe" /></a>
                   			  </td>
                                <td style="line-height:0px"><a href="[[[notrack]]]http://www.twitter.com/geelbeco"><img src="head_tw.jpg" alt="Sigue nuestras noticias y eventos especiales en twitter" width="40" height="79" border="0" title="Sigue nuestras noticias y eventos especiales en twitter" /></a></td>
                                <td style="line-height:0px"><a href="[[[notrack]]]http://www.facebook.com/geelbeColombia"><img src="head_fb.jpg" alt="Disfruta de ofertas y promociones exclusivas en Facebook" width="81" height="79" border="0" title="Disfruta de ofertas y promociones exclusivas en Facebook" /></a></td>
                            </tr>
                    	</table>
                    </td>
				</tr>
				<tr>
                	<td>

						<table border="0" cellpadding="5" cellspacing="0" align="center" >

							<!-- comienza Especial de la semana -->
                        	{ESPECIAL}
							<!-- fin de Especial de la semana -->

                        	{HOY_HEAD}
                	        {HOY}
                        	<tr>
                        		<td><hr style="border:none 0;border-top:1px solid #bebebe;border-bottom:1px solid #dfdfdf;width:507px;color:#515050;background-color:#515050;height:5px;margin:0;" />                                </td>
							</tr>
                        	{FINALIZA_HEAD}
                            {FINALIZA}
                	        <tr>
                        		<td><hr style="border:none 0;border-top:1px solid #bebebe;border-bottom:1px solid #dfdfdf;width:507px;color:#515050;background-color:#515050;height:5px;margin:0;" />                                </td>
							</tr>
                        	<tr>
                            	<td>
									<span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-weight:bold; color:#bebebe;">PR&Oacute;XIMAMENTE</span>
                                            	<p style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#bebebe; font-size:14px; margin-top:0px; margin-bottom:0px; padding:0px;width:500px">{PROXIMAMENTE}</p>
                            	</td>
                            </tr>
                            <tr>
                            	<td style="line-height:0px" align="center" valign="top">
									<a href="[[[notrack]]]http://www.geelbe.com/co/logica/autologin/login.php?IdUsuario=[[[idco]]]&Hash=[[[hashco]]]&anchor=proximas&utm_source=mail_doppler&utm_medium=email&utm_content=calendario&utm_campaign=[[[Date]]]"><img src="cal-co_mx.jpg" border="0" alt="Agregar recordatorios a mi calendario" title="Agregar recordatorios a mi calendario" /></a>
                                </td>
                            </tr>
                            <tr>
                            	<td style="line-height:0px" align="center" valign="top">
	                                <a href="[[[notrack]]]http://www.geelbe.com/co/logica/autologin/login.php?IdUsuario=[[[idco]]]&Hash=[[[hashco]]]&Type=REF&utm_source=mail_doppler&utm_medium=email&utm_content=invitar&utm_campaign=[[[Date]]]"><img border="0" src="invite-co_mx.jpg" alt="Invit&aacute; a tus amigos y gan&aacute; cr&eacute;dito" title="Invit&aacute; a tus amigos y gan&aacute; cr&eacute;dito"/></a>
                                </td>
                            </tr>
                            
					</table>

					</td>
				</tr>
                <tr>
                	<td>&nbsp;</td>
                </tr>
			</table> 

		</td>
	</tr>
	<tr>
		<td valign="top" style="text-align: center; font-family: Arial, Helvetica, sans-serif; color: #ffffff; font-size: 12px;" align="left"><span>Copyright &copy; 2011 Geelbe, Club Privado de Compras por Internet</span>		</td>
  </tr>
	<tr>
		<td valign="top" style="text-align: center; font-family: Arial, Helvetica, sans-serif; color: #bebebe; font-size: 10px;" align="left"><span>Si no quieres seguir recibiendo nuestros correos, haz <a style="color: #bebebe;" href="[[[notrack]]]http://www.geelbe.com/co/front/ems/desuscribir.php">clic aqu&iacute;</a></span>
		</td>
	</tr>
</table>