@charset "utf-8";
#direccionEdit {
	width: 675px;
	background: #FFFFFF;
	margin: 0 auto; /* los márgenes automáticos (conjuntamente con un ancho) centran la página */
	border: 1px solid #000000;
	text-align: left; /* esto anula text-align: center en el elemento body. */
	display: none;
	position: absolute;
	padding: 20px;
	margin-top: -400px;
	z-index: 100;
	margin-left: -22px
}
input {
	color: #900;
}
#blockLayer {
	-moz-opacity:.50; filter:alpha(opacity=50); opacity:.50;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000
}