@charset "utf-8";
/* CSS Document */


.bot-volver {
	background-image: url(img/bot-volver.jpg);
	background-repeat: no-repeat;
	height: 40px;
	width: 240px;
	font-weight: bold;
	color: #FFF;
	font-size: 14px;
	padding-top: 20px;
	padding-left: 80px;
}

.bot-seguir {
	background-image: url(img/bot-seguir.jpg);
	background-repeat: no-repeat;
	height: 40px;
	width: 280px;
	font-weight: bold;
	color: #FFF;
	font-size: 14px;
	padding-top: 20px;
	padding-left: 80px;
	float: left;
}
.bot-estado {
	background-image: url(img/bot-estado.jpg);
	background-repeat: no-repeat;
	height: 40px;
	width: 240px;
	font-weight: bold;
	color: #FFF;
	font-size: 14px;
	padding-top: 20px;
	padding-left: 80px;
	float: left;
}

.errorpago {
	width: 500px;
	background-image: url(img/f-error.jpg);
	height: 120px;
	background-repeat: no-repeat;
	padding-top: 40px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 180px;
	
}
.sinstock {
	width: 500px;
	background-image: url(img/f-error.jpg);
	height: 140px;
	background-repeat: no-repeat;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 180px;
	
}
.ok {
	width: 500px;
	background-image: url(img/f-ok.jpg);
	height: 120px;
	background-repeat: no-repeat;
	padding-top: 40px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 180px;
	float: inherit;
	
}
.text {
	color: #000;
	font-size: 12px;
	width: 450px;
}
.tit {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bolder;
	color: #900;
	width: 450px;
}
.bot-left {
	background-image: url(img/bot-left.jpg);
	background-repeat: no-repeat;
	height: 33px;
	width: 15px;
	float: left;
}
.bot-center a {
	background-image: url(img/bot-center.jpg);
	height: 28px;
	color: #FFF;
	padding-top: 6px;
	float: left;
}
.bot-der {
	background-image: url(img/bot-der.jpg);
	background-repeat: no-repeat;
	height: 33px;
	width: 15px;
	float: left;
}

.bot-seguir a,
.bot-estado a,
.bot-volver a,
.bot-center a {
	color: #FFF !important;
}