@charset "utf-8";
body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #666666;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000000;
	background-image:url(img/bg.jpg);
	font-size: 12px;
}
.oneColElsCtr #container {
	width: 747px;
	margin: 0 auto;
	text-align: left;
}

.pie {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #FFF;
	font-size: 11px;
}
.tit1 {
	font-size: 18px;
	color: #900;
	padding-top: 20px;
	font-weight: bold;
}
.text {
	font-size: 12px;
	padding-top: 20px;
	padding-left: 280px;
	padding-right: 35px;
}
.text2 {
	color: #900;
	font-weight: bold;
}
.container {
	background-color: #FFFFFF;
}
.todo {
	background-color: #FFF;
	padding-left: 35px;
	padding-bottom: 60px;
}
.seguridad {
	float: left;
	padding-top: 2px;
	padding-right: 20px;
	padding-left: 10px;
}

.descuento {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFF;
	background-image: url(img/descuento.jpg);
	background-repeat: no-repeat;
	height: 115px;
	width: 240px;
	padding-top: 35px;
	padding-left: 100px;
	float: left;
	background-color: #DEDEDE;
}
.costo-envio {
	padding-top: 10px;
	padding-left: 347px;
	width: 331px;
	background-color: #DEDEDE;
}
.item-envio {
	height: 33px;
	padding-top: 15px;
	text-align: center;
}


.tit5 {
	font-weight: normal;
	color: #900;
	padding-bottom: 7px;
}
.text3 {
	font-size: 9px;
	color: #666;
	padding-bottom: 10px;
}


.micarrito {
	float: left;
	width: 530px;
	padding-left: 0px;
}
.productos {
	padding-left: 0px;
}
.tit3 {
	font-weight: bold;
	text-align: center;
	padding-bottom: 7px;
	padding-top: 7px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dedede;
	border-bottom-color: #dedede;
	border-left-color: #dedede;
}
.cantidad {
	width: 130px;
	float: left;
}
.importe {
	float: left;
	width: 124px;
}


.left-top {
	float: left;
}

.img-prod {
	float: left;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 30px;
}
.tit4 {
	font-weight: bold;
	color: #900;
	padding-top: 10px;
}
.item {
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #dedede;
	border-left-color: #dedede;
	height: 55px;
}
.item-cant {
	text-align: center;
	padding-top: 15px;
}



.producto {
	float: left;
	width: 300px;
}


.tit2 {
	font-size: 14px;
	font-weight: bold;
	color: #666;
	padding-top: 10px;
	padding-bottom: 10px;
}
.tit-eliminar {
	font-weight: bold;
	text-align: center;
	padding-bottom: 7px;
	padding-top: 7px;
	float: left;
	width: 130px;
	color: #900;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dedede;
	border-bottom-color: #dedede;
	border-left-color: #dedede;
}
.bg-right-top {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #093;
	height: 27px;

}
.item-importe {
	text-align: center;
	padding-top: 15px;
}
.eliminar {
	width: 130px;
	float: none;
}
.datos {
	background-image: url(img/bg-datos.jpg);
	background-repeat: no-repeat;
	height: 58px;
	width: 655px;
	padding-left: 25px;
	margin-left: 0px;
	padding-top: 17px;
	font-size: 10px;
	color: #666;
}
a {
	color: #900;
}
.text4 {
	font-size: 9px;
	color: #666;
	padding-bottom: 7px;
	float: left;
	padding-top: 5px;
	padding-left: 5px;
	width: 210px;
}
.total-costo {
	height: 35px;
	text-align: center;
	padding-top: 15px;
}
.creditos-utilizados {
	padding-top: 10px;
	padding-left: 347px;
	width: 331px;
	background-color: #CCC;
	padding-bottom: 5px;
}
.text5 {
	padding-bottom: 7px;
	float: left;
	padding-top: 5px;
	padding-left: 5px;
	width: 210px;
}
.total-creditos {
	height: 20px;
	text-align: center;
	padding-top: 5px;
}
.total {
	padding-top: 5px;
	padding-left: 5px;
	width: 333px;
	background-color: #c6dab2;
	margin-left: 340px;
	padding-bottom: 11px;
}
.continuar-comprando {
	padding-left: 0px;
	float: left;
	padding-top: 10px;
}
.siguiente-paso {
	float: right;
	padding-right: 35px;
	padding-top: 10px;
}


.total-total {
	height: 15px;
	text-align: center;
	padding-top: 5px;
}
.text6 {
	padding-bottom: 7px;
	float: left;
	padding-top: 5px;
	padding-left: 5px;

	width: 211px;
}
.right-top {
	float: right;
	margin-left: 100px;
	margin-top: -22px;
}
.right-bottom {
	float: right;
	margin-top: -12px;
}
.item2 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dedede;
	height: 55px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #dedede;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #dedede;
}
.productos-pago {
	padding-left: 0px;
	background-color: #DEDEDE;
	margin-left: 0px;
	margin-right: 37px;
	padding-bottom: 15px;
}
.total-totalcompra {
	background-image: url(img/bg-totalcompra.jpg);
	background-repeat: no-repeat;
	height: 74px;
	width: 675px;
	margin-left: 0px;
}
.izq-formasdepago {
	padding-left: 20px;
	padding-top: 10px;
	width: 320px;
	float: left;
}
.tit-seleccione {
	margin-left: 0px;
	padding-left: 20px;
	margin-right: 35px;
	background-image: url(img/dot-roja.jpg);
	margin-top: 20px;
}



.tit6 {
	font-weight: bold;
	color: #666;
	padding-top: 10px;
	padding-bottom: 7px;
	width: 400px;
	float: left;
}
.item-producto {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	margin-right: 35px;
	padding-bottom: 15px;
	margin-left: 30px;
}
.text7 {
	font-size: 9px;
	color: #666;
	padding-bottom: 10px;
	float: left;
}
.total-producto {
	height: 35px;
	text-align: center;
	padding-top: 15px;
	color: #666;
}
.text8 {
	padding-bottom: 7px;
	float: left;
	padding-top: 25px;
	padding-left: 15px;
	width: 200px;
	font-size: 18px;
	color: #000;
}
.total-final {
	height: 15px;
	text-align: center;
	padding-top: 25px;
	font-size: 18px;
}
.tit7 {
	font-weight: bold;
	color: #900;
	padding-top: 0px;
	background-color: #FFF;
	margin-top: 10px;
	width: 340px;
	padding-left: 5px;
}
.tarjetas {
	background-image: url(img/bg-tarjetas.jpg);
	background-repeat: no-repeat;
	height: 263px;
	width: 678px;
	margin-left: 0px;
	margin-top: 20px;
}
.item-tarjetas {
	margin-top: 27px;
	margin-left: 23px;
	float: left;
	margin-right: 38px;
}
.intereses {
	margin-top: 40px;
	margin-left: 30px;
	width: 370px;
	text-align: center;
	float: left;
}
.dineromail {
	margin-left: 450px;
	margin-right: 30px;
	padding-top: 25px;
}

hr {
	margin-bottom: 0px;
	width: 280px;
	margin-left: 40px;
}
.cuotas {
	background-color: #FF9;
	width: 130px;
}
.cant {
	background-color: #FF9;
	width: 40px;
}
