@charset "utf-8";
/* CSS Document */

body {
	background-color:#333333;
	font-family: Arial, Helvetica, sans-serif;
	color:#515050;
}
img {
	border:none;
}

#contenedor {
	padding:60px 15px 60px 15px;
	text-align:center;
	}
	
#contenido {
	width:580px;
	padding:20px 10px 25px 10px;
	background-color:#fff;
	margin:auto;
	overflow:auto;
	}

#error_type {
	font-family:'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-align:left;
	font-size:13px;
	color:#373764;
	letter-spacing:-1px;
	/*line-height:135px;*/
	}

#error-img {
	float:left;
	width:280px;
}

#detalle {
	float:left;
	width:255px;
	text-align:left;
	padding:10px 10px 10px 20px;
	/*margin-left:15px;*/
}

h1, h2 {
	font-family:'Trebuchet MS';
	font-weight:bold;
	padding:0;
	margin:5px 0;
}

h1 {
	font-size:24px;
	color:#B40F19;
}

h2 {
	font-size:16px;
}

/*#detalle*/ p {
	font-size:16px;
	margin:10px 0;
}

.unfloat {
	clear:both;
	text-align:center;
	padding-top:10px;
}
