body {
	font-family: Arial, verdana, sans-serif;
	font-size: 9pt;
	color: #333333;
	width: 500px;
	margin: 0 auto;
	height: 100%;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
	padding: 0;
	font-weight: bold;
	color: #D51113;
	font-size: 1.6em;

}

h2 {
  text-align: left; 
  font-weight: normal;
  color: #D51113;
}

h2 a:link {
  font-size: 1.2em;

  color: #D51113;
  text-decoration: none;
}

h2 a:hover {
  color: #333;
  text-decoration: underline;
}

h3 {
  font-size: 1em;
  text-align: justify; 
  font-weight: bold;
  color: #505050;
}

h4 {
/*  font-size: 0.8em;*/
  text-align: justify; 
  font-weight: normal;
  color: #505050;
}

h5 {
/*  font-size: 1em; */
  text-align: left; 
  font-weight: normal;
}

p {
  font-size: 1em;
  text-align: justify;  
}

/* links */

a:link, a:visited {
  color: #FF0000;
  text-decoration: none;
}

a:hover {
  color: #666;
  text-decoration: underline;
}

a:active, a.active {
  color: black;
}

/* some more items */

img, a img {
  border: none;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

.grisado {
	background: #F0F0F0;
  	padding: 2px;
}
	
.icono {
	float: left;
	padding-right: 2px;
}

/***********************
*   layout styling
***********************/

#container {
	background: #efefef;
	padding: 0 5px;
	clear: left;
	float: left;
	width: 740px;
}

#contenido-top {
  	background: url(../images/contenido-top.gif) no-repeat;
  	padding: 8px 10px;
  	margin: 10px 18px 0 18px;
	width: 690px;
	float: left;
	clear: left;
}

#contenido {
  	background: url(../images/contenido-center.gif) repeat-y;  
  	padding: 0 15px;
  	margin: 0 18px;
	width: 680px;
	float: left;
	clear: left;  
}

#contenido-bot {
	background: url(../images/contenido-bot.gif) no-repeat top;
	padding: 10px;
	margin: -3px 16px;
	height: 10px;
	width: 690px;
	float: left;
	clear: left;
}

#top {
	background-image:url(../images/bg-top.jpg);
	background-repeat: no-repeat;
	height: 60px;
	padding: 25px 0 0 5px;
}

#topleft {
	float:left;
	clear:left;
	width: 150px;
	height: 80px;
	margin: -10px 0;
}

#topright {
	float:right;
	clear:right;
	width: 515px;
	margin: -20px 0;
}	

#central {
	width: 505px;
	float: right;
	clear: right;
	margin-right: 5px;
}

.columna {
	width: 165px;
	float:right;
	clear:left;
	margin-right: 2px;
}

#producto {
	background: url(../images/bg-product.gif) no-repeat;
	padding: 8px 0 0 10px;
	width: 700px;
	height: 180px;
	float: left;
	clear: left;
	margin:10px 18px 0 18px;
}

#productoprox {
	background: url(../images/bg-product1.gif) no-repeat;
	padding: 8px 0 0 10px;
	width: 700px;
	height: 180px;
	float: left;
	clear: left;
	margin:10px 18px 0 18px;
}

.foto-prod {
	float:left;
	clear:left;
	width: 270px;
	height: 165px;
	background-repeat: no-repeat;
}

.info-prod {
	float:right;
	clear:right;
	width: 410px;
}	

.logo-prod {
	float:right;
	clear:right;
	margin-right: 15px;
}	

.catalogo {
	width: 242px;
	float:right;
	clear:left;
	background-image:url(../images/bg-catalogo.gif);
	padding: 5px;
	height: 370px;
	background-repeat: no-repeat;
}

.catalogodet {
	width: 242px;
	float:right;
	clear:left;
	background-image:url(../images/bg-catalogo-fotos.gif);
	padding: 5px;
	height: 350px;
	background-repeat: no-repeat;
}

.thumbnails {
	width: 100%;
	padding: 16px 18px;
}

.catalogoreng {
	float:left;
	clear:left;
	height: 350px;
	margin-top:10px;
}

.catalogodescr {
	width: 500px;
	float:left;
	clear:left;
	padding: 5px;
	height: 150px;
	background-image:url(../images/bg-catalogo-descripcion.gif);
	background-repeat: no-repeat;
}

.carro {
	width: 670px;
	float:left;
	clear:left;
	padding: 5px;
	background-image:url(../images/bg-carro.gif);
	background-repeat: no-repeat;
}


.left {
	clear: left;
	float: left;
}

.right {
	clear: right;
	float: right;
}

/* header */

#header {
  height: 150px;
  background: url(../images/bg-header-1.5.png) no-repeat;
  padding: 0;
  margin: 0;
}

#logo-title {
  float: left;
  padding: 10px 0 0 3px;
}

#creditos {
	padding: 65px 10px 10px 5px;
	margin: 0 0 0 400px;
	background-image: url(../images/creditos.gif);
	background-repeat: no-repeat;
	height: 50px;
}

#display {
	margin: 0 0 10px 10px;
}

#header #testing-name, #header #testing-slogan {
  position: relative;
  padding: 0;
  margin: 0;
  left: 100px;
  top: 43px;
  padding-left: 10px;
  border: 0;
}

#header #testing-slogan {
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  color: #A4BEDD;
  letter-spacing: 1px;
}

#header #logo {
  position: absolute;
  top: 0px;
}

/* menues */

#menu {
	background: url(../images/bg-menu.jpg) no-repeat;
	padding: 2px 0 0 70px;
	height: 24px;
	width: 750px;
}

#primary ul {
	/*position: absolute;
	/*   right: 805px;*/
  	top: 156px;
	/*left: 270px;*/
	text-align: center;
	/*font-size: 1.5em;*/
	text-transform: uppercase;
	width: 750px;
	height: 15px;
}

#primary ul li {
  margin: 0 0 0 25px;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  float: left;
}

#primary ul li a, #primary ul li a:visited {
	display: block;
	margin: 0;
	padding: .3em .5em;
	color: white;
	height: 15px;
	float: left;
	font-size: 1.2em;
	font-weight: bold;
}

#primary ul li a:hover {
	color: 666;
	background: url(../images/bt-hover.gif) no-repeat;
	background-position: center top;
	text-decoration: none;/*  border-top: 1px solid white;
  border-bottom: 1px solid white;*/
}

/* menu left */

.item-list ul li {
	margin: 0 0 2px 0;
	padding: 8px 0;
	list-style: url((URL)) none;
	background-image:url(../images/boton-left.jpg);
	color: #666666;
	height: 16px;
	width: 160px;
	background-repeat: no-repeat;
}

ul {
	list-style: none;
    margin: 0;
    padding: 0;
    }	

#menuleft {
	width: 160px;
	float: left;
	clear: left;
}

#menuleft li a {
	padding: 8px 4px;
	list-style: url((URL)) none;
	background-image:url(../images/boton-left.jpg);
	color: #666;
	height: 20px;
	background-repeat: no-repeat;
	width:160px;
    }

#menuleft li a:link, #menu li a:visited {
	color: #666;
    }

#menuleft li a:hover {
	color: #333;
	background-image:url(../images/boton-left2.jpg);
	text-decoration: none;	
	width: 100%;
    }

#menuleft li #active {
	color: #FFF;
	background-image:url(../images/boton-left1.jpg);
	width: 100%;
    }

#submenu {
	color: #FFF;
	background-color:#CCCCCC;
	height: 20px;
	width:144px;
	border-bottom: 1px solid #F0F0F0;
	padding: 5px 2px;
    }

#submenu a:link {
	color: #666;
    }
		
/* footer */

#footer {
	text-align: right;
	background: url(../images/bg-footer-1.5.png) no-repeat;
	clear: left;
	float: left;
	width: 690px;
	padding: 5px 30px;
	color: #CCCCCC;
	height: 40px;
}

#footerlink a, #footerlink a:visited {
	color: white;
}

#footerlink a:hover {
	color: white;
	text-decoration: underline;
}

#bottom {
	height: 200px;
	background: url(../images/bg-bottom.jpg);
	clear: left;
	float: left;
	width: 750px;
}

ul.primary {
  text-align: left;
  border-bottom: 1px solid #CCC;
  padding: 5px;  
}

ul.primary li a {
  border-color: #b0b0b0;
  padding: 8px 10px;
  background-image:url(../images/menu-boton.gif);
}

ul.primary li a.active {
  border-color: #CCC;
  border-bottom: 1px solid white;
  background-image:url(../images/menu-active.gif);  
}

/* tables */

table {
  margin: 0.5em 0 1em 0;
  width: 100%;
}

thead th {
  border-bottom: 2px solid #b0b0b0;
  color: #678;
  font-size: 90%;
  font-weight: bold;
  background: url(../images/bg-thead.gif) repeat-x bottom left; 
  padding: 4px 5px 0 5px;
}

tr.even, tr.odd {
  border-color: #DADCE0;
}

tr.even {
  background-color: #fbfcfe;
}

tr.odd {
  background-color: #f5f5f5; }

td.active {
  background: #e9e9e9;
}

td {
  padding: 3px;
  font-size:10px;
}

td.menu-disabled {
  background-color: #E5E5E5;
}

/* forms */

form {
  margin-bottom: .5em;
}

input, textarea, select, textfield {
  font: 1ems "Verdana", sans-serif;
  color: #333;
  padding: 1px;
  background-color: #CCCCCC;
  border: 1px solid #999;  
}

.radio {
  background-color: #F0F0F0;
  border: 0 solid #999;  
}

.scroll {
	background-color: #DFDFDF;
	border: 1px solid #999;
	height: 75px;
	width: 99%;
	padding: 2px;
	overflow: auto;
}

#block-user-2 ul li, #block-user-3 ul li {
  list-style-type:none;
  list-style-image: none;
  margin-left: -5px;
  padding-left: 18px;
  background-image: url(../images/mini-user-light-blue.png);
  background-repeat: no-repeat;
  background-position: 0 3px;
}

/* progress bar */

.progress .bar {
  background: #fff url(../images/progressbar.gif) repeat;
  border: 1px solid #00375a;
}

/* messages */

.messages {
  min-height: 32px;                 /* icon height */
  padding: 1.3em 1em .3em 52px;
  border: 2px solid #DADCE0;
  background: #fbfcfe;
  margin: 10px 0;
}

.messages ul {
  padding: 0 0 0 20px;
  margin: 0;
}

div.status {
  background: url(../images/icon-info.png) .5em 50% no-repeat;
}

div.error {
  border: 2px solid #E1471D;
  background: #FCD295 url(../images/icon-alert.png) .5em 50% no-repeat;
}

div.error ul li, div.status ul li {
  list-style-type: square;
  list-style-image: none;
}

/* mixed elements */

div.meta, .description, .breadcrumb, .submitted, .taxonomy {
  font-size: 1.1em;
  color: #494949;
  line-height: 1.6em;
}


pre {
  background: #fbfcfe;
  border: 1px solid #DADCE0;
  padding: 0.75em 1.5em;
}

blockquote {
  border: 1px #DADCE0 solid;
  margin: 0.5em 1em;
  padding: 0.3em;
  font-style: italic;
}

code {
  font-size: 1em;
  font-family: Profont, 'lucida console', 'Courier New', Monaco, monospace;
}

.blockinner {
  padding: 0;
  margin: 0;
}

.preview .node, .preview .comment {
  border: 1px solid #BABFC6;
  padding: 10px;
  margin: 5px 0 10px 0;
  background-color: black;
}

#mission {
  padding: 15px;
  margin: 0 0 10px 0;
  border: 2px solid #96ADC8;
  background: #BCD1EA url(../images/bg-mission.gif) repeat-x bottom left;
}

.new {
  float: right;
  color: red;
  vertical-align: super;
  font-size: 80%;
  font-weight: bold;
}

/* admin panel */

div.admin-panel {
  border: 1px solid #DADCE0;
  background-color: #fbfcfe;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  margin-top: 15px;
}

div.admin-panel h3 {
  padding: 5px 5px 5px 30px;
  margin: 0 0 5px 0;
  border-bottom: 2px solid #DADCE0;
  background: #E6EAF2 url(../images/crystal-run.gif) no-repeat 2px 2px;
}

/* node links */

div.links {
    text-align: right;
}

ul.links {
  text-align: center;
}

ul.links li.first {
  padding-left:0px;
}

.node div.links {
  padding-top: 1px;
  padding-bottom: 2px;
  border-bottom: dashed #DADCE0 1px;
}

.sticky div.links {
  border-bottom: none;
}

.comment .links {
  font-size: 90%;
}

li.comment_add a, li.comment_comments a {
  background: url(../images/mini-comment.png) no-repeat 0 1px;
  padding-left: 15px;
}

li.node_read_more a {
  background: url(../images/mini-readmore.png) no-repeat 0 2px;
  padding-left: 15px;
}

li.upload_attachments a {
  background: url(../images/mini-attachment.png) no-repeat 0 2px;
  padding-left: 15px;
}

li.comment_delete a {
  background: url(../images/mini-trash.png) no-repeat 0 0;
  padding-left: 15px;
}

li.comment_edit a {
  background: url(../images/mini-edit.png) no-repeat 0 0;
  padding-left: 15px;
}

li.comment_reply a {
  background: url(../images/mini-comment.png) no-repeat 0 0;
  padding-left: 15px;
}


div.node div.content .book-navigation {
  background: #eee;
  margin:0;
  padding:0;
}

div.node div.content .book-navigation ul.menu {
  border:0;
  border-top:1px solid #2763A5;
  margin:0;
  padding-bottom:10px;
}

div.node div.content .book-navigation .page-links{
  background: #C1D4EA;
  border:1px solid #2763A5;
  border-width:1px 0 1px 0;
  padding:5px;
  margin:0;
}

