*{margin:0px;padding:0px;font-family: Calibri,Arial;font-size:14px;text-align:left;}
h2{font-size:17px;margin:10px;}
h3{font-size:16px;margin:10px;}
h4{font-size:14px;margin-bottom:10px;}
h5{font-size:13px;margin-bottom:10px;}
.contenido{background-color: #d81313;width: 170px;}
.td_principal{width:150px;font-weight:bold;color:#fff;border-bottom:1px solid #fff;padding-left:10px;}
.td_contenido{cursor:pointer;color: #fff;padding-left:10px}
td.td_contenido:hover{text-decoration: underline;cursor:pointer;}
.td_contenido a{text-decoration:none;cursor:pointer;color: #fff;}
td.td_contenido a:hover{text-decoration:none;text-decoration: underline;cursor:pointer;}
.td_seleccionada{text-decoration: underline;cursor:pointer;font-weight:bold;padding-left:10px}