/* some common styles */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FFFFFF;
	line-height: 1.7em;
	width: 752px;
	background-color: #2C2C2C;
	margin: 0 auto;
	background-position: top center;
	background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p {
	font-size: 0.8em;
	text-align: left;
	line-height: 1.8em;
}

ul {
  font-size: 1em;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0;
  padding: 5px 0;
}

/* links */

a:link, a:visited {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

a:active, a.active {
  color: #FFFFFF;
}

a.aqui
{
color: #333;
text-decoration: underline
}

a.aqui:hover
{
	color: #FFFFFF;
	text-decoration: underline
} 



/* home */

#header {
	height: 390px;
	background: url(images/hd-home_03.jpg) no-repeat;
	padding: 100px 22px 3px 65px;
	margin-top: 55px;
	z-index: -1;
}

#footer {
 height: 25px;
 text-align: right;
 font-size: .9em;
 position: absolute;
 margin-top:-50px;
 margin-left:430px;
}

.logo {
	float: right;
	clear: right;
	margin-right: 2px;
	z-index: -1;
}

object{

 z-index:-1;

}
