@charset "utf-8";
/* CSS Document */
#logout_container{width:880px; height:auto; z-index:1; position:absolute; left: 50%; top: 50%; margin-top: -134px; margin-left: -440px}
#logout_box_left{width:410px; height:258px; border:5px solid #666; float:left; margin:30px 40px 0 0; position:relative; text-align:center; opacity:0.9; background-color:#262626;}
#logout_box_roght{width:410px; height:258px; border:5px solid #666; float:left; margin:30px 0 0 0; position:relative;text-align:center;opacity:0.9; background-color:#262626;}
#logout_txt_box{width:370px; height:40px; padding:5px 20px 0 20px; float:left; margin-top:20px; text-align:justify; background-color:#000;}
.logout_txt{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#CCC;}
.logout_txt a{ text-decoration:none; color:#DC1F26;}
.logout_txt a:hover{color:#FFF}

