* {
	margin: 0;
	padding: 0;
}

body {
}

.all ul, .all li {
	list-style-type: none;
	background-color:#F3F3F3;
}

.all ul li p{
/*	padding:10px;
	line-height:17px;
	color:#666;*/
}

.all ul a{
	color:#d51113;
}

.all ul li ul li p{
/*	background-color:#DFDFDF;
	padding:10px;
	width:599px;*/
}

.cat {
	background-image: url(img/bg.jpg);
	height: 30px;
	padding-left: 10px;
	color: #F0f0f0;
	font-size: 18px;
	padding-top: 5px;
	margin-bottom:5px;
}
.pregunta {
	font-size: 16px;
	font-weight: bold;
	color: #CC0000;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left:10px;
}
.respuesta {
	margin-left: 10px;
	background-color:#DFDFDF;
	padding:10px;
	width:599px;
	line-height:17px;
	color:#666;
}
.respuesta p{
	margin-bottom:15px;
}

.dot {
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}

.mas {
	float: right;
	margin-right: 5px;
	margin-top: -15px;
}

.all {
	background-color: #ffffff;
	margin: 10px;
	padding: 10px;
}
.sub {
	background-image: url(img/bg-sub.jpg);
	height: 30px;
	padding-left: 10px;
	color: #FFFFFF;
	font-size: 18px;
	padding-top: 5px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom:5px;
}
.hitarea{
}