			
/*-----------------------------------------------------------------------------------------------*/
/*                                         TOOLTIP STYLES                                        */
/*-----------------------------------------------------------------------------------------------*/

.tip {
position:absolute;
margin-top:66px;
margin-left:155px;
font-size:14px;
font-weight:bold;
	
	
}
