@charset "utf-8";
/* CSS Document */

.text1{
	font-size:21px;
	color:#727272;
	font-family:"sans serif", Arial, Tahoma;
	font-weight:bold;
	padding:25px 0 25px 20px;
	line-height:30px;
}
.text2{
	font-size:20px;
	color:#999;
	font-family:"sans serif", Arial, Tahoma;
	line-height:30px;
	padding:22px 0 20px 20px;
}
.top5 .title{
	padding-top:5px;
	font-size:15px;
	color:#999;
	font-family:"sans serif", Arial, Tahoma;
}
.top5 ul li{
	margin:0px;
	padding:0px;
	list-style:none;
}
.top5 ul li{
	color:#82C0FF;
	font-size:12px;
	position:relative;
		font-weight:bold;
	font-family:"sans serif", Arial, Tahoma;
	padding-bottom:5px;
}
.top5 ul {
	width:100%;
	margin:0;
	padding-top:10px;
}
.top5 ul li span{
	position:absolute;
	right:35px;
	width:100px;
	color:#999;
	font-weight:normal;
	font-size:11px;
}
.top5 {
	padding-left:15px;
	border-left-style:solid;
	border-left-width:1px;
	border-left-color:#ccc;
}
.littletext{
	padding-top:15px;
	font-size:11px;
	color:#999;
	font-family:Tahoma,Arial;
	padding-left:20px;
}
.condicionesbox{
	overflow:scroll;
	overflow-x:hidden;
	width:600px;
	margin:auto;
	height:120px;
	background:#F5F5F5;
	border-color:#CCC;
	border-style:solid;
	border-width:1px;
	margin-top:15px;
	padding:8px;
}