*{margin:0px;padding:0px;font-family: Calibri,Arial;font-size:14px;}
body{margin:10px;}
.borde_top{background:#d81313;}
.borde_bottom{background: url("../imagenes/Borde_bottom.gif") repeat-x;}
.Error{color: red;font-weight: bold;}