@import "styles.css";

/* some common styles */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FFFFFF;
	line-height: 1.7em;
	width: 750px;
	background-color: #2C2C2C;
	margin: 0 auto;
	background-image: url(images/bg-home.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p {
  font-size: 0.8em;
  text-align: left;
  line-height: 1.8em;  
}

ul {
  font-size: 1em;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0;
  padding: 5px 0;
}

/* links */

a:link, a:visited {
  color: #CCCCCC;
  text-decoration: none;
}

a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

a:active, a.active {
  color: #FFFFFF;
}

a.aqui
{
color: #333;
text-decoration: underline
}

a.aqui:hover
{
color: #f00;
text-decoration: underline
} 



/* home */

#header {
  height: 390px;
  background: url(images/hd-home.jpg) no-repeat;
  padding: 100px 22px 10px 65px;
  margin-top: 55px;
}

#footer {
	height: 25px;
	text-align: right;
	font-size: .9em;
}

.logo {
	float: right;
	clear: right;	
}

#header form {
	position:relative;
	top:-20px;
	left:-20px;
}
span.titular {
	font-size:15px;
	font-weight:bold;
	font-family:sans-serif, Arial;
	position:relative;
	top:-25px;
}
form .input{
	position:relative;
	top:10px;
	cursor:pointer;
}

.gotoleft{
	position:relative;
	left:-20px;
	top:-15px;
}
#txtUser{
	padding-bottom:5px;	
}
.errorpasswd{
	font-size:12px;
	font-weight:bold;
	color:#F00;
	padding-bottom:7px;
}