body
{
	background-color:#979797;
	font-family: Perpetua, Verdana, Arial, Helvetica;
}

table#base
{
	background-image:url(images/base.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	margin:0;
}

table#pie
{
	background-image:url(images/pie.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

td#contenido_top
{
	background-image:url(images/contenido_top.gif);
	background-repeat:no-repeat;
	background-position:top center;
}

td#contenido_centro
{
	background-image:url(images/contenido_center.gif);
	background-repeat:repeat-y;
	background-position:top center;
}

td#contenido_bot
{
	background-image:url(images/contenido_bot.gif);
	background-repeat:no-repeat;
	background-position:top center;

}

td#contenido_cabecera{
	background-image:url(images/contenido_cabecera.jpg);
	background-repeat:no-repeat;
	background-position:top left;
}

.txtblack {
	font-family: Perpetua, Verdana, Arial, Helvetica;
	font-size: 12px;
	color: #333333;
}

.txtgrey {
	font-family: Perpetua, Verdana, Arial, Helvetica;
	font-size: 12px;
	font-style: bold;
	text-decoration: none;
	color:#999999;
}

.txtcredito1 {
	font-family: Perpetua, Verdana, Arial, Helvetica;
	font-size: 14px;
	font-style: bold;
	color: #FFFFFF;
	text-align: left
}

.txtcredito2 {
	font-family: Perpetua, Verdana, Arial, Helvetica;
	font-size: 14px;
	font-style: bold;
	color: #CC0000;
	text-align: center;
}
.imputbportada {
	font-family: Perpetua, Verdana, Arial, Helvetica;
	font-size: 12px;
	font-style: normal;
	color: #999999;
	text-decoration: none;
	background-color:#F3F3F3;
	border:none;
}
.imputs {
	font-family: Perpetua, Verdana, Arial, Helvetica;
	font-size: 12px;
	color:gray;
	text-decoration: none;
	background-color: #F3F3F3;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
table#fondo-contenido
{
/*	background-image:url(images/fondo_contenido.jpg);
	background-position:top center;
	background-repeat:repeat-y;*/
}

.logout{
	font-family:Helvetica,Arial, Verdana;
	font-size: 10px;
	color: #FFFFFF;
}
.tellafriend{
	font-family:Helvetica,Arial, Verdana;
	font-size: 12px;
	color: #FFFFFF;
	font-weight:bold;
}

a:link {color: #ffffff; }
a:visited {color: #ffffff; }
a:active {color: #ffffff;}
a:hover {color: #ffffff;}
a {text-decoration: none}

a#ref:link {
	font-family: Perpetua, Verdana, Arial, Helvetica;
	font-size: 14px;
	font-style: bold;
	color: #CC0000;
	text-align: center;
}
a#ref:visited {
	font-family: Perpetua, Verdana, Arial, Helvetica;
	font-size: 14px;
	font-style: bold;
	color: #CC0000;
	text-align: center;
}
a#ref:active {
	font-family: Perpetua, Verdana, Arial, Helvetica;
	font-size: 14px;
	font-style: bold;
	color: #CC0000;
	text-align: center;
}
a#ref:hover {
	font-family: Perpetua, Verdana, Arial, Helvetica;
	font-size: 14px;
	font-style: bold;
	color: #CC0000;
	text-align: center;
}
a#ref {text-decoration: none}

.input_amigo
{
	font-family: Perpetua, Verdana, Arial, Helvetica;
	font-size:12px;
	border:none;
}

.titulo{
font-size:14px;
font-weight:bold;
}