   <form method="get">
   <select class="select" name="select" size="1" multiple="multiple" id="select">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
   </select>
   <input type="submit" value="submit"/>
   </form>