
<meta name="tipo_contenido"  content="text/html;" http-equiv="content-type" charset="utf-8">
<h4><strong>TÉRMINOS Y CONDICIONES DE USO</strong> <br /><br/>
<strong>1. Objeto.</strong><br/> 
Los presentes Términos y Condiciones de Uso (los “TCU”) regulan el uso del sitio web www.geelbe.com (el “Sitio Web”), de cuyo uso en la República de Colombia es titular la sociedad Geelbe Colombia S.A.S. (“Geelbe”), identificada con el NIT 900 343 822 4, ubicada en la Av. Cra. 47A # 93-38 de la ciudad de Bogotá, con teléfono (1) 742 5913, así como las condiciones de compra y venta de los productos ofrecidos en el mismo políticas de privacidad del Sitio Web. Geelbe es una sociedad por acciones simplificada, debidamente constituida de conformidad con las leyes de la República de Colombia. A través de su Sitio Web, Geelbe adelanta actividades con duración, productos y descuentos determinados (la ”Campaña” o las ”Campañas”). Mediante las Campañas, Geelbe proporciona información acerca de los productos y servicios que presta, ofreciendo la posibilidad de adquirirlos y contratarlos, respectivamente, a aquellas personas que, previo cumplimiento de los requisitos establecidos por Geelbe (i.e. ser mayor de edad, recibir una invitación personal para formar parte de Geelbe (ser referido), completar el formulario de registro y seguir los pasos señalados posteriormente vía correo electrónico), adquieren la calidad de socios del Sitio Web (el “Socio” o los “Socios”). La condición de Socio supone la adhesión incondicional y sin reserva alguna a los TCU en la versión publicada y vigente en el momento en que éste acceda al Sitio Web. En cualquier caso, aquellas personas que accedan al Sitio Web y que no lleguen a registrarse (los “Usuarios”) estarán sometidos igualmente a los presentes TCU en la medida en que éstos les sean aplicables. Los productos y servicios ofrecidos por Geelbe se dirigen única y exclusivamente a personas con plena capacidad y legitimación para obligarse de conformidad con los TCU. Así mismo, Geelbe solamente acepta y distribuye pedidos en la República de Colombia (el “Territorio”).<br/>
<strong>
2. Referenciados.</strong><br/>
Geelbe permite a sus Socios referenciar a sus familiares y amigos para que ellos también puedan convertirse en Socios, sin costo alguno (el “Referenciado”). En el momento en que el Referenciado, que se ha convertido en Socio, realice su primera compra utilizando el Sitio Web, superior a cincuenta mil pesos moneda corriente ($50.000), incluyendo el impuesto al valor agregado (IVA), sin incluir gastos de envío, se cargará de forma automática un bono de regalo por valor de diez mil pesos moneda corriente ($10.000) en la cuenta del Socio que lo referenció. Geelbe se reserva el derecho de cancelar los bonos de regalo cuando observe la violación por parte del respectivo Socio, de alguno de los términos y condiciones establecidos en los presentes TCU, incluyendo pero sin limitarse, al envío de invitaciones entre cuentas de correo electrónico de la misma persona que tengan por objetivo el beneficiarse indebidamente de los bonos de regalo.
<br/>
<strong>3. Información sobre los productos.</strong><br/>
Las descripciones de los productos expuestos en el Sitio Web, se realizan con base en la información proporcionada por los proveedores de Geelbe. En consecuencia, la información proporcionada en el Sitio Web acerca de cada producto, incluyendo las fotografías y/o vídeos, así como los nombres comerciales, marcas o signos distintivos son expuestos para orientar a los Socios.
<br/>
<strong>4. Precios.</strong><br/>

Todos los precios de los productos que se ofrecen a través del Sitio Web incluyen el Impuesto al Valor Agregado (IVA). No incluyen, los gastos correspondientes al envío de los productos, que se detallan aparte y que deberán ser aceptados expresamente y con anterioridad a la compra del producto por el Socio. La información sobre el descuento que se obtiene al comprar en Geelbe, así como la comparación de precios, se calcula utilizando los precios de lista que proporciona el respectivo proveedor para tal fin o utilizando los precios constatados por los empleados de Geelbe en los puntos de venta del proveedor y/o otros distribuidores.


<strong>5. Disponibilidad.</strong><br/>
El número de unidades disponibles al iniciarse las Campañas han sido reservadas por nuestros proveedores para su venta en el Sitio Web. En ningún caso Geelbe pondrá a la venta intencionalmente más unidades de las que el proveedor le haya reservado. Geelbe hará todo lo posible por satisfacer a todos sus Socios en la demanda de los productos. Sin embargo, en ocasiones, debido a causas ajenas y por lo tanto no imputables a Geelbe, tales como fallas en los sistemas informáticos, es posible que la cantidad finalmente suministrada por el proveedor difiera del pedido realizado por Geelbe para satisfacer las órdenes de compra de los Socios. En caso de que el producto no esté disponible después de que el Socio haya realizado el pedido, éste será informado por correo electrónico de la cancelación total del pedido. En caso de cancelación total, Geelbe reembolsará al Socio el pago efectuado en el mismo medio en que éste fue realizado, sin que haya lugar o pago adicional a favor del Socio.
<br/>
<strong>6. Pago.</strong><br/>
El Socio se obliga a pagar el precio del respectivo producto en el momento que realiza el pedido del mismo. Al precio inicial que figure en el Sitio Web para cada uno de los productos ofrecidos, se le sumarán las tarifas correspondientes a los gastos de envío pertinentes. En cualquier caso, dichas tarifas serán comunicadas previamente al Socio antes de formalizar la compra, es decir, de manera previa a la realización del pago. El Socio deberá abonar el importe correspondiente a su pedido mediante pago a través de tarjeta de crédito o de débito (Visa, Mastercard, Visa Electron, American Express y/u otras tarjetas análogas que para tal efecto hayan sido autorizadas por Geelbe), mediante el sistema de pagosonline.net o cualquier otro que Geelbe permita al momento de realizar la compra. El detalle de los productos y cargos de envío aplicables que corresponden al respectivo pedido, estará disponible y se podrá visualizar en el Sitio Web en la sección “Mi cuenta”, “Pedidos”. El Socio deberá notificar a Geelbe cualquier cargo indebido o fraudulento en la tarjeta utilizada para las compras, por correo electrónico en el menor tiempo posible para que Geelbe pueda realizar las gestiones oportunas a que haya lugar.
<br/>
<strong>7. Seguridad.
</strong><br/>Geelbe cuenta con los más altos estándares de seguridad comercialmente disponibles en el sector. Además, el proceso de pago funciona sobre un servidor seguro utilizando el protocolo SSL (Secure Socket Layer). El servidor seguro establece una conexión de modo que la información se transmite cifrada mediante algoritmos de 128 bits, que aseguran que sólo sea inteligible para el ordenador del Socio y del Sitio Web. De esta forma, al utilizar el protocolo SSL se garantiza: (i) Que el Socio está comunicando sus datos al centro servidor de Geelbe y no a cualquier otro que intentara hacerse pasar por éste. (ii) Que entre el Socio y el centro servidor de Geelbe los datos se transmiten cifrados, evitando su posible lectura o manipulación por terceros. Así mismo, Geelbe no tiene acceso a datos confidenciales relativos al medio de pago utilizado por el Socio, y por tanto tampoco los almacena.<br/>
<strong>
8. Formalización de pedidos.</strong><br/>
Una vez formalizado el pedido, Geelbe enviará al Socio un correo electrónico confirmando los detalles de la compra realizada, y un correo electrónico adicional con el estado del pago del pedido. Una vez confirmado el pago del pedido, el Socio recibirá un correo electrónico con la confirmación del mismo y, recibirá también correo(s) electrónico(s) mediante los cuales se le informará el estado de envío del pedido.
<br/>
<strong>9. Cancelación de pedidos.</strong><br/>
Sin perjuicio de lo previsto en el numeral 10.2 de estos TCU, Geelbe aceptará la cancelación de los pedidos por parte del Socio, única y exclusivamente cuando ésta se solicite por correo electrónico antes de la finalización de la Campaña. Una vez finalizada la respectiva Campaña, no se aceptarán cancelaciones de pedidos por ningún motivo. No obstante, el Socio podrá, una vez finalizada la Campaña, realizar la devolución del respectivo producto, únicamente de acuerdo con el procedimiento establecido para ello en el numeral 11 de los presentes TCU.
<br/>
<strong>10. Plazos, Lugar de Entrega y Extravíos.</strong><br/> 10.1 Entrega del producto.
Geelbe se compromete a entregar el producto en perfecto estado en la dirección que el Socio señale en el formulario de pedido, la cual en todo caso deberá estar comprendida dentro del Territorio. Geelbe no será responsable por los errores en la entrega cuando la dirección de entrega señalada por el Socio en el formulario de pedido no se ajuste a la realidad o en la misma hayan sido incluidos datos erróneos u omitidos datos necesarios para su ubicación.
10.2 Plazo de Entrega.
únicamente para efectos indicativos, el plazo de entrega habitual de Geelbe suele oscilar entre diez (10) y veintiún (21) días calendario, desde la fecha de finalización de la Campaña. No obstante lo anterior, el plazo máximo que tendrá Geelbe para realizar las entregas es de treinta (30) días calendario, contados desde la fecha de finalización de la respectiva Campaña. Para mayor información, es importante que el Socio tenga en cuenta que el procedimiento de alistamiento y entrega durante este tiempo es el siguiente: recibir la mercancía de nuestros proveedores en los almacenes de Geelbe, preparar los pedidos y enviarlos a través de la empresa de transporte y/o mensajería correspondiente. Geelbe hará su mejor esfuerzo para el mismo día en que se envía el pedido, por la respectiva empresa de transporte y/o mensajería, comunicarle al Socio mediante correo electrónico, la salida del producto de sus almacenes. En caso de retraso en la entrega, Geelbe informará al Socio en cuanto tenga conocimiento del mismo. Cada entrega se considera realizada desde el momento en que la empresa de transporte y/o mensajería correspondiente ponga el producto a disposición del Socio, lo cual se materializa a través del sistema de control utilizado por la antedicha empresa de transporte y/o mensajería. En caso de retraso en la entrega de los pedidos por causas comprobadas e imputables a Geelbe, según éstas sean aceptadas por Geelbe, el Socio podrá cancelar su pedido de acuerdo con el procedimiento descrito en el numeral 11 de los TCU. No se considerarán retrasos en la entrega, aquellos casos en los que el pedido haya sido puesto a disposición del Socio por parte de la respectiva empresa de transporte y/o mensajería dentro del plazo antes señalado, o éste no haya podido ser entregado por causas no imputables a Geelbe.
10.3 Datos de entrega, entregas no realizadas y extravío.
En el mismo correo electrónico en el que se informa al Socio que el producto ha salido de los almacenes de Geelbe, se proporciona el número de guía del envío y el número telefónico de atención al cliente de la empresa de transporte y/o mensajería responsable de la entrega, para que, en caso que surja cualquier problema con la entrega, el Socio pueda contactar directamente a la empresa de transporte y/o mensajería correspondiente, para resolverlo. Si en el momento de la entrega el Socio se encuentra ausente, se dejará un aviso en el que figura la hora de la visita con un número de teléfono para que el Socio pueda contactar y coordinar una nueva entrega con la empresa de transporte y/o mensajería. Si el Socio no se comunica con la empresa de transporte y/o mensajería dentro de las 48 horas inmediatamente siguientes a la fecha en que se dejó el aviso el respectivo, el producto será devuelto a los almacenes de Geelbe, quien se encargará de contactarse con el Socio a fin de volver a coordinar la entrega del paquete. El costo de esta nueva entrega correrá por cuenta exclusiva del Socio, y Geelbe no será responsable de los riesgos de pérdida del producto, con relación a esta entrega.
10.4 Diligencia en la entrega.
El Socio deberá comprobar el buen estado del paquete ante la empresa de transporte y/o mensajería que, por cuenta de Geelbe, realice la entrega del producto solicitado, indicando en la hoja de entrega cualquier anomalía que pudiera detectar en el embalaje. Si una vez revisado el producto, el Socio detectase cualquier incidencia en el mismo, incluyendo algún golpe, rotura, indicios de haber sido abierto o cualquier imperfección causada en el mismo por el envío, el Socio deberá comunicarlo a Geelbe vía correo electrónico dentro de los siete (7) días hábiles siguientes a la fecha de la entrega, con el fin de iniciar el trámite correspondiente a la devolución del producto, en los términos del numeral 11 de estos TCU. En consecuencia, no habrá lugar a devolución alguna si el Socio no comunica la incidencia a Geelbe dentro del plazo aquí previsto.
<br/>
<strong>11. Devolución.</strong><br/> 11.1 Procedimiento de devolución.
Todos los productos comprados en el Sitio Web de Geelbe podrán ser devueltos o reembolsados, siempre que: (a) El Socio comunique a Geelbe su intención de devolver el/los producto/s adquirido/s dentro de un plazo máximo de siete (7) días hábiles contados desde la fecha de entrega. (b) El Socio cumpla estrictamente con el procedimiento que se indica a continuación, dentro del plazo establecido en el literal (a) anterior, de no ceñirse estrictamente a este procedimiento, la devolución o reembolso no procederá: (i) El Socio debe ingresar al Sitio Web de Geelbe en Colombia, y allí entrar al link denominado "Mi Cuenta". (ii) Una vez se abra el link mencionado en el numeral (i) anterior, deberá escoger la última opción que figura en el recuadro de la parte izquierda, denominada "Mis consultas". (iii) Seleccionada la opción antes indicada, aparecerá un recuadro de fondo rojo que dice "Realizar nueva consulta", el cual deberá seleccionar para ingresar al formato que Geelbe ha diseñado para recibir consultas de sus Socios. (iv) En el formato de consulta en el ítem denominado "Motivo:", deberá seleccionar la opción denominada "Cambios y devoluciones"; luego en el ítem denominado "Marca:", deberá seleccionar alguna de las que están disponibles, pues son sobre los productos de dichas marcas sobre los que procedería la devolución o el reembolso, ya que son sobre los que se está en tiempo para hacer la solicitud, pues el sistema del Sitio Web está programado para actualizar este campo conforme con la duración de las Campañas en el Sitio Web, y con los plazos estimados para la entrega de los productos adquiridos por los Socios durante la duración de la Campaña; y finalmente en el ítem "Comentario:", deberá de forma detallada indicar la razón por la cual pretende devolver el/los productos adquiridos a través del Sitio Web. (v) Geelbe responderá la consulta del Socio máximo dentro de los siete (7) días hábiles siguientes a la fecha en que el Socio haya remitido de forma correcta la misma, esto es, siguiendo los pasos indicados en el numeral (iv) anterior. (c) Obtenida la respuesta de Geelbe a la consulta el Socio deberá cumplir con las condiciones que se prevén a continuación: (i) Los productos que hayan sido claramente usados no podrán ser devueltos. (ii) Los productos deben ser devueltos como fueron enviados, protegidos con su empaque original, y con todos los accesorios, instrucciones y documentación. (iii) El reenvío del producto deberá hacerse usando la misma caja o bolsa protectora en que éste fue remitido al Socio para resguardar el producto; en caso de que ello no sea posible, el Socio deberá devolverlo en una caja o bolsa protectora para asegurar que el producto llegue al almacén de Geelbe en el mismo estado en que lo recibió. (iv) Debe incluirse una copia de la factura de compra entregada inicialmente con el producto dentro del paquete, donde además se marquen los productos devueltos. (v) Se debe anexar carta explicando los motivos dirigida al área de atención al cliente de Geelbe Colombia. A esta copia se debe anexar la respuesta de parte del área de atención al cliente en donde se da por aceptado el cambio del producto. (v) Geelbe no recibirá devoluciones de ropa interior, trajes de baño, productos de belleza y perfumería, alimentos y bebidas, relojería y joyería, salvo que el Socio haya reportado alguna incidencia sobre el producto en los términos y condiciones previstos en el numeral 10.4 de estos TCU. Con el objetivo de facilitar a los Socios el proceso de devolución y poder hacer un correcto seguimiento del mismo, el Socio deberá devolver el producto a los almacenes de Geelbe, por medio de una empresa de correo certificado. No se aceptan devoluciones de realizadas de manera personal por los Socios a los almacenes de Geelbe. Si la devolución se debe a causas imputables a Geelbe debidamente comprobadas, los gastos de envío correrán por cuenta de Geelbe. En cualquier otro caso, los gastos de envío hacia los almacenes de Geelbe, para la devolución del producto, así como los gastos por concepto del reenvío del producto al Socio, de ser el caso, estarán a cargo del Socio.
11.2 Reembolsos al Socio.
La devolución de los productos dará lugar a un reembolso igual al costo de los productos devueltos. únicamente en el caso de que el producto entregado sea devuelto por causas imputables a Geelbe debidamente comprobadas, ésta reembolsará también al Socio los gastos de envío correspondientes. Geelbe gestionará la devolución del precio del producto bajo el mismo sistema que el Socio utilizó para el pago del mismo, en un plazo de cuarenta y ocho (48) horas contadas desde la confirmación de llegada del producto devuelto al almacén de Geelbe. El abono efectivo correspondiente a la devolución en la cuenta o tarjeta del Socio, dependerá de la tarjeta y de la respectiva entidad financiera emisora. En todo caso, el plazo para hacer efectivo el abono será de hasta treinta (30) días calendario.<br/>
<strong>12. Garantía de los productos adquiridos.</strong><br/> Geelbe actúa en calidad de distribuidor de fabricantes o distribuidores mayoristas que garantizan que los productos que se ofrecen para la venta en el Sitio Web funcionan correctamente y no presentan defectos, ni vicios ocultos que puedan hacerlos peligrosos o inadecuados para su uso normal. La garantía contractual ofrecida por Geelbe para un producto determinado es la misma que concede el proveedor del producto y ésta será claramente detallada en la ficha descriptiva de los productos. Una vez que el Socio haya recibido el producto, tendrá un folleto informativo de la marca, las instrucciones suficientes para el correcto uso e instalación del producto y toda la información acerca de la garantía. Ningún Socio podrá reclamar una garantía más amplia de la que ahí se indica. Geelbe no estará obligada a recoger el producto averiado y el Socio deberá dirigirse al servicio posventa del proveedor. En este sentido, Geelbe realizará las acciones encaminadas a proporcionar a los Socios que así lo soliciten, los datos de contacto de dicho servicio y facilitará a éstos la información suficiente para la presentación de las reclamaciones pertinentes. La garantía perderá su vigencia en caso de defectos o deterioros causados por factores externos, accidentes, en especial, accidentes eléctricos, desgaste, instalación y utilización no conforme a las instrucciones del proveedor. Quedan excluidos de la garantía, los productos que hayan sido modificados o reparados por el Socio o por cualquier otra persona no autorizada por el proveedor, o los productos dañados por un uso inadecuado.
<br/>
<strong>13. Condiciones de uso y otorgamiento de créditos.</strong><br/>
Geelbe podrá otorgar a sus usuarios créditos por distintas acciones en su sitio. Como ejemplo otorga $10.000 de crédito, de forma gratuita, a cada usuario que se registra en el sistema. También Geelbe otorga $10.000 por cada persona que un Usuario invite. Para esto, un Miembro debe invitar a través de los formularios disponibles a sus amigos que no sea ya miembro de Geelbe o que su amigo ingrese ingresando el correo electrónico de quien lo invitó como Código de Registro. Sólo de estas formas el sistema podrá relacionar a los referidos con la cuenta de quien los invitó, y así garantizar los créditos, ya que cada Miembro sólo podrá tener una persona que lo haya invitado, y que será determinado por el Código de Registro que hubiera sido ingresado por el invitado al registrarse. Los miembros podrán invitar cuantas personas deseen. Los créditos que se acrediten por invitar a amigos se mantendrán como potenciales hasta tanto el invitado se registre y realice su primera compra superior a $50.000. Los créditos tendrán una validez máxima de 12 (doce) meses y sólo podrán ser usados para compras de productos ofrecidos en Geelbe, pero no podrán ser usados para abonar gastos de envío o de otro tipo que correspondan a cada promoción. No podrán ser acumulados con otras promociones. Los créditos no podrán ser transferidos a otro miembro ni acumulados con créditos de otros miembros. Los créditos no pueden ser solicitados en efectivo, siendo su uso limitado a lo establecido en estas condiciones. En caso de baja de la cuenta los créditos se perderán definitivamente. Cada miembro sólo podrá ser titular de una cuenta en Geelbe. Si se verificara o sospechara un uso fraudulento y/o malintencionado y/o contrario a estos términos y condiciones y/o contrarios a la buena fe, Geelbe tendrá el derecho inapelable de quitar los créditos, dar de baja las cuentas y hasta de perseguir judicialmente a los infractores, en caso que corresponda. Esta promoción y estas condiciones se mantendrán vigentes mientras Geelbe lo considere conveniente. Geelbe podrá darla de baja o cambiarla en cualquier momento y sin necesidad de preaviso o invocación de causa. En caso de darse de baja esta promoción los créditos se mantendrán en las cuentas de los usuarios hasta su vencimiento. Geelbe, a través de sus sistemas, determinará unilateralmente el monto máximo de créditos que el Usuario podrá utilizar en una compra y lo detallará en el sistema, previo a iniciar el proceso de pago. Los créditos serán descontados de la cuenta al cerrar el proceso de compra. Si por cualquier causa el Usuario no completara el proceso de pago, tanto online como físico, los créditos no serán reintegrados a la cuenta del Usuario, bajo ningún concepto. Tampoco serán reintegrados en caso de devolución de los productos, por cualquier causa que esto ocurriera.
<br/>
<strong>14. Propiedad intelectual e industrial.</strong><br/> Geelbe ostenta todos los derechos sobre el contenido, diseño y código fuente del Sitio Web incluyendo pero sin limitarse, sobre las fotografías, imágenes, textos, logos, diseños, marcas, nombres comerciales y datos que se incluyen en el Sitio Web. Se advierte a los Socios y Usuarios que tales derechos están protegidos por la legislación aplicable vigente relativa a la propiedad intelectual e industrial y, son de su uso exclusivo. Queda expresamente prohibida la reproducción total o parcial del Sitio Web o de cualquiera de sus contenidos, sin el permiso previo y por escrito de Geelbe. Así mismo, queda totalmente prohibida la copia, reproducción, adaptación, modificación, distribución, comercialización, comunicación pública y/o cualquier otra acción que comporte una infracción de las leyes aplicables en materia de propiedad intelectual y/o industrial, así como el uso de los contenidos del Sitio Web si no es con la autorización previa y por escrito de Geelbe. Geelbe no concede licencia o autorización expresa o implícita alguna sobre los derechos de propiedad intelectual y/o industrial o sobre cualquier otro derecho o propiedad relacionado, directa o indirectamente, con los contenidos incluidos en el Sitio Web.
<br/>
<strong>15. Acceso y estancia en la web.</strong><br/> Nuestros contenidos.
Los Socios y Usuarios son responsables de su conducta al acceder a la información del Sitio Web. Como consecuencia de lo anterior, los Socios y Usuarios serán los únicos responsables frente a Geelbe y/o cualquier tercero, de: (i) Las consecuencias que se puedan derivar de una utilización, con fines o efectos ilícitos o contrarios al presente documento, de cualquier contenido del Sitio Web, elaborado o no por Geelbe, publicado o no bajo su nombre de forma oficial; y (ii) Las consecuencias que se puedan derivar de la utilización contraria al contenido de los TCU que sea lesiva de los intereses o derechos de Geelbe o de terceros, o que de cualquier forma pueda dañar, inutilizar o deteriorar el Sitio Web o sus servicios o impedir el normal disfrute de otros Socios o Usuarios. Los Socios y Usuarios asumirán total responsabilidad por sus obligaciones adquiridas bajo los presentes TCU. En virtud de lo anterior, los Socios y Usuarios defenderán, indemnizarán, reembolsarán, compensarán y mantendrán indemne por dicho concepto a Geelbe, a sus accionistas, afiliados, empresas vinculadas, directores, subordinados, empleados, proveedores y clientes, de cualquier responsabilidad, reclamación, pérdida, daño, pleito, acción legal, proceso, sanción, investigación o penalidad derivados de: (i) (i) La violación de cualquier disposición constitucional, ley, decreto, reglamentación, regulación, aplicable a estos TCU; y (ii) (ii) El incumplimiento de las obligaciones establecidas en los presentes TCU. Geelbe se reserva el derecho a actualizar los contenidos del Sitio Web cuando lo estime conveniente, así como a eliminarlos, limitarlos o impedir el acceso a ellos, de manera temporal o definitiva, así como a denegar el acceso al Sitio Web a Socios y Usuarios que hagan un mal uso de los contenidos y/o incumplan cualquiera de las condiciones establecidas en el presente documento. Geelbe informa que no garantiza: (i) Que el acceso al Sitio Web y/o a los sitios web de enlace sea ininterrumpido o libre de errores; (ii) Que el contenido o software al que los Socios y Usuarios accedan a través del Sitio Web o de los sitios web de enlace no contenga error alguno, virus informático u otros elementos en los contenidos que puedan producir alteraciones en su sistema o en los documentos electrónicos y ficheros almacenados en su sistema informático o de cualquier forma causen algún daño; y (iii) El aprovechamiento que de la información o contenido del Sitio Web o sitios web de enlace que los Socios y Usuarios pudieran realizar para sus propósitos personales. La información contenida en el Sitio Web debe ser considerada por los Socios y Usuarios como divulgativa y orientadora, motivo por el cual Geelbe no garantiza la exactitud de la información contenida en el Sitio Web, y por consiguiente no asume responsabilidad alguna sobre los posibles perjuicios o incomodidades para los Socios y Usuarios que pudiesen derivarse de alguna inexactitud presente en el mismo.
<br/>
<strong>16. Responsabilidad.
</strong><br/>Geelbe no asume responsabilidad alguna derivada, de manera enunciativa más no limitativa de: (i) La utilización que los Socios o Usuarios puedan hacer de los materiales de este Sitio Web o de los sitios web de enlace, ya sean prohibidos o permitidos, en infracción de los derechos de propiedad intelectual y/o industrial de contenidos de la web o de terceros. (ii) Los eventuales daños y perjuicios a los Socios o Usuarios causados por un funcionamiento normal o anormal de las herramientas de búsqueda, de la organización o la localización de los contenidos y/o acceso a la web y, en general, de los errores o problemas que se generen en el desarrollo o instrumentación de los elementos técnicos que la web o un programa facilite al Socio o Usuario. (iii) Los contenidos de aquellas páginas a las que los Socios o Usuarios puedan acceder desde enlaces incluidos en la web, ya sean autorizados o no. (iv) Los actos u omisiones de terceros, independientemente de la relación que dichos terceros pudieran tener con Geelbe. (v) El acceso de menores de edad a los contenidos incluidos en la web, así como el envío de información personal que estos pudieran realizar. (vi) Las comunicaciones o diálogos en el transcurso de los debates, foros, chats y comunidades virtuales que se organicen a través de o entorno al Sitio Web y/o sitios web de enlace, ni responderá, por tanto, de los eventuales daños y prejuicios que sufran los Socios o Usuarios a consecuencia de dichas comunicaciones y/o diálogos. Así mismo, Geelbe no será responsable en forma alguna, cuando se produzcan: (i) Errores o retrasos en el acceso al Sitio Web a la hora de introducir los datos en el formulario de pedido, la lentitud o imposibilidad de recepción por parte de los destinatarios de la confirmación del pedido o cualquier anomalía que pueda surgir cuando tales incidencias sean debidas a problemas en la red Internet, caso fortuito o fuerza mayor o cualquier otra contingencia imprevisible y no imputable a Geelbe. (ii) Fallos o incidencias que pudieran producirse en las comunicaciones, ya sea borrándose o por transmisiones incompletas, de manera que no se garantiza que los servicios del Sitio Web estén constantemente operativos. (iii) Errores o daños producidos al Sitio Web por un mal uso del servicio por parte del Socio o Usuario. (iv) La no operatividad o problemas en la dirección de correo electrónico facilitada por el Socio para el envío de la confirmación del pedido. En todo caso, Geelbe hará su mayor esfuerzo para buscar la solución a los problemas que puedan surgir y, a ofrecer todo el apoyo necesario al Socio para buscar una solución rápida y satisfactoria de la incidencia. Así mismo, Geelbe tiene derecho a realizar durante intervalos temporales definidos, campañas promocionales para promover el registro de nuevos miembros en su servicio. Geelbe se reserva el derecho de modificar las condiciones de las Campañas, así como prorrogarlas o proceder a la exclusión de cualquiera de los participantes de la Campaña en caso que detecte cualquier anomalía, abuso o comportamiento poco ético en la participación de los mismos.
<br/>
<strong>17. Habeas Data.
</strong><br/>Los Socios y Usuarios se comprometen a navegar por el Sitio Web y a utilizar el contenido del mismo de buena fe. El diligenciamiento de cualquier formulario existente en el Sitio Web o la remisión de un correo electrónico a cualquiera de nuestros buzones implican la aceptación de estos TCU, así como la autorización a Geelbe para usar los datos facilitados por el Socio o Usuario, así como para reportar, procesar, solicitar y divulgar a cualquier central u operador de información, toda la información referente a su comportamiento como cliente de Geelbe. Lo anterior implica que el cumplimiento o incumplimiento de sus obligaciones se reflejará en las mencionadas bases de datos, en donde se consignan de manera completa, todos los datos referentes a su actual y pasado comportamiento y, en general, al cumplimiento de sus obligaciones. Los datos de los Socios serán utilizados para el envío a través de correo electrónico de las Campañas que realice Geelbe y para la entrega de las compras. Por la simple visita al Sitio Web, los Usuarios no facilitan información personal alguna ni quedan obligados a facilitarla. El ordenador donde está alojado el Sitio Web utiliza cookies para mejorar el servicio prestado por Geelbe. Estas cookies se instalan automáticamente en el ordenador empleado por los Socios y Usuarios, pero no almacenan ningún tipo de información relativa a éstos. Geelbe se compromete a guardar la máxima reserva y confidencialidad sobre la información que le sea facilitada y a utilizarla únicamente para los fines indicados. Geelbe presume que los datos proporcionados han sido introducidos por su titular o por una persona debidamente autorizada por éste, así como que son correctos y exactos. Corresponde a los Socios la actualización de sus propios datos, por lo que en cualquier momento, el Socio tendrá el derecho de acceso, rectificación, cancelación y oposición a sus datos personales. Para ejercer esta facultad el Socio deberá acceder al enlace “Mi Cuenta” en el Sitio Web. Por lo tanto, el Socio será el único y exclusivo responsable de la veracidad y exactitud de sus datos personales. Conforme a la legislación vigente en materia de protección de datos, incluyendo pero sin limitarse a la Ley 1273 de 2009, Geelbe ha adoptado los niveles de seguridad adecuados a los datos facilitados por los Socios y, además, ha instalado todos los medios y medidas a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y extracción de los mismos. Nuestra política de tratamiento puede ser consultada <a href="http://www.geelbe.com/co/front/terminos/politica.php">aqui</a>
<br/>
<strong>18. Nulidad.</strong><br/>
En caso de que cualquier cláusula de los presentes TCU sea declarada nula, ineficaz o inoponible, las demás cláusulas seguirán vigentes y se interpretarán teniendo en cuenta la voluntad de las partes y la finalidad misma de los presentes TCU. En el evento en que Geelbe decida no ejercer alguno de los derechos y facultades conferidos en este documento, esto no implicará en ningún caso la renuncia a los mismos por parte de Geelbe, salvo reconocimiento expreso por parte de ésta o prescripción de la acción que en cada caso corresponda.
<br/>
<strong>19. Modificación de los Términos y Condiciones de Uso.</strong><br/>
Geelbe se reserva el derecho de modificar, en cualquier momento y a su entera discreción la presentación y configuración del Sitio Web, así como los presentes TCU. Por ello, Geelbe recomienda al Socio leerlas atentamente cada vez que acceda al Sitio Web. Los Socios y Usuarios siempre dispondrán de los TCU en un sitio visible, libremente accesible para cuantas consultas quieran realizar. En cualquier caso, la aceptación de los TCU será un paso previo e indispensable a la navegación por el Sitio Web, así como a la adquisición de cualquier producto disponible a través de éste.
<br/>
<strong>20. Ley y jurisdicción aplicable.
Los presentes TCU se rigen por la legislación colombiana aplicable. Para resolver cualquier controversia o conflicto que se derive de los presentes TCU, las partes se someterán a la jurisdicción ordinaria de la República de Colombia.
<br/>
<strong>21. Origen de fondos.</strong><br/>
Al aceptar los presentes TCU, el Socio manifiesta expresamente que: (i) Los recursos con los que efectuará el pago del precio de cualquier producto que adquiera a través del Sitio Web provienen del desarrollo de actividades lícitas y no se derivan ni relacionan en modo alguno con actividades de lavado de activos ni, en general, con actividades ilícitas de ninguna naturaleza; (ii) No se encuentra en la actualidad identificado en la Lista de Nacionales Especialmente Designados y Personas Bloqueadas (Specially Designated Nationals and Blocked Persons List) expedida por la Oficina de Control de Activos Extranjeros del Departamento del Tesoro de los Estados Unidos de América (“OFAC”) y/o en cualquier lista similar expedida por la OFAC de acuerdo con cualquier autorización, orden ejecutiva o regulación; y (iii) Mantendrá indemne a Geelbe frente a cualquier reclamación, demanda, acción o sanción de cualquier tercero y/o de cualquier autoridad competente, relacionada o que se derive del origen de los recursos con los que se efectuará el pago del precio de cualquier producto adquirido a través del Sitio Web.
<br/>
<strong>22. GCash.</strong><br/>
GCash es una forma distinta de abonar compras en Geelbe, lo ofrecemos para comodidad y practicidad. GCash funciona como una precarga de dinero que el Socio realiza a Geelbe para hacer compras futuras. Para cargar dinero en GCash debe seguirse el siguiente proceso: Una vez que el Socio ingresa con su usuario y contraseña a Geelbe, podrá hacer clic en la opción "GCash" del menú superior de navegación. De allí podrá acceder a las distintas opciones para cargar dinero a su cuenta. Para hacerlo deberá seleccionar el monto de dinero que desea adelantar a Geelbe a través de GCash y luego presionar el botón "Realizar pago" (en ese momento será re direccionado al procesador de pagos). Las cargas de dinero podrán ser realizadas por los siguientes medios de pago únicamente. 
- Efectivo: Puntos Vía Baloto, Pago referenciado en Bancolombia, Banco de Occidente, Helm Bank.
- PSE: Débito automático de tu cuenta de ahorros o corriente.
<br />
Una vez que realizó el pago y éste fue acreditado el dinero se mostrará disponible en su Geelbe Cash y podrá abonar con él sus compras, apareciéndole disponible la opción en el proceso de pago normal de Geelbe. Importante: si el Socio no cuenta con dinero suficiente en GCash para abonar la totalidad de la compra en Geelbe, este medio de pago no estará disponible, ya que esta forma de pago solo puede ser utilizado para abonar el 100% de la compra. Una vez realizado un pago con los medios disponibles, la carga puede demorar hasta 72 horas hábiles en acreditarse y aparecer en el GCash del Socio. Los tiempos de acreditación están supeditados a la velocidad de aprobación que maneja Pagos On Line para informarnos de la efectividad de una transferencia. No es responsabilidad de Geelbe los tiempos de acreditación del GCash, ya que estos dependen de los tiempos de respuesta del punto de pago, la agilidad del ente recaudador y el funcionamiento general de la plataforma de recaudación. En el momento en que el medio de pago informe a Geelbe de la acreditación, el Socio recibirá un correo electrónico, al mail que registró al ingresar en Geelbe, notificándole que el dinero ya está disponible para ser utilizado en GCash. Garantizamos la seguridad de todas las transacciones trabajando con tecnología VeriSign (encriptación web SSL de 128-bits) que certifica que todas las operaciones son seguras. Además, Geelbe está certificado por el Instituto Latinoamericano de Comercio Electrónico, lo que garantiza la integridad y seguridad de las operaciones de comercio electrónico a nivel mundial. Geelbe no realizará reintegros o reembolsos de saldos totales o parciales disponibles en Geelbe Cash, por lo que el destino de todo monto adelantado a Geelbe a través de GCash debe ser la realización de compras de productos a través de la plataforma." Ningún otro tipo de crédito puede ser conmutable o transferible como GCash. Geelbe es libre retirar Crédito de GCash a cualquier usuario en casos en los cuales se detecten errores de funcionamiento comprobables, fraudes, o cualquier otro tipo de inconveniente que no pueda ser soportado por los afectados. Geelbe podrá usar GCash como herramienta para realizar desembolsos de crédito a sus socios siempre y cuando se cumplan los términos consagrados en el presente TCU numeral 11.

<br /><strong>Actualizado por última vez el 02.12.2013</strong>
