<div style="background-color: #e9e9e9;padding:15px;">
  <table width="520" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
	<tr>
      <td>
        <a style="border:none; text-decoration:none;" href="%Ruta URL%logica/activacion/actionForm/index.php?wl=%IdUsuario%&hs=%Hash%&utm_source=email_act&utm_medium=email&utm_campaign=activacion">
          <img src="images/header-rojo_520px_co_op.jpg" style="border:none;" alt="Geelbe, tu Club Privado de Compras"/>
        </a>
      </td>
    </tr>
    <tr>
      <td style="font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;padding:20px;">
        <span style="font-size:28px; color:#c8281e;"><strong>Hola %NombreUsuario%,</strong></span><br />
		<span style="font-size:17px; color:#323296;">Recuerda que tienes que activar tu cuenta para disfrutar de:</span><br />
		<span style="font-size:14px; color:#323296;">- <strong>$10.000 de regalo</strong> + $10.000 de cr&eacute;dito potencial por cada amigo<br />&nbsp;&nbsp;que se registre.<br />
		- Hasta <strong>70% de descuento</strong> en productos originales de primeras marcas.</span></td>
    </tr>
  </table>
   <table width="520" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr><td><table width="515" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="50%" style="margin:0; padding: 0; vertical-align:top;">
      <table width="210px" height="35px" border="1px" align="center" cellpadding="0" cellspacing="0" bgcolor="#c8281e">
      <tr>
        <td style="text-align:center;" bordercolor="#9595aa" bordercolordark="#a50000" bordercolorlight="a50000">
        <a style="border:none; text-decoration:none;font-family: Arial, Helvetica, sans-serif; font-size:16px; color:#FFFFFF;" href="%Ruta URL%logica/activacion/actionForm/index.php?wl=%IdUsuario%&hs=%Hash%&utm_source=email_act&utm_medium=email&utm_campaign=activacion">
          <strong>&#161;Activar mi cuenta ahora!</strong>        </a></td>
      </tr>
      </table>      </td>
    </tr>
</table>
</td></tr>
        
</table>
  <table width="520" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
  	<td style="text-align:center; padding:10px;">
		<p><img style="text-align:center;" src="images/logos_secure.jpg" />      </p>
	</td>
  </tr>	
  <tr>
            <td colspan="4" style="padding-left:20px; padding-bottom:10px;">
			  <span style="font-family: Arial, Helvetica, sans-serif; font-size:10px; color:#000000;">Te enviamos este mensaje ya que a&uacute;n no has completado tu registraci&oacute;n en Geelbe, <br />tu Club Privado de Compras por Internet.</span></td>
        
</tr>

</table>
</div>