<style type="text/css">
<!--
.style1 {font-size: 16px}
-->
</style>
<div style="background-color: #171717;padding:15px;">
  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
	<tr>
      <td>
        <a style="border:none; text-decoration:none;" href="http://www.geelbe.com/co/logica/autologin/login.php?IdUsuario=%IdUsuario%&Hash=%Hash%&Type=%Type%">
          <img src="http://www.geelbe.com/co/front/emails/images/img/logo_geelbe.jpg" style="font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-size:28px; color:#c8281e; border:none;" alt="Geelbe"/>        </a>      </td>
    </tr>

  <tr><td><table width="580" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td  width="290" style="font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; padding:10px;font-size:12px; color:#fff;">
        <div align="justify"><span style="font-size:24px; color:#333333;"><strong>%NombreUsuario%</strong></span><br />
            <span class="style1" style="color:#999999;">&iexcl;Bienvenido!. Por pol&iacute;ticas de seguridad y privacidad de tus datos, s&oacute;lo hace falta que hagas click en el bot&oacute;n de la derecha para completar tu registro y acceder a Geelbe.</span> </div></td>
     <td width="290" height="84" style="margin:0; padding: 0; overflow:hidden; vertical-align:top; padding-top:35px;">
      <table width="180px" height="35px" border="1px" align="center" cellpadding="0" cellspacing="0" bordercolor="#FF0000" bgcolor="#FF0000">
      <tr>
        <td bordercolor="#ff0000" bordercolorlight="FF0000" bordercolordark="#ff0000" bgcolor="#FF0000" style="text-align:center;">
        <a style="border:none; text-decoration:none;font-family: Arial, Helvetica, sans-serif; font-size:22px; color:#FFFFFF;" href="http://www.geelbe.com/co/logica/autologin/login.php?IdUsuario=%IdUsuario%&Hash=%Hash%&Type=%Type%">
          <strong>Completar registro</strong></a></td>
      </tr>
      </table>      </td>
    </tr>
</table>
</td></tr>

  <tr>
            <td colspan="4" style="padding-left:20px; padding-top:10px; padding-bottom:10px;">
			  <span style="font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000;">Si tienes problemas con el bot&oacute;n, copia y pega el siguiente enlace en tu navegador.<br />
<a href="http://www.geelbe.com/co/logica/autologin/login.php?IdUsuario=%IdUsuario%&Hash=%Hash%&Type=%Type%" style="color:#323296">http://www.geelbe.com/co/logica/autologin/login.php?IdUsuario=%IdUsuario%&Hash=%Hash%&Type=%Type%</a></span></td>
</tr>
<tr bgcolor="#171717">
<td valign="bottom"><div align="center" style="padding:10px;padding-left:12px;font-size:12px;font-family:sans-serif,arial,tahoma;color:#FFFFFF;">
  Copyright &copy; 2012 - Geelbe, Club Privado de Compras por Internet
</div></td>
</tr>
</table>
</div>
<img src="%AnalyticsImage%"/>