<div style="background-color: #181818;padding:15px;">
  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
	<tr>
      <td>
        <a style="border:none; text-decoration:none;" href="%ContextRoot%logica/autologin/login.php?IdUsuario=%IdUsuario%&Hash=%Hash%&Type=GEELBECASH">
          <img src="%ServerImgs%front/emails/images/GeelbeCash_header.jpg" style="font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-size:28px; color:#c8281e; border:none;" alt="Geelbe"/>
        </a>
      </td>
    </tr>
    <tr>
<td style="font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;padding:20px;">
        <p><span style="font-size:16px; color:#515050;line-height:18px;">%NombreUsuario% ha cargado $%MontoFormateado% </span><span style="font-size:16px; color:#515050;font-weight:bold;line-height:18px;"> en GCash.</span><br /><br />
      </td>
          </tr>
  </table>
  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr><td><table width="515" border="0" align="center" cellpadding="0" cellspacing="0">
</table>
</td></tr>
        
</table>
</div>