<div style="background-color: #181818;padding:15px;">
  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
	<tr>
      <td>
        <a style="border:none; text-decoration:none;" href="%ContextRoot%logica/autologin/login.php?IdUsuario=%IdUsuario%&Hash=%Hash%&Type=GEELBECASH">
          <img src="%ServerImgs%front/emails/images/GeelbeCash_header.jpg" style="font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-size:28px; color:#c8281e; border:none;" alt="Geelbe"/>
        </a>
      </td>
    </tr>
    <tr>
<td style="font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;padding:20px;">
        <p><span style="font-size:16px; color:#515050;line-height:18px;">Hola %Nombre%,</span><br />
        <span style="font-size:16px; color:#515050;line-height:18px;">Tu carga de $%MontoFormateado% </span><span style="font-size:16px; color:#515050;font-weight:bold;line-height:18px;">  se ha realizado correctamente.</span><br /><br />

          <span style="font-size:13px; color:#515050;line-height:14px;">El monto de la carga ya se encuenta acreditado en tu Cuenta. A partir de ahora,<br />dispon&eacute;s de $%MontoFormateado% extra para realizar tus compras en Geelbe.</span>
      </td>
          </tr>
  </table>
  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr><td><table width="515" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="50%" style="margin:0; vertical-align:top; padding:15px 0 20px;">
      <table width="180px" height="35px" border="1px" align="center" cellpadding="0" cellspacing="0" bgcolor="#c8281e">
      <tr><td style="text-align:center;" bordercolor="#9595aa" bordercolordark="#a50000" bordercolorlight="a50000">
        <a style="border:none; text-decoration:none;font-family: Arial, Helvetica, sans-serif; font-size:16px; color:#FFFFFF;" href="%ContextRoot%logica/autologin/login.php?IdUsuario=%IdUsuario%&Hash=%Hash%">
          <strong>Visitar la vidriera</strong>        </a>    </td></tr>
      </table>      </td>
    </tr>
</table>
</td></tr>
        
</table>
</div>