<div style="background-color: #181818;padding:15px;">
  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
	<tr>
      <td>
        <a style="border:none; text-decoration:none;" href="%ContextRoot%logica/autologin/login.php?IdUsuario=%IdUsuario%&Hash=%Hash%&Type=GEELBECASH">
          <img src="%ServerImgs%front/emails/images/GeelbeCash_header.jpg" style="font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-size:28px; color:#c8281e; border:none;" alt="Geelbe"/>
        </a>
      </td>
    </tr>
    <tr>
<td style="font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;padding:20px;">
        <p><span style="font-size:16px; color:#515050;line-height:18px;">Hola %Nombre%,</span><br />
        <span style="font-size:16px; color:#515050;line-height:18px;">Tu carga de $%MontoFormateado%</span><span style="font-size:16px; color:#515050;font-weight:bold;line-height:18px;"> no se ha podido realizar.</span><br />

                 <span style="font-size:16px; color:#515050;line-height:45px;">Te sugerimos que vuelvas a realizar tu carga de GCash desde <a href="%ContextRoot%logica/autologin/login.php?IdUsuario=%IdUsuario%&Hash=%Hash%&Type=GEELBECASH">aqu&iacute;</a></span>.<br />
                
      <span style="font-family: Arial, Helvetica, sans-serif; font-size:13px; color:#515050;">Si crees que esto se debe a un error, pod&eacute;s escribirnos a nuestro Centro de Atenci&oacute;n al Cliente, ingresando desde el men&uacute; &quot;Mi Cuenta&quot; y, una vez all&iacute;, ingresando a la opci&oacute;n &quot;Mis Consultas&quot;.</span></p></td>
    </tr>
  </table>
</td></tr>
        
</table>
</div>