<div style="background-color: #333333;padding:15px;">
  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
	<tr>
      <td>
        <a style="border:none; text-decoration:none;" href="[[[notrack]]]http://www.geelbe.com/co/registro/marcas.php?id=38&cod=[[[code]]]&email=[[[email]]]">
          <img src="http://img.static.geelbe.com/co/front/emails/images/head_rojo_op.jpg" style="font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-size:28px; color:#c8281e; border:none;" alt="Geelbe"/>
        </a>
      </td>
    </tr>
    <tr>
      <td style="font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;padding:20px;">
        <span style="font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-size:28px; color:#c8281e;"><strong>%NombreUsuario% %ApellidoUsuario%</strong></span><br />
		<span style="font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-size:17px; color:#323296;">&iexcl;Felicitaciones! El Pago del Pedido %NumeroPedido% ha sido Aceptado.</span>
      </td>
    </tr>
  </table>
  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-size:14px; color:#000000;">
	<tr>
    	<td style="padding:10px 10px 10px 20px ;">
	        Tu pedido ser&aacute; entregado entre el <strong>%TiempoEntregaIn%</strong> y el <strong>%TiempoEntregaFn%</strong>.<br />
			Una vez realizado el env&iacute;o, te haremos llegar a tu e-mail el n&uacute;mero de gu&iacute;a de Servientrega, para que puedas seguirlo a trav&eacute;s de internet.
        </td>
    </tr>

</table>
</div>