<div style="background-color: #333333;padding:15px;">
  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
	<tr>
      <td>
        <a style="border:none; text-decoration:none;" href="http://www.geelbe.com/ar/front/vidriera">
          <img src="images/head_rojo_op2.jpg" style="border:none;" alt="Geelbe, tu Club Privado de Compras" title="Geelbe, tu Club Privado de Compras"/>
        </a>
      </td>
    </tr>
    <tr>
      <td style="font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;padding:20px 20px 0 20px;">
        <span style="font-size:24px;color:#323296;"><strong>No hay stock suficiente para procesar el pedido %NumeroPedido%.</strong></span>
      </td>
    </tr>
  </table>
  
  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000;">
  <tr>
  	<td style="text-align:center; padding:10px; ">
		<p><img style="text-align:center;" src="images/logos_secure.jpg" alt="Comprar en Geelbe es Seguro" title="Comprar en Geelbe es Seguro"/>      </p>
	</td>
  </tr>	
  	
</table>
</div>
