<div style="background-color: #333333;padding:15px;">
  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
	<tr>
      <td>
        <a style="border:none; text-decoration:none;" href="http://www.geelbe.com/co/front/vidriera">
          <img src="images/head_rojo_op2.jpg" style="border:none;" alt="Geelbe, tu Club Privado de Compras" title="Geelbe, tu Club Privado de Compras"/>
        </a>
      </td>
    </tr>
    <tr>
      <td style="font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;padding:20px 20px 0 20px;">
        <span style="font-size:28px;color:#323296;"><strong>El Pedido %NumeroPedido% no ha sido Abonado a&uacute;n</strong></span>
      </td>
    </tr>
  </table>
  
  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000;">
	<tr>
    	<td style="padding:10px 20px 10px 20px;">
       	  <p>%NombreUsuario%, tu pedido <strong>%NumeroPedido%</strong> de <strong>%NombreVidriera%</strong> se encuentra pendiente de pago.<br />El stock disponible de <strong>%NombreVidriera%</strong> es limitado, por lo que te aconsejamos realizar el pago lo antes posible para asegurarte la disponibilidad.</p>
		  <p>Para realizar el pago de tu pedido, haz clic en el siguiente bot&oacute;n.</p>
	  </td>
    </tr>
<tr>
    	<td align="center">
        	<table border="0" cellpadding="20px" cellspacing="0">
              <tr>
              	<td style="padding:10px;">
                		<table width="165px" height="35px" border="1px" align="center" cellpadding="0" cellspacing="0" bgcolor="#c8281e">
      <tr><td style="text-align:center;" bordercolor="#9595aa" bordercolordark="#a50000" bordercolorlight="a50000">
        <a style="border:none; text-decoration:none;font-family: Arial, Helvetica, sans-serif; font-size:16px; color:#FFFFFF;" href="%Ruta URL%logica/autologin/login.php?IdUsuario=%IdUsuario%&Hash=%Hash%&Type=MISPEDIDOS">
          <strong>Realizar el pago</strong>        </a>    </td></tr>
      </table>            	</td>
              </tr>
            </table>
		</td></tr>
  <tr>
  	<td style="text-align:center; padding:10px; ">
		<p><img style="text-align:center;" src="images/logos_secure.jpg" alt="Comprar en Geelbe es Seguro" title="Comprar en Geelbe es Seguro"/>      </p>
	</td>
  </tr>	
  	
</table>
</div>
