@charset "utf-8";
/*TIPOS*/
.txt_errorcompra, .txt_errorcompra a, .txt_errorcompra a:hover{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color:#666; text-decoration:none;}
.txt_errorcompra_especial, .txt_errorcompra_especial a, .txt_errorcompra_especial a:hover{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color:#AC1D1D; font-weight:bold; text-decoration:none;}
.txt_errorcompra_mini, .txt_errorcompra_mini a, .txt_errorcompra_mini a:hover{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:9px; color:#666; text-decoration:none; font-weight:light;}
/*ESTRUCTURA*/
#errorcompra_box{ height:384px;  margin:0; background-color:#FFF; }
#errorcompra_title{height:61px; margin:0; text-align:left;}
#errorcompra_topbar{height:5px;  margin:0; background:url(img/barra.gif) repeat-x #BBB;}
#errorcompra_cont_box{height:222px; border-left:2px solid #F4F4F4; border-bottom:2px solid #F4F4F4; border-right:2px solid #F4F4F4; margin:0;}
#errorcompra_cont_txt{width:280px; float:left; padding:20px; margin:0; text-align:justify; border-right:2px solid #F4F4F4; background-color:#FBFBFB;}
#errorcompra_img{width:350px; height:117px; float:left; text-align:center; margin-top:40px;}
#errorcompra_brands{height:auto; float:left; margin:20px 0; text-align:center;}
#errorcompra_footer{ height:10px; float:left; margin:10px 0; text-align:center;}





