@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'DINRegular';
    src: url('din-regular-webfont.eot');
    src: url('din-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('din-regular-webfont.woff') format('woff'),
         url('din-regular-webfont.ttf') format('truetype'),
         url('din-regular-webfont.svg#DINRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#primary {
	margin: 0px 53px 46px 70px;
}

table {
	padding:0;
	margin:0;
}

#container {
	width:700px;
	border:solid 1px #bebebe;
	background-color:#FFFFFF;
	margin:10px;
	padding:10px 15px;
}

/* listado de productos */
#camp-head {
	width:100%;
	overflow:auto;
	height:110px;
	*height:135px;;
}

#camp-head.pag-producto {
	height:115px;
}

#camp-head hr.separator {
	background-image:url(../images/hr_bg-rayas.jpg);
	height:5px;
	position:relative;
	top:5px;
	clear:both;
	width:681px;
}
#camp-head hr.separator-producto {
	background-image:url(../images/hr_bg-rayas.jpg);
	height:5px;
	position:relative;
	top:5px;
	clear:both;
	width:680px;
}
.contador {
	font-family:'Trebuchet MS';
	float: right;
	display:inline;
	color:#C00;
	font-size:17px;
	font-weight:bold;
	text-align:right;
	margin-top:12px;
}
#camp-logo {
	float:left;
	margin-right:20px;
}

#categorias {
	font-family:Arial, Helvetica, sans-serif;
	float:left;
	color:#515050;
	width:520px;
}
#categorias h2 {
	font-weight:bold;
	font-size:14px;
	color:#515050;
	text-align:right;
}
#categorias .listado-categorias {
	margin-top:5px;
	margin-left:10px;
	width:140px;
	float:left;
}

#categorias .listado-categorias li a {
	color:#515050;
}

#categorias .listado-categorias li a.seleccionada {
	font-weight: bold;
	color: #e1121e;
}

#camp-head #categorias hr {
	background-color:#bebebe;
	margin-top:1px;
	background-image:none;
}
.subcategorias {
	z-index:5555;
	padding:3px;
	border:solid 1px #bebebe;
	box-shadow:#DFDFDF 2px 2px 0 2px;
	display:none;
	position:absolute;
	background-color:#ffffff;
}
#recommendByMail {
	z-index:5555;
	padding:3px;
	border:solid 1px #bebebe;
	box-shadow:#DFDFDF 2px 2px 0 2px;
	display:none;
	position:relative;
	top:-5px;
	right:79px;
	width:220px;
	background-color:#ffffff;
}
.subcategorias ul li {
	display:list-item;
	background-image:none;
	padding:0 6px 0 6px;
}
.subcategorias ul li a {
	color:#515050;
}

#categorias .subcategoria_seleccionada {
	font-weight: bold;
	color: #e1121e;
	margin-left:20px;
}


.finaliza {
	font-size:13px;
	color:#515050;
	font-weight:bold;
}

#reloj {
	margin:0;
	display:inline
}
#foto-prod {
	margin-bottom:5px;
	margin-top:-215px;
}
#foto-prod img:hover {
	opacity:0.4;
	filter:alpha(opacity=40);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
	-moz-opacity: 0.40;
}
#lupa {
	width:210px;
	height:210px;
	cursor:pointer;
	background:transparent;
}

#lupa img {
	width:200px;
	heigth:200px;
	display:block;
	margin:auto;
}

#color-miniatura {
	position:absolute;
	right:8px;
	margin-top:-25px;
}
#color-miniatura #color li {
	display:block;
	width:14px;
	height:14px;
	float:left;
	margin:0 1px 0 0;
	text-align:center;
	border:solid 1px #bebebe;
}
#color-miniatura #color li img {
	position:absolute;
	clip:rect(0,14px,14px,0);
}
.prod-box {
	position: relative;
	width: 210px;
	float: left;
	display: inline;
	padding: 5px;
	background:none;
	height:305px;
	margin-right:10px;
}

.prod-box .agotado {
	width:210px;
	height:210px;
	top:0.9px;
	left:5px;
}

.prod-box h2 {
	font-family:'Trebuchet MS', Arial, Helvetica;
	font-size:14px;
	color:#373764;
	text-align:left;
}

.prod-box .col_izquierda {
	width:60%;
	float:left;
}

.prod-box .col_derecha {
	width:38%;
	float:right;
	text-align:right;
}

.precio-geelbe {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:18px;
	color:#B40F19;
	letter-spacing:-1.4px;
	width:210px;
	float:left;
	text-align:left;
}

.porc-desc {
	color: #B30E19;
	font-family: DINRegular, "Arial", "Helvetica", sans-serif;
	font-size: 18px;
	text-decoration: none;
}

.nombre-prod {
	font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#515050;
	width:210px;
	float:left;
	text-align:left;
}

.nombre-prod a, .nombre-prod a:hover, .nombre-prod a:link, .nombre-prod a:visited {
	color:#515050;
	text-decoration: none;
}

.prod-box .ultprod {
	background-color: #870C14;
	color: #fff;
	font-size: 13px;
	font-weight:bold;
	float:left;
	text-align:left;
	width:210px;
	padding:2px;
}

#divAgotado {
	float:left;
}

#ultimos .ultprod {
	color: #e1121e;
	font-size: 13px;
	font-weight:bold;
	float:left;
	text-align:left;
	width:220px;
}

.prod-box hr {
	background-color:#ffffff;
	margin-top:10px;
}

/* fin listado de productos */

/* página de producto */

#path {
	font-family:Arial, Helvetica, sans-serif;
	float:left;
	color:#515050;
	width:520px;
}

#categorias #path {
	margin-top:5px;
}

#path h2 {
	font-weight:bold;
	font-size:14px;
	color:#515050;
	text-align:right;
}
#camp-head #path hr {
	background-color:#bebebe;
	margin-top:1px;
	background-image:none;
}
#camp-head #path a {
	color:#515050;
}

#detalle-prod

#prod-gallery {
	float:left;
	width:240px;
	position:relative;
}

#prod-attributes {
	float:right;
	width:420px;
}
#attributes {
	float: left;
	margin-top: 38px;
}
#attributes li {
	margin-bottom: 10px
}
#divAgotado {
	float: right;
	margin-top: -3px;
}

.prodname {
	color: #515050;
	font-family: DINRegular, "Arial", "Helvetica", sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
}
#precio-geelbe, #divPrecio, #divPrecioCuota {
	font-size:20px;
	color:#B40F19;
	width:210px;
	font-weight:bold;
}
#frmProducto {
	width: 400px;
}
#pre-attributes {
	margin-top:5px;
}
#divPrecio {
	margin-top:4px;
}
#cuotas-container {
	margin-bottom: 23px;
	margin-top: 30px;
}
#cuotas-container small {
	font-style:italic;
	color:#999;
	margin-top:5px;
	display: block;
}
#precio-lista {
	color: #999999;
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 14px;
	text-decoration: line-through;
	height: auto;
	margin: 0px 5px;
	text-align: center;
	width: 160px;
}
#divStockExist {
	border-top: 1px solid #CCC;
	margin-top: 40px;
	padding-top: 20px
}
#cantitems {
	float: right;
	text-align: center;
	margin-right: 20px
}
#aceptar {
	float: right
}
.item {
	font-size:12px;
	color:#515050;
}
#attributes #talle li, #attributes #color li {
	display:block;
	width:22px;
	height:22px;
	float:left;
	margin:0 10px 0 0;
	font-family:'Trebuchet MS';
	font-weight:bold;
	font-size:16px;
	color:#515050;
	text-align:center;
}
#talle li a {
	color:#515050;
	text-decoration:none;
}
li .deselected {
	border:solid 2px #bebebe;
}
li .no-disponible {
	border:solid 2px #bebebe;
	background-image:url(../images/no-disponible.jpg);
	background-repeat:no-repeat;
	opacity:0.3;
	filter:alpha(opacity=30);
	cursor:auto;
}
li .selected {
	border:solid 2px #e1121e;
}
#prod-attributes select {
	background-color: white;
	font-size: 11px;
	color: #515050;
	border: solid 1px #BEBEBE;
	margin:0 5px;
}
#prod-attributes select.opciones-item {
	margin:0;
	display:block;
}
#ultimos {
	display:inline;
}
#description {
	position:relative;
	width:700px;
	clear:both;
}
#description-tabs {
	clear: both
}
#description-tabs ul li {
	display:block;
	float:left;
	margin:0 8px -1px 0;
	border:solid 1px #bebebe;
	padding:6px 10px;
	background-color:#FFFFFF;
	
	color: #B40F19;
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 12px;
	font-weight: 700;
	text-decoration: none;
	cursor: pointer
}
#description-tabs ul li.current {
	border-bottom: 1px solid white;
}
#description-body {
	clear:both;
	padding:10px;
	border:solid 1px #bebebe;
}
.tab p {
	margin: 0 0 15px 0
}
#social {
	float: right;
	height: 40px
}

#social .descripcion,#social .share  {
	position:relative;
	top:3px;
}

#social .share.twitter {
	margin-left:4px;
}

#social .share.mail {
	top:4px;
}

/* fin página de producto */

#topright_new {
	float:right;
	/*clear:right;*/
	display:block;
	width: 515px;
}

#topright_new p {
	vertical-align:bottom;
}


.tagprecio {
	color:#FFFFFF;
	font-size: 32px;
	margin-bottom:12px;
	margin-right:27px;
	letter-spacing:-1px;
	margin-top:45px;
}
#infoproducto {
	width:502px;
	padding:5px;
}
#galeria{
	background-color:#FFFFFF;
}

.share {
	cursor: pointer;
	margin:0;
	padding:0;
	border:none;
}

.botvidriera_small {
	background-image:url(../images/spritebot_bg_micuenta_small.jpg);
	color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	border: solid #9595aa 1px;
	text-align:center;
/*	height:20px; */
	cursor:pointer;
	-moz-border-radius:3px 3px 3px 3px;
}

.botvidriera_small:hover {
	background-position: 0 -22px;
/*	color:#323232; */
}

.col_izquierda {
	width:248px;
	padding:2px;
	float:left;
}

.col_derecha {
	width:238px;
	/* padding:0 5px 5px 0; */
	float:right;
	/* text-align:center; */
}

.unfloat {
	clear:both;
	text-align:center;
}

#formulario-4campos {
	width:228px;
/*	background-color:#870C14;
	border:solid 1px #4B2A44; */
	padding:5px 10px;
	font-size:0.9em;
}

.form-campo {
	float:left;
	width:70px;
}
.twitter-share-button {
	position:relative;
	top:4px;
	padding:0 1px 0 0px;
	
}
#categories {
	overflow: hidden;
	/* For web browsers who care */
	opacity: 0.8;
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	/* For IE 8 (and 9, 10, 11?). Don't miss the added quotes */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

}

.paginador {
	text-align:center!important;
	margin: 0px auto 0px auto;
	width:auto;
	position:relative;
	top:-25px;
	clear:both;
}

.paginador td {
	width: 10px;
	height:10px;
	background-color: #dfdfdf;
	padding: 0;
}
.paginador td a {
	color: #515050;
	font-size: 13px;
	display:block;
	margin:0;
	width: 29px;
	height:22px;
	text-decoration:none;
	padding-top:6px;
}

.paginador td.activa {
	background-color: #e1121e;
}

.paginador td.activa a {
	color: #fff;
}

.paginador td.activa a:hover {
	background-color: #e1121e;
	color: #fff;
}

.paginador td.primeraultima {
	background-color: #dfdfdf;
	border:1px solid #bebebe;
	width: 33px;
}

.paginador td.primeraultima a {
	width: 55px;
}

.paginador td a:hover {
	background-color: #bebebe;
}

.flecha-down {
	position:relative;
	top:-2px;
}

#cantitems #cbxCantidad {
}


.cuotas {
	font-size: 1em;
	text-align: center;
	padding-top: 10px;
	clear: both
}


#register-prodnl{width:400px; height:150px; float:left; margin:20px 0; border:1px solid #CCC;}
#reg-tit{float: left;height: 40px;margin: 10px;text-align: center;width: 380px;}
#reg-face{width:186px; height:45px; float:left; margin: 10px 10px 0px 31px;}
#reg-bt{width:130px; height:auto; float:left; margin:10px; text-align:center;}
.reg-member {font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#999; text-decoration:none;}
.reg-member a{text-decoration:none; color:#E42D32;}
.registro-txt{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#E42D32; text-decoration:none;}

/* listado público */
body.public #primary { display: none }
body.public .nombre-prod a { font-family: DINRegular; font-size: 1.2em }
body.public .precio-geelbe { font-family: DINRegular; font-weight: normal }
body.public #categorias #reg-face { margin: -4px 0 0 0; }
body.public #categorias #reg-bt { margin: 0 0 0 61px; }
body.public #categorias iframe { margin: 10px 0 0 74px }