@charset "utf-8";
/* CSS Document */

table {
	padding:0;
	margin:0;
}

.contador {
	float: right;
	display:inline;
	color:#C00;
	font-size:17px;
	font-weight:bold;
}

#topright_new {
	float:right;
	/*clear:right;*/
	display:block;
	width: 515px;
}

#topright_new p {
	vertical-align:bottom;
}

.prodname {
	font-size:18px;
	font-weight:bold;
	color:#323296;
}

.tagprecio {
	color:#FFFFFF;
	font-size: 32px;
	margin-bottom:12px;
	margin-right:27px;
	letter-spacing:-1px;
	margin-top:45px;
}
#infoproducto {
	width:502px;
/*	background-image:url(../../images/bg_tile.jpg); */
	/* background-color:#dedede; */
	padding:5px;
}
#galeria{
	background-color:#FFFFFF;
	/* border:solid #ffffff 2px; */
}
#tag_precio {
	width:245px;
	height:85px;
	background-image:url(../images/bg-precio-3.gif);
	background-repeat:no-repeat;
}
#share {
/*	display:none; */
	border:solid 1px #B8B6DA;
	background-color:#eeeeee;
	color:#222222;
	padding:0px 10px 5px;
	margin:5px 0;
	width:225px;
}
.share_titular {
	font-family:'trebuchet MS';
	font-weight:bold;
	font-size:13px;
	color:#505096;
}
#share h2 {
	font-family:'trebuchet MS';
	font-size:11px;
	color:#505096;
}

#share.mostrar {
display:block;
}

#share a {
	color:#222222;
	text-decoration:none;
}

.share {
	vertical-align:bottom;
	cursor: pointer;
}

.botvidriera_small {
	background-image:url(../images/spritebot_bg_micuenta_small.jpg);
	color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	border: solid #9595aa 1px;
	text-align:center;
/*	height:20px; */
	cursor:pointer;
	-moz-border-radius:3px 3px 3px 3px;
}

.botvidriera_small:hover {
	background-position: 0 -22px;
/*	color:#323232; */
}

.col_izquierda {
	width:248px;
	padding:2px;
	float:left;
}

.col_derecha {
	width:238px;
	/* padding:0 5px 5px 0; */
	float:right;
	/* text-align:center; */
}

.unfloat {
	clear:both;
	text-align:center;
/*	padding-top:10px; */
	/* position:absolute; */
}

#formulario-4campos {
	width:228px;
/*	background-color:#870C14;
	border:solid 1px #4B2A44; */
	padding:5px 10px;
	font-size:0.9em;
}

.form-campo {
	float:left;
	width:70px;
}
.twitter-share-button {
	position:relative;
	top:6px;
	padding:0 2px 0 0px;
	
}
#categories {
	overflow: hidden;
	/* For web browsers who care */
	opacity: 0.8;
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	/* For IE 8 (and 9, 10, 11?). Don't miss the added quotes */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

}
