* {margin:0; padding:0}
#gallery {position:relative; width:249px;}
#images {border:1px solid #CCCCCC;
		margin-bottom:10px;	
		text-align:center;
		vertical-align:middle;
		padding-top:10px;

		position:relative;
		
		/* CSS HACK */
		height: 253px;	/* IE 5.x */
		height/* */:/**/253px;	/* Other browsers */
		height: /**/253px;}
#image {position:relative; width:245px; height:251px; text-align:center;border:1px solid #CCCCCC; background:#FFF url(../images/loading.gif) center center no-repeat}
#image img {position:absolute; top:2px; left:2px}
#thumbwrapper {margin-top:5px; width:245px; height:62px;border:1px solid #CCCCCC;}
#thumbwrapper #left_ {z-index:1;position:absolute;left:3px;bottom:1px; width:21px;height:62px;background: #FFF url(../images/arrow_left.gif) left no-repeat;display:block;}
#thumbwrapper #left_:hover{background: #FFF url(../images/arrow_left_over.gif) left no-repeat}
#thumbwrapper #right_ {z-index:1;position:absolute;right:3px;bottom:1px; width:21px;height:62px;background: #FFF url(../images/arrow_right.gif) right no-repeat;display:block;}
#thumbwrapper #right_:hover{background: #FFF url(../images/arrow_right_over.gif) right no-repeat}
#thumbarea {position:relative; top:7px; 	left: 5px;overflow:hidden; height:60px; width:233px;}
#thumbs {position:absolute; list-style:none; padding-left:15px; height:50px; width:10000px;}
#thumbs li {float:left; margin-right:5px; cursor:pointer}
#thumbs li img:hover {opacity:1; filter:alpha(opacity=100)}
#thumbs li img { opacity:0.7; filter:alpha(opacity=70) }