* {margin:0; padding:0}
/*#gallery {position:relative; width:249px;}*/
#images {border:1px solid #CCCCCC;
		margin-bottom:10px;	
		text-align:center;
		vertical-align:middle;
		padding-top:10px;

		position:relative;
		
		/* CSS HACK */
		height: 253px;	/* IE 5.x */
		height/* */:/**/253px;	/* Other browsers */
		height: /**/253px;}
#image {position:relative; width:240px; height:240px; text-align:center;border:none; background:#FFF url(../images/loading.gif) center center no-repeat}
#image a { display: block; width: 240px; height: 249px }
/* #image img {position:absolute;} */
#thumbwrapper {margin-top:10px; width:240px; height:62px;border:none;}
#thumbwrapper #left_ {z-index:1;position:absolute;left:2px;bottom:1px; width:21px;height:62px;background: #FFF url(../images/arrow_left.gif) left no-repeat;display:block;}
#thumbwrapper #left_:hover{background: #FFF url(../images/arrow_left_over.gif) left no-repeat}
#thumbwrapper #right_ {z-index:1;position:absolute;right:2px;bottom:1px; width:21px;height:62px;background: #FFF url(../images/arrow_right.gif) right no-repeat;display:block;}
#thumbwrapper #right_:hover{background: #FFF url(../images/arrow_right_over.gif) right no-repeat}
#thumbarea {position:relative; top:7px; left:8px;overflow:hidden; height:60px; width:220px;}
#thumbs {position:absolute; list-style:none; padding-left:15px; height:50px; width:10000px;}
#thumbs li {float:left;cursor:pointer;margin-right:2px}
#thumbs li img:hover {opacity:1; filter:alpha(opacity=100)}
#thumbs li img { opacity:0.7; filter:alpha(opacity=70) }