@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../images/n_bgbody.jpg);
	background-repeat: repeat-x;
	margin: 0px;
	font-family: sans-serif, Arial;
}
#header {
	background-image: url(../images/n_logo.jpg);
	background-repeat: no-repeat;
	background-position: left;
	height: 111px;
}
#bigone {
	margin: auto;
	width: 960px;
}
.logout {
	background-image: url(../images/n_logout.jpg);
	background-repeat: no-repeat;
	background-position: left 2px;
	display: block;
	height: 17px;
	width: 37px;
	font-size: 12px;
	color: #8a8a8a;
	text-decoration: none;
	padding-left: 18px;
	float: right;
	margin-top: 8px;
}
.logout:hover{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #8a8a8a;
	
}
#content h1 {
	color:#cccccc;
	font-size:30px;
	margin:0px;
	font-weight:normal;
	letter-spacing: -1px;
	padding-top:10px;
	padding-bottom:16px;
}
#content h2{
	color:#999;
	font-size:14px;
	margin:0px;
	font-weight:normal;
}
#content .number {
	color:#D80006;
	font-size:16px;
}
#filter {
	background-color:#C5D9FF;
	height:90px;
	position:relative;
}
#filter .content {
	float:right;
	text-align:center;
	/*width:730px;
	padding-right:20px;*/
	width:960px;
	height:60px;
	padding-top:30px;
	font-size:16px;
	color:white;
}
#filter .input{
	height:20px;
	padding-top:6px;
	padding-left:5px;
	width:90px;
	font-size:17px;
	background-color:#EDF1F9;
	border-color:#CCD7EE;
	border-width:1px;
	border-style:solid;
	position:relative;
	top:-3px;
	font-size:12px;
	font-family:sans-serif;
	color:#666;
}
#filter .select {
	height:70px;
	width:110px;
	background-color:#EDF1F9;
	border-color:#CCD7EE;
	border-width:1px;
	border-style:solid;
	position:absolute;
	top:10px;
	font-size:12px;
	font-family:sans-serif;
	color:#666;
}
#filter .miniselect {
	height:26px;
	width:93px;
	background-color:#EDF1F9;
	border-color:#CCD7EE;
	border-width:1px;
	border-style:solid;
	font-size:12px;
	font-family:sans-serif;
	color:#666;
}
#filter .spacer{
	width:50px;
	display:block;
	float:left;
	height:5px;
}
#filter .boton{
	width:126px;
	height:33px;
	color:white;
	font-size:16px;
	font-weight:bold;
	background-image: url(../images/n_botonreporte.jpg);
	background-color:#C5D9FF;
	background-repeat: no-repeat;
	font-family:sans-serif,Arial;
	border-width:0px;
	cursor:pointer;
}
#results {
	width:92%;
	margin:auto;
	padding-top:15px;
}
#results .titular{
	color:#375384;
	font-size:16px;
	padding-bottom:15px;
}
#results .strong {
	font-weight:bold;	
}
#tableresults thead tr{
	background-color:#dddddd;
	color:#333;
	font-size:13px;

}
#tableresults tbody tr{
	color:#666;
	font-size:13px;
}
#tableresults tbody td{
	border-bottom-style:solid;
	border-bottom-width:3px;
	border-bottom-color:#c1c1c1;
}
#pager {
	height:70px;
	width:92%;
	margin:auto;
}
#pager .pages{
	float:right;
	height:60px;
	padding-top:10px;
}
#pager .text{
	color:#97BBFF;
	font-size:13px;
	float:left;
	padding-right:5px;
}
#pager .active{
	background-color:#97BBFF;
	color:white;
	border-style:solid;
	border-color:#97BBFF;
	border-width:1px;
	font-size:12px;
	text-align:center;
	padding-top:1px;
	height:14px;
	width:15px;
	display:block;
	float:left;
	margin-right:4px;
	line-height:12px;
	text-decoration:none;
}
#pager .off{
	background-color:#D2D2D2;
	color:white;
	border-style:solid;
	border-color:#E6E6E6;
	border-width:1px;
	font-size:12px;
	padding-top:1px;
	height:14px;
	text-align:center;
	width:15px;
	display:block;
	float:left;
	margin-right:4px;
	line-height:12px;
	text-decoration:none;
}
#pager .direccion{
	background-color:#D2D2D2;
	color:white;
	border-style:solid;
	border-color:#E6E6E6;
	border-width:1px;
	font-size:10px;
	padding:1px 4px 0 4px;
	height:14px;
	text-align:center;
	display:block;
	float:left;
	margin-right:4px;
	line-height:12px;
	text-decoration:none;
}
#pager .off:hover, #pager .direccion:hover{
	background-color:white;
	color:white;
	border-style:solid;
	border-color:#97BBFF;
	border-width:1px;
	color:#97BBFF;
}
#pager .export{
	width:173px;
	height:57px;
	background-image:url(../images/n_export.jpg);
	background-repeat:no-repeat;
	display:block;
	position:relative;
	top:10px;
}
#footer{
	margin-top:25px;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#E1E1E1;
	padding-top:5px;
	padding-bottom:5px;
	font-size:12px;
	text-align:left;
	color:#999;
}
#reportlogo{
	margin-top:15px;
	width:141px;
	height:40px;
	background-image:url(../images/n_reportes.jpg);
	background-repeat:no-repeat;
}
#tableresults .arriba, #tableresults .abajo{
	background-image:url(../images/arribaabajo.jpg);
	background-repeat:none;
	display:block;
	padding-left:20px;
	height:20px;
	color:#333;
	text-decoration:none;
	background-repeat:no-repeat;
}
#tableresults .arriba{
	background-position:0px -17px;
}
#tableresults .abajo{
	background-position:0px -2px;
}
.nada{
	text-decoration:none;
	color:#333;
}