body{
	background-color: #b3b3b4;
	text-align: center;
	font: 62.5% Arial, Helvetica, sans-serif;
	padding:10px;
	text-decoration: none;
	margin:0;
}
#contenedor {
	width:850px;
	text-align: left;
	margin: auto;
	background-color: #2f2f45;
	padding:0;
}
#header {
	width:700px;
}
#contenido {
	padding:10px;
}


#izq-1 {
	width:40%;
	float:left;
	padding: 20px 0 0 25px;
}

#der-1 {
	width:40%;
	padding: 10px 20px 0 10PX;
	float:right;
}

#form-2 {
	width:100%;
	color:#FFFFFF;
	padding: 15px 0px 0px 20px;
	font-weight:bold;
}

#marcas {
	padding:20px 10px 15px 10px;
}


a{
	color:#FFFFFF;
}
