body{
	background-color: #333333;
	text-align: center;
	font: 62.5% Arial, Helvetica, sans-serif;
	padding:10px;
	text-decoration: none;
	margin:0;
}
#contenedor {
	width:700px;
	text-align: left;
	margin: auto;
	background-color: #fff;
	padding:0;
}
#header {
	width:700px;
}
/*#contenido {
	position:relative;
	font-size: 1.2em;
	font-weight: normal;
	height:450px;
}*/

#contenido-v4 {
	font-size: 1.2em;
	font-weight: normal;
	padding:10px;
}

#formulario-2campos {
	background-color:#f1f4f6;
	width:290px;
	margin-top:10px;
	padding:8px 20px;
	font-size:0.9em;
}


h1{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:1.8em;
	line-height:0.6em;
	color:#9f0226;
}
p {
	font-size:1.2em;
	color:#999999;
}

.col_izquierda {
	width:48%;
	padding:0 5px 5px 5px;
	float:left;
	text-align:left;
}

.col_derecha {
	width:48%;
	padding:0 5px 5px 5px;
	float:right;
}

.unfloat {
	clear:both;
	text-align:center;
	padding-top:3px;
}

.form-campo {
	float:left;
	width:70px;
	display:block;
}
.benefits {
	float:left;
	text-align:left;
	font-size:11px;
	font-weight:bold;
	color:#242345;
	padding:5px 5px 0 0;
}