body{
	background: #000 url(../images/bg.jpg) repeat 0 0;
	text-align: center;
	font: 62.5% Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
}
#contenedor {
	width:960px;
	text-align: left;
	margin: auto;
	background-color: #FFFFFF;
}
#header {
	width:960px;
	height:142px;
}
#contenido {
	height:480px;
	font-size: 1.2em;
	font-weight: normal;
	text-decoration: none;
	padding:15px 20px 0px 20px;
}
#contenido-v5 {
	height:520px;
	font-size: 1.2em;
	font-weight: normal;
	text-decoration: none;
	padding:15px 20px 0px 20px;
}
#test1 {
	width:290px;
	float:left;
	text-align:center;
	padding-top:10px;
}
#invitacion {
	height:350px;
	width:595px;
	float:left;
	border-top: thin dotted;
}
#invitacion_der {
	height:350px;
	width:595px;
	float:right;
	border-top: thin dotted;
}
#invitacion_test5 {
	height:350px;
	width:300px;
	float:right;
	border-top: thin dotted;
	margin-top:23px;
}
#gallery {
	width:590px;
	height:165px;
}
#gallery_test5 {
	width:590px;
	height:165px;
}
#cuadro {
	background:url(../images/ventajas_bg.jpg) repeat 0 0;
	height:105px;
	width:590px;
	margin-top:15px;
}
#cuadro5{
	background-image:none;
	_background:url(../images/ventajas_bg.jpg) repeat 0 0;
	height:105px;
	width:590px;
	margin-top:15px;
}
.ventajas {
	width:113px;
	float:left;
	text-align:center;
}
#formulario {
	height:400px;
	width:300px;
	background-color:#f1f4f6;
	float:right;
	padding: 5px 0px 0px 15px;
	font-weight:bold;
}
#formulario_izq {
	height:400px;
	width:300px;
	background-color:#f1f4f6;
	float:left;
	padding: 5px 0px 0px 15px;
	font-weight:bold;
}
#formulario_test5 {
	height:275px;
	width:600px;
	background-color:#f1f4f6;
	float:left;
	padding: 5px 0px 0px 15px;
	font-weight:bold;
}
h1{
	font-size:2em;
	line-height:0.6em;
}
h2{
	font-size:1.2em;
	margin-left:15px;
	line-height:0.2em;
}
.destacado {
	color:#9f0226;
}
.destacado2 {
	font-size:1.2em;
	margin-left:25px;
	color:#9f0226;
}
.legal {
	font-size:0.8em;
}
.nofloat {
	clear:both;
	width:585px;
	}