body{
	background-color: #333333;
	text-align: center;
	font: 62.5% Arial, Helvetica, sans-serif;
	padding:10px;
	text-decoration: none;
	margin:0;
}
#contenedor {
	width:700px;
	text-align: left;
	margin: auto;
	background-color: #fff;
	padding:0;
}
#header {
	width:700px;
}
#contenido {
	position:relative;
	font-size: 1.2em;
	font-weight: normal;
	height:450px;
}
#contenido-v3 {
	position:relative;
	font-size: 1.2em;
	font-weight: normal;
	height:440px;
}
#contenido-v4 {
	font-size: 1.2em;
	font-weight: normal;
	padding:10px;
}
#imagenymarcas-v1 {
	position:absolute;
	width:330px;
	top:10px;
	left:10px;
}
#invitacion-v1 {
	position:absolute;
	top:10px;
	right:10px;
	width:340px;
	height:435px;
	padding-top:8px;
}
#imagenymarcas-v2 {
	position:absolute;
	width:330px;
	top:10px;
	right:10px;
}
#invitacion-v2 {
	position:absolute;
	top:10px;
	left:10px;
	width:340px;
	height:435px;
	padding-top:8px;
}
#invitacion-v3 {
	position:absolute;
	top:10px;
	left:10px;
	width:340px;
	height:200px;
	padding-top:8px;
	padding-left:10px;
}
#formulario {
	width:330px;
	background-color:#f1f4f6;
	padding: 5px 0px 0px 15px;
	font-weight:bold;
}
#formulario-v3 {
	position: absolute;
	top:220px;
	left:10px;
	width:655px;
	background-color:#f1f4f6;
	padding: 10px;
	font-size:0.9em;
}
#formulario-v4 {
	width:660px;
	background-color:#f1f4f6;
	padding: 10px;
	font-size:0.9em;
	height: 150px;
}
h1{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:2em;
	line-height:0.6em;
	color:#9f0226;
}
p {
	font-size:1.2em;
	color:#999999;
}
.legal {
	font-size:0.8em;
}
.nofloat {
	clear:both;
	width:585px;
}
