body{
	text-align: left;
	font: 62.5% Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
}

#header {
	text-align:center;
}
#contenedor-up {
	margin-top:-3px;
	height:140px;
	font-size: 1.3em;
	font-weight: normal;
	text-decoration: none;
}
#contenedor-up p {
	color:#777777;
	font-size:1.4em;
	font-weight:bold;
}
#division {
	height:45px;
	background-image:url('http://img.static.geelbe.com/ar/registro/images//3_bg_white.jpg');
	background-repeat:repeat-x;
}
#contenedor-down {
	background-color:#b20000;
	color:#FFFFFF;
/*	height:350px; */
	font-size: 1.3em;
	font-weight: normal;
	text-decoration: none;
	background-image:url('http://img.static.geelbe.com/ar/registro/images/3_bg_red.jpg');
	background-repeat:repeat-x;
}
.contenido {
	margin:auto;
	width:850px;
}
#unite {
	float:left;
	padding-top:20px;
}
#unite p {
	font-family: 'Trebuchet MS';
	font-size:16px;
	line-height:1em;
}
#formulario-2campos {
	padding: 10px;
	font-size:0.9em;
	width:300px;
	float:left;
}

#formulario-2campos a {
	border:none;
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	color:#FFFFFF;
}
.legal {
	font-size:0.8em;
}
#gallery {
	width:590px;
	height:165px;
	float:left;
}


h1{
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:35px;
	line-height:0.6em;
}
h2{
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:26px;
	line-height:0.6em;
}

.col_izquierda {
	width:48%;
	padding:0 5px 5px 5px;
	float:left;
}

.col_derecha {
	width:48%;
	padding:0 5px 5px 5px;
	float:right;
}

.unfloat {
	clear:both;
	text-align:center;
	padding-top:10px;
}

.form-campo {
	float:left;
	width:70px;
}