/*Credits: Dynamic Drive CSS Library */
.gallerycontainer{
position: relative;
/*Add a height attribute and set to largest image's height to prevent overlaying*/
}

.thumbnail img{
border: 1px solid white;
margin: 0 5px 5px 0;
}

.thumbnail:hover{
background-color: transparent;
}

.thumbnail:hover img{
border: 1px solid white;
}

.thumbnail span{ /*CSS for enlarged image*/
position: absolute;
/*background-color: lightyellow;*/
/*padding: 5px;*/
left: -1000px;
/*border: 1px dashed gray;*/
visibility: hidden;
/*color: black;*/
text-decoration: none;
}

.thumbnail span img{ /*CSS for enlarged image*/
border-width: 0;
/*padding: 2px;*/
}

.thumbnail:hover span{ /*CSS for enlarged image*/
visibility: visible;
top:-176px;
/*left: 230px;/* /*position where enlarged image should offset horizontally */
left:24px;
z-index: 50;
}


/*Estilos para el acorddion*/
#basic-accordian{
    border:5px solid #EEE;
    width:350px;
}

.accordion_headings{
    padding:5px;
    background:#880903;
    color:#FFFFFF;
    border:1px solid #FFF;
    cursor:pointer;
    font-weight:bold;
}

.accordion_headings:hover{
    background:#880903;
}

.accordion_child{
    padding:15px;
    background:#EEE;
}

.header_highlight{
    background:#880903;
}
#frmRegistro input.campochico{
    font-size:14px;
    height:20px;
    width:250px;
    padding:4px 4px 3px 6px;
    background-image:url(../images/input_smaller.jpg);
}
/*URL: http://www.dynamicdrive.com/style/ */