@charset "utf-8";
/* CSS Document */

.col_izquierda {
	width:48%;
	padding:0 5px 5px 5px;
	float:left;
	overflow:auto;
}

.col_derecha {
	width:48%;
	padding:0 5px 5px 5px;
	float:right;
	overflow:auto;
	text-align:left;
}

#divisi {
	float:left;
	width:5px;
	background-image:url(../img/divisor_v.jpg);
	background-repeat:repeat-y;
	margin-top:5px;
	height:185px;
}

.recuadro {
/*	display:none; */
	border:solid 1px #B8B6DA;
	overflow:auto;
	margin: 5px 0 10px 0;
	background-color:#eeeeee;
	text-align:center;
	padding-top:10px;
}
.recuadro.mostrar {
	display:block;
}
.recuadro h3 {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#B40F19;
	text-align:center;
	padding:0;
}
.unfloat {
	clear:both;
	text-align:center;
}
#share {
	text-align:center;
	margin-bottom:10px;
}
#share.mostrar {
display:block;
}
.share {
	vertical-align:bottom;
	cursor: pointer;
	padding:0 0 0 12px;
}
.invitar {
	display:none;
}
.botvidriera_small {
	background-image:url(img/spritebot_bg_micuenta_small2.jpg);
	color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	border: solid #9595aa 1px;
	text-align:center;
	height:28px;
	cursor:pointer;
	vertical-align: text-top;
	margin:0 5px;
	padding:0 7px;
}
.botvidriera_small:hover {
	background-position: 0 -28px;
}
h1 {
	font-family:'trebuchet MS';
	font-weight:bold;
	font-size:14px;
	color:#B40F19;
	padding:0;
}
#secure {
	background: url(../img/secure.jpg) 10px 5px no-repeat;
	height:32px;
	padding:0 5px 0 35px;
	color:#999;
	text-align:left;
}
form {
	margin:0;
}
.twitter-share-button {
	position:relative;
	top:7px;
	padding:0 10px;
}
.fb-share-button {
	padding:0 10px;
}

.fb_iframe_widget { 
position: relative;
vertical-align: middle;
}