@charset "utf-8";
/* CSS Document */
.txt_fincompra, .txt_fincompra a, .txt_fincompra a:hover{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px; color:#666; text-decoration:none;}
.txt_fincompra_especial, .txt_fincompra_especial a, .txt_fincompra_especial a:hover{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px; color:#AC1D1D; font-weight:bold; text-decoration:none;}
.txt_fincompra_mini, .txt_fincompra_mini a, .txt_fincompra_mini a:hover{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:9px; color:#666; text-decoration:none; font-weight:light;}
/*ESTRUCTURA*/
#fincompra_box{  margin:0; background-color:#FFF; }
#fincompra_title{height:61px;  margin:0; text-align:left;}
#fincompra_topbar{height:5px;  margin:0; background:url(img/barra.gif) repeat-x #BBB;}
#fincompra_cont_box{float:left; border-left:2px solid #F4F4F4; border-bottom:2px solid #F4F4F4; border-right:2px solid #F4F4F4; margin:0;}
#fincompra_cont_txt{width:186px; float:left; padding:20px; margin:0; text-align:justify; border-right:2px solid #F4F4F4; background-color:#FBFBFB;}
#fincompra_img{width:auto; height:292px; float:left; text-align:left; margin:0;}



