* {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%
}

.clear { clear: both; }

a {
	text-decoration: none;
}

a:hover {
	color: #F00;
}

#container {
	margin: 10px auto;
	width: 830px;
	font-size: 1.3em;
}

	#container.cusers {
		width: auto;
		padding: 10px;
		margin: 0;
	}

#main {
	float: left;
	width: 570px;
	margin-right: 10px;	
}

#extra {
	float: right;
}

h1 {
	color: #06C;
	font-weight: normal;
	font-size: 1.5em;
	margin: 20px 0;
}

h2 {
	color: #06C;
	font-weight: normal;
	font-size: 1.3em;
	padding-top: 20px;
}

#mainStats {
	
}
		
	#mainStats th.left {
		width: 100px;
	}
	
	#mainStats td {
		width: 20%;
		vertical-align: middle;
		text-align: center;
	}

		
table {
	border-collapse: collapse;
	width: 100%;
	clear: both;
	border-bottom: 1px solid #06C;
}

	table td, table th {
		border: 1px solid #06C;
		padding: 5px 10px;
		vertical-align: top;
	}
	
	table th {
		color: #06C;
		text-align: left;
	}
	
		table thead input,
		table thead select {
			width: 100%
		}
	
	table tr.alt td, table tr.alt th {
		background-color: #DEF;
	}
	
	table tr.respondida td {
		border-bottom: 0 none;
		cursor: pointer;
	}
	
	table tr.respuesta td {
		background-color: #fff;
		background-image: url(../img/respuesta.jpg);
		background-repeat: repeat-x;
		background-position: top;
		padding: 0;
		border-top: 0 none;
	}
	
		table tr.respuesta table {
			border: 0 none;
		}
	
		table tr.respuesta table td {
			padding: 10px;
			border: 0 none;
		}
	
	table td.disabled {
		color: gray;
	}
	
	table td.dato {
		width: 60px;
		text-align: right;
	}
	
	table .sortcol {
		cursor: pointer;
		padding-right: 20px;
		background-repeat: no-repeat;
		background-position: 90% 30%;
	}
	
	table .sortasc {
		background-color: #eef4fa;
		background-image: url(../img/up.gif);
	}
	
	table .sortdesc {
		background-color: #eef4fa;
		background-image: url(../img/down.gif);
	}

/* Menu */

#menu {
	background-color: #DEF;
	height: 50px;
	font-size: 1.2em;
}

	#menu div {
		width: 830px;
		margin: auto;
	}

	#menu ul {
		padding-top: 25px;
	}

	#menu li {
		display: block;
		float: left;
	}
	
	#menu li a {
		display: block;
		background-color: #06C;
		color: #FFF;
		padding: 0 10px;
		line-height: 25px;
	}
	
	#menu li a:hover {
		background-color: #FFF;
		color: #06C;
	}
	
		.global #menu li.global a,
		.invit #menu li.invit a,
		.pedidos #menu li.pedidos a,
		.user #menu li.user a,
		.partners #menu li.partners a,
		.codigos #menu li.codigos a,
		.newsletters #menu li.newsletters a {
			background-color: #FFF;
			color: #06C;
			font-weight: bold;
		}
	
/* Statistics_global */

.column {
	width: 405px;
	float: left;
}

	.columnRight {
		margin-left: 20px;
	}

.stats {
	clear: both;
}

	.stats table {
		margin-top: 10px;
	}
	
form.filtro {
	font-size: 0.8em;
	margin-top: 10px;
}

	form.filtro div.options {
		display: none;
		padding-top: 20px;
		clear: both;
	}

	form.filtro input,
	form.filtro select {
/*		font-size: 0.8em;*/
		font-size: 12px;
		padding:1px 0 1px 2px;
		display: block;
		margin-top: 2px;
		width: 180px;
	}
	
	form.filtro label {
		float: left;
		width: 180px;
		margin-left: 10px;
		margin-bottom: 10px;
	}
	
	form.filtro input.submit {
		float: right;
		width: auto;
		padding: 5px;
		font-size:12px;
	}
	
	form.filtro label.checkbox {
		float: none;
		clear: left;
	}
	
		form.filtro label.checkbox input {
			width: auto !important;
			display: inline !important;
		}
	
.options .submit{
	margin-right:15px;
	
}
	
	form.filtro input.filtrar {
		position: absolute;
		margin-top: -35px;
		margin-left: 358px;
	}
	
		.singleColumn form.filtro input.filtrar {
			margin-left: 783px;
		}
		
.pagination {

}

	.pagination .prev {
		float: left;
		width: 150px;
		margin-top: 15px;
	}
	
	.pagination .next {
		float: right;
		width: 150px;
		text-align: right;
		margin-top: 15px;
	}
	
	.pagination .info {
		float: left;
		text-align: center;
		width: 530px;
		color: #999;
		padding: 15px 0;
	}
	
	.pagination a {
		color: #06C
	}
	
table.reporte {
	font-size: 0.85em;
}

	table.reporte span {
		display: block;
		color: #666
	}
	
	
a.xls_ico,
a.pdf_ico {
	background-image: url(../img/xls_ico.png);
	background-repeat:no-repeat;
	background-position:left 1px;
	padding-left:23px;
	padding-bottom: 10px;
	color:#000;
	text-decoration:none;
}

a.pdf_ico{
	background-image: url(../img/pdf_ico.png);
	left: 20px;
	position: relative;
}

a.xls_ico:hover,
a.pdf_ico:hover {
	text-decoration:underline;
}