*{margin:0px;padding:0px;font-family: Calibri,Arial;font-size:12px;}
body{margin:20px;}
div{margin-top:20px;}
h3{font-size:16px;margin:10px;}
h4{font-size:14px;margin-bottom:10px;}
h5{font-size:13px;margin-bottom:10px;}
#datComp{float:left;margin-right: 50px;}
#dirEnv form { padding-bottom: 20px }
#dirEnv form p { margin-bottom: 10px }