* {margin:0; padding:0;}
* img {border:0; text-decoration:none;}
fieldset {border:none;}


/* Cart Table */
#cart {width:99%; clear:both; background:#cecece; font-size:12px; color:#515050;    margin: 0 0 0.3em;}
thead, thead th {border-bottom:1px solid #aaaaaa; padding:0px 10px; background:#eeeeee;  font-weight:bold;color:#515050;font-size: 12px;letter-spacing: 0.2px; height:30px; border-right:1px dotted #aaaaaa; text-align:center;}
.ultima { border-right: none;}
#titular { padding:5px 10px 0; background-color:#cecece; width:653px;}

th {padding:7px 5px; font-size:9px; background:#f9f9f9; color:#808080;}
th, tbody td {text-align:center; }
#cart-container tbody td {padding:5px 5px 0px; vertical-align:top; border-bottom:1px dotted #bebebe;}
.amt {width:70px; padding-right:19px; }


.desc {width:376px; text-align:left; }
.desc .prodImg {float:left; border:solid 1px #bebebe; margin-bottom:5px;}
.desc h4 {font-size:12px; padding:0; text-align:left;color:#515050;}
.desc h4, .details {margin:0 0 5px 60px;}
.details {font-size:10px; }
.details ul { display:block;}
.details li, .details b {margin:0 3px 3px 0; list-style:none; display:inline-block;}

.each {width:142px; font-size:12px; ;text-align:center;}
.each h5 {padding:1px 0; font-size:11px; color:#ed282f;}
.each .stockMsg {padding-top:5px; font-weight:bold; text-transform:uppercase;text-align:center;}
.each del {margin:0; font-size:10px; font-weight:normal; color:#808080;}

#cart h5 {margin:0; padding:2px 0; font-size:12px; color:#ed282f;}

td.qty {width:26px;text-align:center;}
.qty form, .gcQty {margin-bottom:15px;text-align:center;}
.qty form input {width:35px; margin:2px 8px 5px;text-align:center;}
.qty select {width:40px;text-align:center;}

a.remove {display:inline-block; padding-top:5px; font-size:10px; text-decoration:none; color:#808080; background-position:-231px 2px;text-align:center;}
a.remove:hover {text-decoration:underline;}
 
tfoot td {text-align:right; background:#eeeeee; padding:0;}
tfoot .sum {text-align:left;}
tfoot .btn {margin-right:20px;}
#subtotal td {background-color:#870C14; font-family:'trebuchet MS', helvetica, arial;font-weight:bold;color:#fff;font-size: 12px;padding-bottom:8px;letter-spacing: -0.5px;}
#ahorro { margin:0 0 0 7px; padding:0 5px;height:85px; text-align:left; position:relative;font-size:14px;}
#ahorro p { margin:0;padding:0 5px;}
#ahorro .col_izquierda p {text-align:left;}
#ahorro .col_derecha p {text-align:right;}
#ahorras {background-image:url(../img/bg_ahorro.jpg); background-repeat:no-repeat; top:41px; height:44px;color:#707070; position:absolute; width:93%; padding:0 10px;}
#ttotal td {background:#cecece; font-weight: normal;border:none;}
#ttotal {color:#b40f19; font-size:14px;}
#ttotal .sum {vertical-align:middle;}
#ttotal .amt {}
#cabecera {background:#870C14; font-family:'trebuchet MS', helvetica, arial; font-weight:bold;color:#fff;font-size: 14px;padding-bottom:8px;}

.addcred {text-align: right; font-size: 11px;padding:0 10px 0 0;color:#43437D;}
.addcred a {color:#373764;}
.addcred a:hover {color:#FF1623;text-decoration: underline;}
#credform {text-align: right; font-size: 10px;padding-bottom:10px;}
#credform p {text-align: right;padding: 3px;float:right;clear:both;}

.descu {font-size: 12px;font-weight: bold;padding-right: 3px;}

.direccionenvio {width:100%; clear:both; border-collapse:collapse; background:#fff;}

.moddir a {color:#515050;text-decoration: underline; font-weight:bold; display:block; padding-top:5px;}
.moddir a:hover {color:#606060;}

.dirnenvioform {border:1px solid #999999; color:#696969; clear:both; background:#fff; padding:10px 20px; overflow:auto;}
.dirnenvioform h4 {font-family:'trebuchet MS', helvetica, arial; font-size: 14px;font-weight: bold;color:#505096;margin-bottom:7px;letter-spacing: -0.5px;}
.dirnenvioform p label {width: 100px; display:block; float:left;}
.dirnenvioform p {margin-bottom:5px;}

/* OCA */
.logo { margin: 20px; display: block; float: none !important }
.logo img, .logo input { vertical-align: middle; }
.logo img { margin-left: 20px }
.envios {
	display: none;
	padding-left:8px;
}
.direccionenvio.oca label {padding: 10px 10px 0 0;display: block; float: left;}
.direccionenvio.oca select { display: block}
.direccionenvio.oca .sucursal {display: none}
#sucInfo { margin-top: 20px }

.contres {width:49%; clear:both; border-collapse:collapse; background:#dedede; float:left;}
.rescompra {border:1px solid #e8e8e8; color:#696969; clear:both; background:#dedede; padding:20px 20px 0; height:140px;}
.rescompra p {text-align: left; font-size: 12px;}
.rescompra p span.title {width:200px;display:block; float:left;}
.rescompra span.price {float:right;}

.contslide {width:49%; border-collapse:collapse; background:#fff; float:right;}
.slides {border:1px solid #e8e8e8; color:#696969; clear:both; background:#dedede; padding:10px 15px; height:140px;}

#resumen {padding-top:5px;}
#resumen td {padding:0; border-bottom: dotted thin; text-align:left;}

.creditcardin {float:left; margin: 8px; vertical-align: middle;}
.creditcardin input {margin-top:17px;float:left}

.infoBox {float:left; margin: 10px; vertical-align: middle;}
.infoBox p {margin-top:17px;margin-right: 3px;}
.infoBox a {color:#696969;}
.infoBox em {
background: #505096;
color:#fff;
font-size:11px;
font-style:normal;
line-height:11px;
margin-left:100px;
margin-top:-65px;
padding:5px;
width:160px;
position: absolute;
text-align: justify;
z-index: 2;
display:none;
}


h2 {color:#696969; font-size:14px; text-decoration:underline; font-weight:bold; }
h3 {color:#696969; font-size:13px; font-weight:bold; }
hr {background-color:#f0eeff; height: 0; border-bottom: 1px dotted #696969; }

.text3 {font-size: 10px;}

.disabled {
	opacity: .5;
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
	filter: alpha(opacity=50);
}
#cart-container #totales{
	margin:0;
	font-weight:bold;
}
#cart-container #totales td{
	padding:3px 3px;
	border-bottom:1px dotted #828282;
}
p.error{
	font-size: 13px;
	font-weight: bold;
	color: red;
	margin: 5px 0 0;
	text-align:left;
}
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
.window {
  position:absolute;
  left:0;
  top:0;
  width:350px;
  height:180px;
  display:none;
  z-index:9999;
  padding:20px;
}

.envio .logo {
	margin-left: 268px;
	margin-top: 5px;
	position: absolute;
	z-index: 100;
	cursor: pointer;
}

#userpass-container {
	background-color:#fff;
}

#userpass-container input {
	border:auto;
	background-color:auto;
	padding:2px;
	color:auto;
	margin:5px;
}

#userpass-container .form-info {
	text-align:right;
}

#userpass-container .form-container {
	margin-bottom: 20px;
}

#userpass-container .form-data {
	text-align:left;
}

#userpass-container .close-button {
	position:absolute;
	top:5px;
	right:10px;
}