@charset "utf-8";
/* CSS Document */
BODY { background-color: #EEE; font:8pt Verdana, Geneva, Arial, Helvetica, sans-serif; color:#6E6B59;	margin:10px 0 0 0; text-align:center; position:relative; width: auto !important}
#carr_contenedor{width:756px; min-height:600px; margin:0 auto; z-index:1; }
#carr_logo{width:254px; height:97px; float:left; margin:0;}
#carr_logintxt{width:300px; height:20px; float:right; margin-left:10px; text-align:left;}

/* CONTENIDO DEL CARRITO - CONTENEDORES */
#carr_cont_ecomm{width:756px; min-height:600px; background-color:#FFF; float:left; margin:0;}
#carr_subcont_ecomm{width:716px; height:auto; margin:20px; float:left;}

/* TIPOS */
.carr_tit_ppal{font-family:Arial, Helvetica, sans-serif; font-size:22px; color:#262626;}
.carr_tit_campa{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#262626;}
.carr_detail{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#262626;}
.carr_tit_prod{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#262626; font-weight:bold;}
.carr_price{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#262626;}
.carr_talle{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666; text-decoration:none;}
.carr_talle a{text-decoration:none; color:#666;}
.carr_talle a:hover{color:#BA1F26;}
.carr_ahorro{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#BA1F26;}
.carr_price_before{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666; text-decoration:line-through;}
.carr_total{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#FFF; font-weight:bold;}
.carr_compra_geelbe{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#D72B2B;font-weight:bold;}
.carr_compra_g_price{font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#D72B2B; font-weight:bold;}
.carr_compra_leyend{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#999;}

/* PRODUCTOS TITULOS */
#carr_tit_ppal{width:716px; height:20px; float:left; margin:10px 0 30px 0; text-align:left;}
#carr_subtitulo{width:400px; height:15px; float:left; margin:0; text-align:left;}
#carr_subt_precio{width:105px; height:15px; float:left; margin:0; text-align:center;}
#carr_separador{width:716px; height:5px; background:url(../img/rayas.jpg) repeat-x; float:left; margin-top:10px;}

/* PRODUCTOS DETALLE */
#carr_prod_contenedor{width:714px; height:74px; margin:0; float:left; border-left:1px solid #C3C3C3; border-bottom:1px solid #C3C3C3; border-right:1px solid #C3C3C3;}
#carr_prod_img{width:52px; height:52px; float:left; margin:10px; border:1px solid #C3C3C3;}
#carr_prod_detail{width:324px; height:auto; float:left; margin-top:13px; text-align:left;}
#carr_prod_precio{width:105px; height:52px; float:left; text-align:center; margin-top:20px;}
#carr_prod_cant{width:105px; height:42px; float:left; text-align:center; margin-top:20px;}
#carr_prod_tot{width:105px; height:42px; float:left; text-align:center; margin-top:30px;}

#discount { text-align: left; width: 385px; }
#discount input { width: 230px; float: left; height: 16px; margin: 10px 0 }
#discount table { margin: 10px 0 !important }
#discount .error { font-weight: bold; color: red }

/* AHORRO */
#carr_ahorro_cont{width:330px; height:auto; float:left; margin:15px 0 0 10px;}
#carr_ahorro_tit{width:209px; height:auto; float:left; margin:5px 0 7px 5px; text-align:left;}
#carr_ahorro_price{width:106px; height:34px; float:left; margin-bottom:7px; padding: 13px 5px 0 0; text-align:right; background-image:url(../img/ahorro_fnd.jpg);}

/*TOTALES*/
#carr_tot_cont{width:350px; height:auto; margin:0; float:right; border-left:1px solid #C3C3C3; border-bottom:1px solid #C3C3C3; border-right:1px solid #C3C3C3; padding-top:3px;}
#carr_tot_item{width:285px; height:20px; margin:0; float:left; text-align:left; padding-left:3px;}
#carr_tot_price{width:60px; height:20px; margin:0; float:left; text-align:right;}
#carr_tot_item_total{width:285px; height:18px; margin:0; float:left; text-align:left; background-color:#999; padding:2px 0 0 3px;}
#carr_tot_price_total{width:62px; height:18px; margin:0; float:left; text-align:right; background-color:#999; padding-top:2px;}
#carr_credito{width:710px; height:15px; margin:5px 0; padding-right:6px; text-align:right; float:left;}

/*DESCUENTO*/
#credform {text-align: right; font-size: 10px;padding-bottom:10px;}
#credform p {text-align: right;padding: 3px;float:right;clear:both;}
.descu {font-size: 12px;font-weight: bold;padding-right: 3px;}

/*ENVIO*/
.complete { border:1px solid #DA1F26 !important }
#carr_envio_cont{margin-top:20px; text-align:left; border:1px solid #C3C3C3; padding:10px 15px;}
#carr_envio_tit{height:20px; border-bottom:3px solid #CCC; text-align:left; padding-bottom:4px; margin-bottom:20px;}
.carr_envio_option{width:125px; height:65px; float:left; margin:0 30px 0 0; text-align:center;}
.carr_envio_option input,
.carr_envio_option img { vertical-align: middle }
#envio5 label { display: block; margin: 0 0 10px 0 }
#envio5 label span { display: block; width: 70px; float: left}
#fecha-entrega { margin-top: -45px; position: absolute; width: 685px; text-align: right; font-size: 13px; }
.shippingInfo { float: left; }

/*PAGO*/
#carr_pago_cont{margin-top:30px; text-align:left; border:1px solid #C3C3C3; padding:10px 15px;}
#carr_pago_tit{height:20px; border-bottom:3px solid #CCC; text-align:left; padding-bottom:4px; margin-bottom:13px;}
.carr_pago_option{ margin-bottom:20px; text-align: left;}
.carr_pago_option.gcash { margin-bottom: 0 }
.carr_pago_option input,
.carr_pago_option img { vertical-align: middle }

/*Back & PAGAR & footer*/
#carr_bt_back{width:181px; height:30px; float:left; margin:20px 0; text-align:left;}
#carr_bt_pagar{width:181px; height:30px; float:right; margin:20px 0; text-align:right;}
#carr_footer{width:100%; height:auto; float:left; margin-top:10px; text-align:center;}

/* DIRECCION INLINE*/
#saveAddress { width: 360px; margin-top: -10px; }
#saveAddress p { float: left; margin-bottom: 5px; margin-right: 5px }
#saveAddress table.btnRed { top: 8px; position: relative }

/* DIRECCION POPUP*/
.direccionenvio {width:100%; clear:both; border-collapse:collapse; background:#fff;}

.moddir a {color:#515050;text-decoration: underline; font-weight:bold; display:block; padding-top:5px;}
.moddir a:hover {color:#606060;}

.dirnenvioform {border:1px solid #999999; color:#696969; clear:both; background:#fff; padding:10px 20px; overflow:auto; text-align: left}
.dirnenvioform .col_izquierda { width: 47% }
.dirnenvioform h4 {font-family:'trebuchet MS', helvetica, arial; font-size: 14px;font-weight: bold;color:#505096;margin-bottom:7px;letter-spacing: -0.5px;}
.dirnenvioform p label {width: 100px; display:block; float:left;}
.dirnenvioform p {margin-bottom:5px;}

/*USERLOGIN*/
.window {
  position:absolute;
  left:0;
  top:0;
  width:350px;
  height:180px;
  display:none;
  z-index:9999;
  padding:20px;
}

#userpass-container {
	background-color:#fff;
	box-shadow: 0 0 15px rgba(0,0,0,0.2)
}

#userpass-container input {
	border:auto;
	background-color:auto;
	padding:2px;
	color:auto;
	margin:5px;
}

#userpass-container .form-info {
	text-align:right;
}

#userpass-container .form-container {
	margin-bottom: 20px;
}

#userpass-container .form-data {
	text-align:left;
}

#userpass-container .close-button {
	position:absolute;
	top:5px;
	right:10px;
}