body
{
	background-color:#979797;
}

table#base
{
	background-image:url(../../images/base.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	margin:0;
}

table#pie
{
	background-image:url(../../images/pie.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

td#contenido_top
{
	background-image:url(../../images/contenido_top.gif);
	background-repeat:no-repeat;
	background-position:top center;
}

td#contenido_centro
{
	background-image:url(../../images/contenido_center.gif);
	background-repeat:repeat-y;
	background-position:top center;
}

td#contenido_bot
{
	background-image:url(../../images/contenido_bot.gif);
	background-repeat:no-repeat;
	background-position:top center;

}

td#contenido_cabecera{
	background-image:url(../../images/contenido_cabecera.jpg);
	background-repeat:no-repeat;
	background-position:top left;
}

.txtblack {
	font-family: "Arial";
	font-size: 10px;
	font-style: bold;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	color: #333333;
	letter-spacing: 0.02em;
	text-align: justify;
	word-spacing: 0em;
}
.imputbportada {
	font-family: "Arial";
	font-size: 11px;
	font-style: normal;
	line-height: 12px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #999999;
	letter-spacing: 0.02em;
	text-decoration: none;
	background-color:#F3F3F3;
	border:none;
}
.imputs {
	font-family: "Arial";
	font-size: 11px;
	font-style: normal;
	line-height: 12px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #0033FF;
	letter-spacing: 0.02em;
	text-decoration: none;
	background-color: #EEEEEE;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
table#fondo-contenido
{
/*	background-image:url(../images/fondo_contenido.jpg);
	background-position:top center;
	background-repeat:repeat-y;*/
}

.logout{
	font-family:Helvetica,Arial, Verdana;
	font-size: 10px;
	color: #FFFFFF;
}
.tellafriend{
	font-family:Helvetica,Arial, Verdana;
	font-size: 12px;
	color: #FFFFFF;
	font-weight:bold;
}

a:link {color: #ffffff; }
a:visited {color: #ffffff; }
a:active {color: #ffffff;}
a:hover {color: #ffffff;}
a {text-decoration: none}

.input_amigo
{
	font-family: Perpetua, Verdana, Arial, Helvetica;
	font-size:12px;
	border:none;
}

.titulo{
font-size:14px;
font-weight:bold;
}