.infopedidos {margin:20px;padding:0px;font-family: Calibri,Arial;font-size:12px;}
.infopedidos div{margin-top:20px;}
.infopedidos h3{font-size:16px;margin:10px;}
.infopedidos h4{font-size:14px;margin-bottom:10px;}
.infopedidos h5{font-size:13px;margin-bottom:10px;}

#datComp{float:left;margin-right: 50px;}
