*{padding:0px;margin:0px;font-size: 11px;font-family: Verdana, Arial, Helvetica;}
h3{margin:30px 0px 5px 60px;color:#444;}
h4{color:#444444;margin:60px;text-decoration:underline;}
#contenedor{width: 964px;margin: 10px auto;background: #f9f9f9 url(images/back.jpg) bottom repeat-x;}
#datos,#campanias,#producto,#detalle,#carrito{width: 950px;border-top: #444 1px solid;margin: 20px 10px 0px 10px;}
#datos{background: url(images/datos.png) no-repeat;}
#datos p{margin-top: 10px;}
.aviso{font-size:9px;color:#444;}
.aviso em{font-size:9px;font-weight:bold;}
#campanias{background: url(images/campanias.png) no-repeat;}
.last{clear:right;}
.post, .botMas, .botQuitar{cursor:pointer;}
.post{float:left;}
.post:hover{font-weight:bold;color:#444;}
.seleccionado{font-weight:bold;color:#444;}
#campanias ul, #producto ul{list-style: none;text-align: center;margin: 10px 0px 20px 30px;}
#campanias li, #producto li, #detalle li, #carrito li{margin-top: 5px;}
#producto{background: url(images/producto.png) no-repeat;}
#producto ul{width:100px;height:106px;}
#producto ul.post li img{width:48px;height:50px}
#detalle{background: url(images/detalle.png) no-repeat;}
#detalle ul{margin: 15px 0px 0px 60px;list-style: none;}
#detalle select{margin-right: 10px;}
.botMas{list-style-image: url(images/mas.png);margin-left: 30px;}
#carrito{background: url(images/carrito.png) no-repeat;padding-bottom: 20px;}
#carrito ul{list-style: none;margin: 15px 0px 0px 60px;}
.botQuitar{margin-left: 30px;list-style-image: url(images/quitar.png);}
#carrito p{text-align: center;}
#footer{width:964px;height:50px;;margin:-10px auto;background:url(images/bgfoot.jpg)no-repeat;}
#footer p{color:#444;font-size:9px;text-align:right;padding:20px 10px;}
*html #campanias, *html #producto{height:1%;} /* IE 6 */
*+html #campanias{height:1%;} /* IE 7 */
#campanias:after, #producto:after{content:".";display:block;clear:both;height:0;visibility:hidden;}